<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#DataFrame으로-단변량-데이터-표현" data-toc-modified-id="DataFrame으로-단변량-데이터-표현-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame으로 단변량 데이터 표현</a></span></li><li><span><a href="#Creating-a-DataFrame" data-toc-modified-id="Creating-a-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Creating a DataFrame</a></span><ul class="toc-item"><li><span><a href="#using-NumPy-function-results" data-toc-modified-id="using-NumPy-function-results-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>using NumPy function results</a></span></li><li><span><a href="#칼럼-확인-및-지정하기" data-toc-modified-id="칼럼-확인-및-지정하기-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>칼럼 확인 및 지정하기</a></span><ul class="toc-item"><li><span><a href="#DataFrame.columns" data-toc-modified-id="DataFrame.columns-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><code>DataFrame.columns</code></a></span></li><li><span><a href="#pd.DataFrame(columns-=-'list')" data-toc-modified-id="pd.DataFrame(columns-=-'list')-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span><code>pd.DataFrame(columns = 'list')</code></a></span></li></ul></li><li><span><a href="#로우-확인" data-toc-modified-id="로우-확인-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>로우 확인</a></span><ul class="toc-item"><li><span><a href="#row-length-:-len(df)" data-toc-modified-id="row-length-:-len(df)-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>row length : <code>len(df)</code></a></span></li></ul></li><li><span><a href="#차원-확인" data-toc-modified-id="차원-확인-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>차원 확인</a></span><ul class="toc-item"><li><span><a href="#dimension-:-df.shape" data-toc-modified-id="dimension-:-df.shape-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>dimension : <code>df.shape</code></a></span></li></ul></li><li><span><a href="#using-a-Python-dictionary-and-pandas-Series-objects" data-toc-modified-id="using-a-Python-dictionary-and-pandas-Series-objects-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>using a Python dictionary and pandas Series objects</a></span><ul class="toc-item"><li><span><a href="#Dictionary" data-toc-modified-id="Dictionary-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Dictionary</a></span></li><li><span><a href="#pandas-Series" data-toc-modified-id="pandas-Series-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>pandas Series</a></span></li><li><span><a href="#Series를-이용할-때-컬럼-설정" data-toc-modified-id="Series를-이용할-때-컬럼-설정-3.5.3"><span class="toc-item-num">3.5.3&nbsp;&nbsp;</span>Series를 이용할 때 컬럼 설정</a></span></li></ul></li><li><span><a href="#Creating-a-DataFrame-from-a-CSV-file" data-toc-modified-id="Creating-a-DataFrame-from-a-CSV-file-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Creating a DataFrame from a CSV file</a></span><ul class="toc-item"><li><span><a href="#.head()로-구조와-콘텐츠-확인" data-toc-modified-id=".head()로-구조와-콘텐츠-확인-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span><code>.head()</code>로 구조와 콘텐츠 확인</a></span></li><li><span><a href="#len()-,-.shape-,-.size" data-toc-modified-id="len()-,-.shape-,-.size-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span><code>len()</code> , <code>.shape</code> , <code>.size</code></a></span></li><li><span><a href="#.index-,-.columns" data-toc-modified-id=".index-,-.columns-3.6.3"><span class="toc-item-num">3.6.3&nbsp;&nbsp;</span><code>.index</code> , <code>.columns</code></a></span></li></ul></li></ul></li><li><span><a href="#DataFrame-안의-데이터-접근" data-toc-modified-id="DataFrame-안의-데이터-접근-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DataFrame 안의 데이터 접근</a></span><ul class="toc-item"><li><span><a href="#Selecting-columns-of-a-DataFrame" data-toc-modified-id="Selecting-columns-of-a-DataFrame-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Selecting columns of a DataFrame</a></span><ul class="toc-item"><li><span><a href="#[column_name]" data-toc-modified-id="[column_name]-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span><code>[column_name]</code></a></span></li><li><span><a href="#attribute-접근법" data-toc-modified-id="attribute-접근법-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>attribute 접근법</a></span></li></ul></li><li><span><a href="#Selecting-rows-of-a-DataFrame" data-toc-modified-id="Selecting-rows-of-a-DataFrame-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Selecting rows of a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.loc[]" data-toc-modified-id=".loc[]-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span><code>.loc[]</code></a></span></li><li><span><a href="#.iloc[]" data-toc-modified-id=".iloc[]-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span><code>.iloc[]</code></a></span></li></ul></li><li><span><a href="#Scalar-lookup-by-label-or-location-using-.at[]-and-.iat[]" data-toc-modified-id="Scalar-lookup-by-label-or-location-using-.at[]-and-.iat[]-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Scalar lookup by label or location using <code>.at[]</code> and <code>.iat[]</code></a></span></li><li><span><a href="#Slicing-using-the-[]-operator" data-toc-modified-id="Slicing-using-the-[]-operator-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Slicing using the <code>[]</code> operator</a></span></li></ul></li><li><span><a href="#Selecting-rows-using-Boolean-selection" data-toc-modified-id="Selecting-rows-using-Boolean-selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Selecting rows using Boolean selection</a></span></li><li><span><a href="#Selecting-across-both-rows-and-columns" data-toc-modified-id="Selecting-across-both-rows-and-columns-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Selecting across both rows and columns</a></span></li></ul></div>

# Configuring pandas

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# DataFrame으로 단변량 데이터 표현

DataFrame 객체는 Series 객체를 2차원으로 확장한 것으로, DataFrame의 각 로우는 하나가 아닌 여러 개의 값을 가질 수 있으며, 각 값은 칼럼으로 표현된다. 따라서 데이터 프레임의 각 로우는 관찰 대상의 여러 속성이 모델링된 것이며(표현된 것이며), 각 칼럼은 서로 다른 데이터 타입으로 표현될 수 있다.  

데이터 프레임의 각 칼럼은 pandas의 Series이며, DataFrame 자체는 스프레드시트나 데이터베이스 테이블과 같은 형태를 갖는다.  
그러나 **데이터프레임은 Series 객체의 각 칼럼에 해당하는 데이터의 자동 정렬 등 pandas에 특화된 매우 차별화된 기능을 제공**하는 점에서 차별화된다. 

데이터 프레임의 자동 정렬은 탐색적 데이터 분석(Exploratory Data Anlysis)에 있어서 스프레드시트나 데이터베이스보다 훨씬 탁월한 능력을 보여주며, 로우와 칼럼의 동시 슬라이싱 기능과 함께 사용되면 원하는 정보를 찾는 데 있어서 데이터와의 상호작용과 탐색 능력이 매우 효과적이 된다.  
이 장에선 DataFrame에 대해 자세히 알아본다. 

- 파이썬 객체, NumPy 함수, 파이썬 딕셔너리, pandas Series 객체, CSV 파일로 DataFrame 만들기
- 데이터 프레임의 차원 판별
- 데이터 프레임의 칼럼명 지정과 조작
- 데이터 프레임 생성 시의 로우 정렬
- 데이터 프레임의 특정 칼럼과 로우 선택
- 데이터 프레임 슬라이싱
- 위치와 레이블을 이용한 데이터 프레임의 칼럼과 로우 선택
- 스칼라 값 검색
- 데이터 프레임에서의 불리언 선택

# Creating a DataFrame 
데이터 프레임 객체 생성

데이터 프레임을 만드는 방법은 다양하며, 일차원 또는 다차원 데이터셋으로부터 생성할 수 있다.  
- NumPy 함수의 결과 이용
- 리스트를 포함하는 파이썬 딕셔너리나 pandas Series 객체의 데이터 이용
- CSV 파일의 데이터 이용

\+ 칼럼명 지정, 초기화 시에 정렬을 수행하는 방법, 데이터 프레임의 차원 확인 방법 등

## using NumPy function results
NumPy 함수로 DataFrame 만들기

1차원과 2차원 NumPy 배열로부터 만드는 방식이다.  

첫 번째 칼럼에서는 생성된 인덱스 레이블을 보여준다.  
데이터 프레임 생성 시에 인덱스를 지정하지 않았으므로, pandas는 RangeIndex에 기초하여 0부터 시작하는 레이블을 부여한다.  

데이터는 두 번째 칼럼부터 있으며, 데이터 상단에 보이는 0이 칼럼명이다.  
데이터 프레임 생성 시에 컬럼을 지정하지 않으면, 0부터 시작하는 정수를 부여한다.

In [2]:
# From a 1-d array
pd.DataFrame(np.arange(1, 6))

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
# create a DataFrame from a 2-d ndarray
df = pd.DataFrame(np.array([[10, 11], [20, 21]]))
df

    0   1
0  10  11
1  20  21

## 칼럼 확인 및 지정하기 

### `DataFrame.columns` 

컬럼명을 지정하지 않으면 pandas가 RangeIndex에 기초해 칼럼을 만든다는 사실을 볼 수 있다.

In [4]:
# retrieve the columns index
df.columns

RangeIndex(start=0, stop=2, step=1)

### `pd.DataFrame(columns = 'list')`

`columns = `파라미터를 사용하여 칼럼을 지정할 수 있다.

In [5]:
# specify column names
df = pd.DataFrame(np.array([[70, 71], [90, 91]]),
                  columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0        70            71
1        90            91

## 로우 확인

### row length : `len(df)`

In [7]:
# how many rows?
len(df)

2

## 차원 확인
### dimension : `df.shape`

In [8]:
# what is the dimensionality
df.shape

(2, 2)

## using a Python dictionary and pandas Series objects
파이썬 딕셔너리와 pandas Series로 DataFrame 만들기

### Dictionary
파이썬 딕셔너리로부터 DataFrame을 초기화해 만들 수 있다.  
pandas는 **딕셔너리의 키와 값을 각각 컬럼명과 데이터로 사용**한다.

In [8]:
# initialization using a python dictionary
temps_missoula = [70, 71]
temps_philly = [90, 91]
temperatures = {'Missoula': temps_missoula,
                'Philadelphia': temps_philly}
pd.DataFrame(temperatures)

   Missoula  Philadelphia
0        70            90
1        71            91

### pandas Series
Serie로 만드는 방식은 객체 list를 이용하여 DataFrame을 만들 수 있다.  
만약 컬럼을 지정한다면 `columns = ` 파라미터를 사용하려 할 수 있지만, 이는 결측을 반환하게 되어있다.

In [9]:
# create a DataFrame for a list of Series objects
temps_at_time0 = pd.Series([70, 90])
temps_at_time1 = pd.Series([71, 91])
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df

    0   1
0  70  90
1  71  91

In [10]:
# try to specify column names
df = pd.DataFrame([temps_at_time0, temps_at_time1],
                  columns=['Missoula', 'Philadelphia'])
df

   Missoula  Philadelphia
0       NaN           NaN
1       NaN           NaN

### Series를 이용할 때 컬럼 설정
방법1: 데이터 프레임 생성 후 `df.columns = []`를 이용하여 지정한다.

In [11]:
# 1
# specify names of columns after creation
df = pd.DataFrame([temps_at_time0, temps_at_time1])
df.columns = ['Missoula', 'Philadelphia']
df

   Missoula  Philadelphia
0        70            90
1        71            91

방법2: 각 Series를 컬럼명과 함께 Dictionary 형태로 지정한다.

In [13]:
# 
# construct using a dict of Series objects
temps_mso_series = pd.Series(temps_at_time0)
temps_phl_series = pd.Series(temps_at_time1)
df = pd.DataFrame({'Missoula': temps_mso_series,
                   'Philadelphia': temps_phl_series})
df

   Missoula  Philadelphia
0        70            71
1        90            91

DataFrame이 구성될 때에는 주어진 Series들에 대해 정렬 작업이 일어난다는 점을 주의하기.  
즉, **기존에 없는 인덱스를 추가하게 될 경우 빈 곳은 `NaN`으로 나타나게 된다.**

In [14]:
# alignment occurs during creation
temps_nyc_series = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'Missoula': temps_mso_series,
                   'Philadelphia': temps_phl_series,
                   'New York': temps_nyc_series})
df

   Missoula  Philadelphia  New York
0      70.0          71.0       NaN
1      90.0          91.0      85.0
2       NaN           NaN      87.0

## Creating a DataFrame from a CSV file
CSV로 DataFrame 만들기

`pd.read_csv()` 함수를 이용하면 CSV 파일의 데이터로부터 데이터 프레임을 만들 수 있다.  

첫 라인은 칼럼명이며, 나머지 500개 라인은 서로 다른 500개 주식의 가치를 나타내는 데이터이다.  

인덱스로 사용할 칼럼을 지정('Symbol')했으며, 특정 칼럼 4개 (0, 2, 3, 7) 만 사용하도록 하였다.

In [15]:
# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("/Users/Angela/Desktop/Personal/Learning-Pandas-Second-Edition-master/data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

### `.head()`로 구조와 콘텐츠 확인

In [16]:
# peek at the first 5 rows of the data using .head()
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

### `len()` , `.shape` , `.size` 

로우 개수 즉 데이터 프레임의 길이를 확인하고, 구성된 차원을 확인하고, 데이터 프레임의 크기를 확인한다.  

`.size`는 데이터 값의 총 개수를 반환하기 때문에 500\*3 = 1500 개를 반환한다.

In [17]:
# how many rows of data?  Should be 500
len(sp500)

500

In [18]:
# what is the shape?
sp500.shape

(500, 3)

In [19]:
# what is the size?
sp500.size

1500

### `.index` , `.columns`

인덱스와 칼럼을 확인할 수 있다.  
총 4개의 칼럼을 사용하려 했으나 3개만 보인다. 한 개는 Index로 사용되었기 때문이다.

In [20]:
# examine the index
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [21]:
# get the columns
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

# DataFrame 안의 데이터 접근 

데이터 프레임은 로우와 칼럼으로 구성되어, 특정 로우와 칼럼에 있는 데이터를 선택하는 구조를 갖고 있다.  
선택 작업에는 `[]`, `.loc[]` , `.iloc[]` 등을 포함하여 Series와 동일하다.  
그러나 데이터프레임은 **다차원 구조**이므로 데이터 선택 프로세스는 약간 다르다.  

## Selecting columns of a DataFrame

### `[column_name]`
특정 칼럼을 선택하기 위해서 `[]`을 사용한다.  
Series에서는 로우를 지정했었다는 점에서 다르며, `[]`연산자에는 가져올 칼럼을 나타내는 단일 객체나 객체 리스트를 전달할 수 있다.

In [22]:
# retrieve the Sector column
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

DataFrame으로부터 하나의 칼럼을 가져오는 경우라면, 그 결과는 하나의 Series이다.

In [23]:
type(sp500['Sector'])

pandas.core.series.Series

여러개를 지정할 때는 리스트로.

In [24]:
# retrieve the Price and Book Value columns
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

DataFrame으로부터 복수의 칼럼을 가져오는 경우, 그 결과는 DataFrame이다.

In [26]:
# show that this is a DataFrame
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

### attribute 접근법
DataFrame에는 공백이 포함돼있지만 않다면 각 칼럼명과 동일한 이름의 속성이 포함된다. 다음은 속성 접근 방식으로 'Price' 칼럼을 가져오는 예시이다.  
그러나 'Book Value' 칼럼은 가져올 수 없다. 공백이 포함되어 있기 때문이다.

In [27]:
# attribute access of column by name
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

## Selecting rows of a DataFrame
데이터 프레임의 로우 선택

### `.loc[]` 
`.loc[]` 를 사용하여 인덱스 레이블로 로우를 가져올 수 있다.  
또한 레이블 리스트를 사용하여 여러 개의 로우를 가져올 수 있다.

In [29]:
# get row with label 'MMM'
# returned as a Series
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [30]:
# rows with label 'MMM' and 'MSFT'
# this is a DataFrame result
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

### `.iloc[]` 
`.iloc[]`를 사용하여 포지션으로 로우를 가져올 수 있다.  
특정 인덱스 레이블로 위치를 먼저 알아낸 다음, 그 포지션으로 로우를 가져오는 일도 가능하다.

In [31]:
# get rows in location 0 and 2
sp500.iloc[[0, 2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [32]:
# get the location of 'MMM' and A in the index
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

In [33]:
# and get the rows
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

## Scalar lookup by label or location using `.at[]` and `.iat[]`
`.at[index_label, column_name]` 이나 `.iat[index_position, column_position]` 을 사용해 레이블이나 위치로 스칼라 검색

개별 스칼라 값은 `.at[]`에 로우 레이블과 칼럼명을 넣어 검색할 수 있다.  
또한 `.iat[]`에는 로우와 칼럼의 포지션을 넣어 검색할 수 있으며, 이는 단일 값에 접근하고자 할 때 선호되는 고성능의 방법이다.

In [34]:
# by label in both the index and column
sp500.at['MMM', 'Price']

141.14

In [35]:
# by location.  Row 0, column 1
sp500.iat[0, 1]

141.14

## Slicing using the `[]` operator
`[]` 연산자를 사용한 슬라이싱

DataFrame을 '인덱스 기준'으로 슬라이싱하는 방법은 Series일 때와 문법적으로 동일하나, DataFrame에서만 적용할 수 있는 몇 가지가 있다.  
또한 DataFrame의 슬라이싱 역시 `.iloc[]`과 `.loc[]`를 사용할 수 있으며, 이 속성(attribute)들을 사용하는 것이 가장 바람직하다.  

1. 처음 5 로우 선택

In [36]:
# first five rows
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

2. 레이블 'ABT' 부터 레이블 'ACN' 까지 선택

In [38]:
# 'ABT' through 'ACN' labels
sp500['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

\+ `loc[]`와 `iloc[]`를 사용하는 방법

In [47]:
sp500.loc['ABT':'ACN', :'Price']

                        Sector  Price
Symbol
ABT                Health Care  39.60
ABBV               Health Care  53.95
ACN     Information Technology  79.79

In [49]:
sp500.iloc[2:4, :2]

                        Sector  Price
Symbol
ABBV               Health Care  53.95
ACN     Information Technology  79.79

# Selecting rows using Boolean selection

In [35]:
# what rows have a price < 100?
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [36]:
# now get the rows with Price < 100
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [37]:
# get only the Price where Price is < 10 and > 0
r = sp500[(sp500.Price < 10) & 
          (sp500.Price > 6)] ['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [38]:
# price > 100 and in the Health Care Sector
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price > 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

# Selecting across both rows and columns

In [39]:
# select the price and sector columns for ABT and ZTS
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53