<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DataFrame-구조-다루기" data-toc-modified-id="DataFrame-구조-다루기-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DataFrame 구조 다루기</a></span></li><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#Renaming-columns" data-toc-modified-id="Renaming-columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Renaming columns</a></span><ul class="toc-item"><li><span><a href="#.rename()-메서드" data-toc-modified-id=".rename()-메서드-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.rename()</code> 메서드</a></span></li><li><span><a href="#Adding-new-columns-with-[]-and-.insert()" data-toc-modified-id="Adding-new-columns-with-[]-and-.insert()-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Adding new columns with [] and .insert()</a></span><ul class="toc-item"><li><span><a href="#[]-로-새-컬럼-추가" data-toc-modified-id="[]-로-새-컬럼-추가-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><code>[]</code> 로 새 컬럼 추가</a></span></li><li><span><a href="#.insert()-메서드로-새-컬럼-추가" data-toc-modified-id=".insert()-메서드로-새-컬럼-추가-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span><code>.insert()</code> 메서드로 새 컬럼 추가</a></span></li></ul></li></ul></li><li><span><a href="#Adding-columns" data-toc-modified-id="Adding-columns-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Adding columns</a></span><ul class="toc-item"><li><span><a href="#.loc[]:-Adding-columns-through-enlargement" data-toc-modified-id=".loc[]:-Adding-columns-through-enlargement-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.loc[]</code>: Adding columns through enlargement</a></span><ul class="toc-item"><li><span><a href="#.loc[]속성과-슬라이싱을-사용한-칼럼-추가" data-toc-modified-id=".loc[]속성과-슬라이싱을-사용한-칼럼-추가-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span><code>.loc[]</code>속성과 슬라이싱을 사용한 칼럼 추가</a></span></li></ul></li><li><span><a href="#pd.concat():-Adding-columns-using-concatenation" data-toc-modified-id="pd.concat():-Adding-columns-using-concatenation-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>pd.concat()</code>: Adding columns using concatenation</a></span></li></ul></li><li><span><a href="#Reordering-columns" data-toc-modified-id="Reordering-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Reordering columns</a></span></li><li><span><a href="#Replacing-the-contents-of-a-column" data-toc-modified-id="Replacing-the-contents-of-a-column-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Replacing the contents of a column</a></span></li><li><span><a href="#Deleting-columns" data-toc-modified-id="Deleting-columns-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Deleting columns</a></span></li><li><span><a href="#Adding-rows" data-toc-modified-id="Adding-rows-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Adding rows</a></span><ul class="toc-item"><li><span><a href="#Appending-rows-from-other-DataFrame-objects-with-.append()" data-toc-modified-id="Appending-rows-from-other-DataFrame-objects-with-.append()-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Appending rows from other DataFrame objects with .append()</a></span></li><li><span><a href="#Concatenating-rows" data-toc-modified-id="Concatenating-rows-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Concatenating rows</a></span></li><li><span><a href="#Adding-and-replacing-rows-via-setting-with-enlargement" data-toc-modified-id="Adding-and-replacing-rows-via-setting-with-enlargement-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Adding and replacing rows via setting with enlargement</a></span></li></ul></li><li><span><a href="#Removing-rows" data-toc-modified-id="Removing-rows-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Removing rows</a></span><ul class="toc-item"><li><span><a href="#Removing-rows-using-.drop()" data-toc-modified-id="Removing-rows-using-.drop()-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Removing rows using .drop()</a></span></li><li><span><a href="#Removing-rows-using-Boolean-selection" data-toc-modified-id="Removing-rows-using-Boolean-selection-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Removing rows using Boolean selection</a></span></li><li><span><a href="#Removing-rows-using-a-slice" data-toc-modified-id="Removing-rows-using-a-slice-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Removing rows using a slice</a></span></li></ul></li></ul></div>

# DataFrame 구조 다루기

pandas는 데이터 탐색을 위한 강력한 조작 엔진을 제공한다. 그런 탐색에는 종종 불필요한 데이터 제거, 데이터 포맥 변경, 다른 로우나 칼럼으로부터의 데이터 파생 등 DataFrame 객체의 구조를 조작하는 일이 수반되는데, 이런 것들을 알아보는 챕터.

- 칼럼명 변경
- `[]`와 `.insert()`를 사용한 칼럼 추가
- 확장(enlargemant)를 통한 칼럼 추가
- 접합(concatenation)을 통한 칼럼 추가
- 칼럼 재배열
- 칼럼 콘텐츠 교체 
- 칼럼 삭제
- 새 로우 추가
- 로우 접합
- 확장을 통한 로우 추가 및 교체
- `.drop()`을 사용한 로우 삭제
- 불리언 선택을 통한 로우 삭제
- 슬라이싱을 통한 로우 삭제

# Configuring pandas

셋팅 및 데이터 로드

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("/Users/Angela/Desktop/Personal/Learning-Pandas-Second-Edition-master/data/sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# Renaming columns
칼럼명 변경

## `.rename()` 메서드
이 메서드는 변경할 칼럼 레이블(key)와 새 이름(value)로 이루어진 딕셔너리 객체를 받는다.  

`.rename()`을 사용하면 새 이름의 칼럼과 복사된 데이터를 갖는 새 데이터 프레임이 반환된다. 즉, 원래의 데이터프레임은 변경되지 않는다.  
만약 복사본을 만들지 않고 원래 데이터프레임을 수정하려 한다면 `inplace = True` 파라미터를 사용한다.

In [3]:
# rename the Book Value column to not have a space
# this returns a copy with the column renamed
newSP500 = sp500.rename(columns=
                        {'Book Value': 'BookValue'})
# print first 2 rows
newSP500[:2]

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573

원본은 수정되지 않은 것을 볼 수 있다.

In [5]:
# verify the columns in the original did not change
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [6]:
# this changes the column in-place
sp500.rename(columns=                  
             {'Book Value': 'BookValue'},                   
             inplace=True)
# we can see the column is changed
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

이제 attribute 방식으로 접근할 수 있다.

In [7]:
# and now we can use .BookValue
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

## Adding new columns with [] and .insert()

### `[]` 로 새 컬럼 추가

반올림을 적용한 가격을 새 칼럼으로 추가해본다. 

기존 값을 가지고 할 경우, pandas는 해당 칼럼의 데이터를 선택하고, 해당 Series의 모든 값에 적용한 후, 이 새 Series를 DataFrame의 복사본에 정렬시키고 새 칼럼을 추가한다.  
새 칼럼은 기존 칼럼 인덱스의 마지막 다음에 추가된다.

In [8]:
# make a copy so that we keep the original data unchanged
sp500_copy = sp500.copy()
# add the new column
sp500_copy['RoundedPrice'] = sp500.Price.round()
sp500_copy[:2]

             Sector   Price  BookValue  RoundedPrice
Symbol
MMM     Industrials  141.14     26.668         141.0
ABT     Health Care   39.60     15.573          40.0

### `.insert()` 메서드로 새 컬럼 추가
`insert(칼럼포지션, 칼럼이름, 데이터)` 식으로 추가한다.

In [9]:
# make a copy so that we keep the original data unchanged
copy = sp500.copy()
# insert sp500.Price * 2 as the 
# second column in the DataFrame
copy.insert(1, 'RoundedPrice', sp500.Price.round())
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

# Adding columns

## `.loc[]`: Adding columns through enlargement
확장을 통한 칼럼 추가

### `.loc[]`속성과 슬라이싱을 사용한 칼럼 추가

`.loc[:, 컬럼이름] = 데이터`  

모든 값을 0으로 초기화한 PER라는 새 칼럼을 데이터프레임에 추가하는 예시이다.  
이러한 방식으로 이미 데이터가 존재하는 Series를 추가할 수도 있는데, 이 경우 **정렬 작업이 발생하므로 대상 데이터 프레임과 동일한 인덱스를 사용해야** 한다.  
따라서 index는 추가하려는 데이터프레임의 `.index`로 넣을 수 있다.

In [10]:
# copy of subset / slice
ss = sp500[:3].copy()
# add the new column initialized to 0
ss.loc[:,'PER'] = 0
# take a look at the results
ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [11]:
# copy of subset / slice
ss = sp500[:3].copy()
# add the new column initialized with random numbers
np.random.seed(123456)
ss.loc[:,'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)
# take a look at the results
ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

## `pd.concat()`: Adding columns using concatenation
접합을 통한 칼럼 추가 

`[]`연산자와 `.insert()` 메서드는 대상 데이터 프레임을 즉석에서 직접 수정했었다.  
그러나 원래의 데이터 프레임은 건드리지 않고 새 데이터 프레임에 칼럼을 추가하고 싶을 때에는 `pd.concat()`함수를 사용하면 된다.  

다음 예시 DataFrame은 반올림 주가를 갖는 단일 칼럼의 DataFrame을 만들고,  
거기에 `pd.concat()`을 사용하여 sp500과 이 단일 칼럼 데이터 프레임 rounded_price를 칼럼 축을 기준으로 접합하는 방식이다.

In [12]:
# create a DataFrame with only the RoundedPrice column
rounded_price = pd.DataFrame({'RoundedPrice' : sp500.Price.round()})
# concatenate along the 'columns axis'
concatenated = pd.concat([sp500, rounded_price], axis = 1)
concatenated[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0

접합을 한 결과에서는 칼럼명 중복이 가능하다. 시험삼아 rounded_price라는 DataFrame을 price라는 컬럼이름을 가지도록 새로 만들어서 접합해본다.  
이때 **같은 이름을 가진 두 칼럼은 해당 이름을 attribute로 호출했을 때 둘 다 모두 가져오게 된다**.  

따라서 두 칼럼 중 하나만 선택하고 싶다면 칼럼명 대신 포지션을 사용해야 한다.

In [14]:
# create a DataFrame with only the RoundedPrice column
rounded_price = pd.DataFrame({'Price': sp500.Price.round()})
rounded_price[:5]

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0

In [15]:
# this will result in duplicate Price columm
dups = pd.concat([sp500, rounded_price], axis=1)
dups[:5]

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0

In [16]:
# retrieves both Price columns
dups.Price[:5]

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0

In [18]:
# choose first'Price'
dups.iloc[:5, 1]

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

In [20]:
# choose second 'Price'
dups.iloc[:5, 3]

Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
Name: Price, dtype: float64

# Reordering columns
칼럼 재배열

DataFrame의 사본에서는 원하는 순서로 칼럼을 재배열할 수 있다. 다음은 칼럼을 역순으로 재배열한 예시이다.  

배열일 뿐, 사실상 원본 데이터 프레임에서 칼럼의 순서자체를 바꿀 방법은 없다고 한다.

In [21]:
# return a new DataFrame with the columns reversed
reversed_column_names = sp500.columns[::-1]
sp500[reversed_column_names][:5]

        BookValue   Price                  Sector
Symbol
MMM        26.668  141.14             Industrials
ABT        15.573   39.60             Health Care
ABBV        2.954   53.95             Health Care
ACN         8.326   79.79  Information Technology
ACE        86.897  102.91              Financials

# Replacing the contents of a column
칼럼의 콘텐츠 교체

`[]` 연산자를 사용해 기존 칼럼에 새 Series를 할당하는 방식으로 교체할 수 있다.  

1. attribute 방식을 통해 `copy.Price`에 `rounded_price.Price`를 입힌 결과이다.

In [22]:
# this occurs in-place so let's use a copy
copy = sp500.copy()
# replace the Price column data with the new values
# instead of adding a new column
copy.Price = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

2. 슬라이싱 방식을 통해 할당할 수 있다. 모든 `Price`의 모든 로우를 선택하여 할당하는 식이다.

In [23]:
# this occurs in-place so let's use a copy
copy = sp500.copy()
# replace the Price column data wwith rounded values
copy.loc[:,'Price'] = rounded_price.Price
copy[:5]

                        Sector  Price  BookValue
Symbol
MMM                Industrials  141.0     26.668
ABT                Health Care   40.0     15.573
ABBV               Health Care   54.0      2.954
ACN     Information Technology   80.0      8.326
ACE                 Financials  103.0     86.897

# Deleting columns
칼럼 삭제

DataFrame의 `del` 키워드, 또는 `.pop()`이나 `.drop()` 메서드를 사용하면 칼럼을 삭제할 수 있다.
동작 방식은 약간씩 다르다. 

1. `del`은 DataFrame에서 Series를 즉석에서 삭제한다.

In [24]:
# Example of using del to delete a column
# make a copy as this is done in-place
copy = sp500.copy()
del copy['BookValue']
copy[:2]

             Sector   Price
Symbol
MMM     Industrials  141.14
ABT     Health Care   39.60

2. `.pop()`은 즉석에서 Series를 삭제하고, 삭제한 Series를 반환한다.

In [25]:
# Example of using pop to remove a column from a DataFrame
# first make a copy of a subset of the data frame as
# pop works in place
copy = sp500.copy()
# this will remove Sector and return it as a series
popped = copy.pop('Sector')
# Sector column removed in-place
copy[:2]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573

In [26]:
# and we have the Sector column as the result of the pop ('Sector' column)
popped[:5]

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

3. `.drop(labels, axis = 1)`은 칼럼이 삭제된 새 데이터 프레임을 반환한다. 즉 기존의 DataFrame은 변경되지 않는다.  

`drop()` 메서드는 로우 삭제와 칼럼 삭제 모두에 사용할 수 있다. 칼럼을 삭제하기 위해서 반드시 `axis = 1`을 지정해야한다.

In [27]:
# Example of using drop to remove a column 
# make a copy of a subset of the data frame
copy = sp500.copy()
# this will return a new DataFrame with 'Sector’ removed
# the copy DataFrame is not modified
afterdrop = copy.drop(['Sector'], axis = 1)
afterdrop[:5]

         Price  BookValue
Symbol
MMM     141.14     26.668
ABT      39.60     15.573
ABBV     53.95      2.954
ACN      79.79      8.326
ACE     102.91     86.897

In [28]:
copy

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897
...                        ...     ...        ...
YHOO    Information Technology   35.02     12.768
YUM     Consumer Discretionary   74.77      5.147
ZMH                Health Care  101.84     37.181
ZION                Financials   28.43     30.191
ZTS                Health Care   30.53      2.150

[500 rows x 3 columns]

# Adding rows

## Appending rows from other DataFrame objects with .append()
새 로우 추가

로우 추가는 DataFrame의 `.append()` 메서드를 사용한다.  
이 메서드는 원래 DataFrame의 마지막 로우 다음에 새 로우가 덧붙여진 새 DataFrame을 반환한다.  
로우 추가에는 정렬 작업이 관여되지 않기 때문에 중복된 인덱스가 존재할 수 있다.  

아래의 경우 sp500 에서 추출한 df1 과 df2를 붙인 것이데, 포지션 2였던 로우 ('ABBV')가 중복으로 존재하는 것을 볼 수 있다. 

또한 프레임.append() 메서드는 앞으로 사라질 것이기 때문에 concat을 쓰라는 경고가 함께 뜬다. (python 3.8.5 ver)

In [29]:
# copy the first three rows of sp500
df1 = sp500.iloc[0:3].copy()
# copy 10th and 11th rows
df2 = sp500.iloc[[10, 11, 2]]
# append df1 and df2
appended = df1.append(df2)
# the result is the rows of the first followed by 
# those of the second
appended

/var/folders/qw/j72d9nwn5dq0vxtqtw2bbtnh0000gp/T/ipykernel_7832/2175085768.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended = df1.append(df2)

             Sector   Price  BookValue
Symbol
MMM     Industrials  141.14     26.668
ABT     Health Care   39.60     15.573
ABBV    Health Care   53.95      2.954
A       Health Care   56.18     16.928
GAS       Utilities   52.98     32.462
ABBV    Health Care   53.95      2.954

In [22]:
# data frame using df1.index and just a PER column
# also a good example of using a scalar value
# to initialize multiple rows
df3 = pd.DataFrame(0.0, 
                   index=df1.index,
                   columns=['PER'])
df3

        PER
Symbol
MMM     0.0
ABT     0.0
ABBV    0.0

In [23]:
# append df1 and df3
# each has three rows, so 6 rows is the result
# df1 had no PER column, so NaN from for those rows
# df3 had no BookValue, Price or Sector, so NaN's
df1.append(df3)

        BookValue  PER   Price       Sector
Symbol
MMM        26.668  NaN  141.14  Industrials
ABT        15.573  NaN   39.60  Health Care
ABBV        2.954  NaN   53.95  Health Care
MMM           NaN  0.0     NaN          NaN
ABT           NaN  0.0     NaN          NaN
ABBV          NaN  0.0     NaN          NaN

In [24]:
# ignore index labels, create default index
df1.append(df3, ignore_index=True)

   BookValue  PER   Price       Sector
0     26.668  NaN  141.14  Industrials
1     15.573  NaN   39.60  Health Care
2      2.954  NaN   53.95  Health Care
3        NaN  0.0     NaN          NaN
4        NaN  0.0     NaN          NaN
5        NaN  0.0     NaN          NaN