<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#수치-해석과-통계-기법" data-toc-modified-id="수치-해석과-통계-기법-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>수치 해석과 통계 기법</a></span><ul class="toc-item"><li><span><a href="#수치-계산법" data-toc-modified-id="수치-계산법-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>수치 계산법</a></span></li><li><span><a href="#Performing-arithmetic-on-a-DataFrame-or-Series" data-toc-modified-id="Performing-arithmetic-on-a-DataFrame-or-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Performing arithmetic on a DataFrame or Series</a></span><ul class="toc-item"><li><span><a href="#DataFrame에-직접-산술-연산:-전체에-적용" data-toc-modified-id="DataFrame에-직접-산술-연산:-전체에-적용-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span><code>DataFrame</code>에 직접 산술 연산: 전체에 적용</a></span></li><li><span><a href="#DataFrame과-Series-연산:-Series의-인덱스를-DataFrame칼럼에-정렬,-모든-로우에-적용" data-toc-modified-id="DataFrame과-Series-연산:-Series의-인덱스를-DataFrame칼럼에-정렬,-모든-로우에-적용-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span><code>DataFrame</code>과 <code>Series</code> 연산: <code>Series</code>의 인덱스를 <code>DataFrame</code>칼럼에 정렬, 모든 로우에 적용</a></span></li><li><span><a href="#Series의-인덱스와-DataFrame의-칼럼이-일치하지-않을-경우-:-NaN" data-toc-modified-id="Series의-인덱스와-DataFrame의-칼럼이-일치하지-않을-경우-:-NaN-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span><code>Series</code>의 인덱스와 <code>DataFrame</code>의 칼럼이 일치하지 않을 경우 : <code>NaN</code></a></span></li><li><span><a href="#DataFrame간의-연산-:-칼럼과-인덱스-레이블-정렬-후-연산" data-toc-modified-id="DataFrame간의-연산-:-칼럼과-인덱스-레이블-정렬-후-연산-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span><code>DataFrame</code>간의 연산 : 칼럼과 인덱스 레이블 정렬 후 연산</a></span></li><li><span><a href="#DataFrame.sub()" data-toc-modified-id="DataFrame.sub()-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span><code>DataFrame</code>.sub()</a></span></li></ul></li></ul></li><li><span><a href="#Counts-of-values" data-toc-modified-id="Counts-of-values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Counts of values</a></span><ul class="toc-item"><li><span><a href="#.count()" data-toc-modified-id=".count()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.count()</code></a></span></li><li><span><a href="#.unique():-Unique-and-number-of-unique-values" data-toc-modified-id=".unique():-Unique-and-number-of-unique-values-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.unique()</code>: Unique and number of unique values</a></span><ul class="toc-item"><li><span><a href="#.value_counts()-:-값-각각의-빈도-구하기" data-toc-modified-id=".value_counts()-:-값-각각의-빈도-구하기-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><code>.value_counts()</code> : 값 각각의 빈도 구하기</a></span></li></ul></li></ul></li><li><span><a href="#Minimum-and-maximums" data-toc-modified-id="Minimum-and-maximums-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Minimum and maximums</a></span><ul class="toc-item"><li><span><a href="#.nsmallest(),-.nlargest()-:--Smallest-and-Largest-Values" data-toc-modified-id=".nsmallest(),-.nlargest()-:--Smallest-and-Largest-Values-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.nsmallest()</code>, <code>.nlargest()</code> :  Smallest and Largest Values</a></span></li></ul></li><li><span><a href="#.cumprod(),-.cumsum()-:-Accumulations" data-toc-modified-id=".cumprod(),-.cumsum()-:-Accumulations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span><code>.cumprod()</code>, <code>.cumsum()</code> : Accumulations</a></span></li><li><span><a href="#Summary-descriptive-statistics" data-toc-modified-id="Summary-descriptive-statistics-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary descriptive statistics</a></span></li></ul></div>

# Configuring pandas
데이터 예제는 s&p500데이터와 월별 주식 데이터도 임포트 한다.

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv('/Users/Angela/Desktop/Personal/Learning-Pandas-Second-Edition-master/data/sp500.csv', 
                    index_col='Symbol', usecols=[0, 2, 3, 7])

# one month of stock history data
omh = pd.read_csv("/Users/Angela/Desktop/Personal/Learning-Pandas-Second-Edition-master/data/omh.csv")

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# 수치 해석과 통계 기법
pandas는데이터 모델링과 조작에 있어서도 매우 효과적이지만, 수치 해석과 통계 분석을 위한 다양하고 강력한 도구들도 제공한다. 그 도구들은 pandas의 데이터 구조와 밀접하게 연계됨으로써 모델링된 데이터의 복잡한 계산을 간단하게 만들어준다.  
8장에서는 여러 객체에 걸친 산술 연산 등의 기본적인 수치 계산과, 최솟값이나 최댓값과 같은 특정 값을 찾는 방법을 알아본다. 그 다음엔 quantile(분위수), ranking(값 순위), 분산, 상관관계 등 다수의 pandas 통계 기능을 살펴본다.  
마지막에서는 롤링 윈도우(rolling window)라는 pandas의 매우 강력한 기능을 확인할 것이다. 롤링 윈도우는 여러 데이터 서브셋에 걸친 평균을 계산하는 등 다양한 기법을 수행할 수 있는 수단을 제공한다. 이런 유형의 연산은 시간 변화에 따른 주식 데이터의 특성을 결정하는 작업과 다양한 분석에 있어서 필수적이다. 8장에서는 해당 개념 소개를 하고, 이후 더 자세히 보도록 할 것이당.

- pandas 객체에 대한 산술 연산
- 값의 개수 세기
- 고윳값과 그 개수 판별
- 최솟값과 최댓값 찾기
- n개 최솟값과 n개 최댓값 찾기
- 누적 값 계산
- 약식 기술 통계 내용 가져옥
- 중심 경향성 측정(평균, 중위수, 최빈수)
- 분산, 표준 편차, 공분산, 상관관계 계산
- 이산화와 분위수 계산
- 각 표본의 변동률 계산
- 롤링 윈도우 작업
- 무작위 표집

## 수치 계산법
pandas는 데이터 산술 연산과 여러 수치적 특성을 계산할 수 있는 풍부한 함수를 제공한다. 이 절에서는 위의 순서중 누적 값 계산까지 수행한다.

## Performing arithmetic on a DataFrame or Series
---
DataFrame과 Series의 산술 연산

`DataFrame`과 `Seires`의 산술 연산에는 $+, -, /, *$ 와 같은 연산자를 사용한다.  
이는 당연하게 보일 수 있지만, pandas는 방정식의 좌변 값과 우변 값을 정렬시키는 강력함을 추가했다. 따라서 인덱스가 산술 연산에 있어서 큰 역할을 하며, 그에 따른 결과에 대한 영향을 이해할 필요가 있다. 

pandas는 표준적인 산술 연산자뿐만 아니라, `.add()`, `.sub()`, `.mul()`, `.div()` 등과 같은 고성능, 유연함을 갖는 다양한 메서드를 제공한다.  
스칼라 값의 산술 연산은 `DataFrame`의 어떤 요소에도 적용할 수 있다.  

난수로 이루어진 `DataFrame`으로 시작해보자.

In [2]:
# set the seed to allow replicatable results
np.random.seed(123456)
# create the DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

### `DataFrame`에 직접 산술 연산: 전체에 적용
기본적으로, 어떤 산술 연산이라도 데이터 프레임의 모든 로우와 칼럼에 걸쳐 적용이 가능하다.  
그리고 그 결과로 새 `DataFrame` 객체가 반환되는데, 다시 말해 원래의 데이터 프레임은 변경되지 않는다는 것이다.

In [3]:
# multiply everything by 2
df * 2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

### `DataFrame`과 `Series` 연산: `Series`의 인덱스를 `DataFrame`칼럼에 정렬, 모든 로우에 적용

`DataFrame`와 `Series` 사이의 산술 연산에 있어서 pandas는 `Series`의 인덱스를 `DataFrame` 칼럼에 정렬시키며, 이를 **로우 우선 브로드캐스팅(row-wise broadcasting)**이라고 한다. 직관에 어긋나 보일 순 있지만, 이는 각 칼럼의 서로 다른 값을 로우 단위에 적용할 수 있는 매우 강력한 방법이다.  

데이터프레임 - 첫 번째 로우(`Series`)를 수행하면 각 로우에 모두 연산이 적용됨을 볼 수 있다.

In [4]:
# get first row 
s = df.iloc[0] 
# subtract first row from every row of the DataFrame
diff = df - s 
diff

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

반대로 `Series`로 부터 `DataFrame`을 뺴는 일도 가능하다. 결과는 데이터 프레임 형태로 나온다.

In [5]:
# subtract DataFrame from Series
diff2 = s - df
diff2

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.743000 -0.109649 -1.628267 -0.091396
2  1.330961  1.821706 -1.014129 -2.207436
3 -0.252443  0.423908 -0.469484 -1.407492
4  0.894085 -0.849884 -1.785291 -0.048232

### `Series`의 인덱스와 `DataFrame`의 칼럼이 일치하지 않을 경우 : `NaN`
산술 연산은 `Series`의 인덱스 레이블과 `DataFrame`의 칼럼 인덱스를 모두 정렬해 결합(union)한 결과를 반환한다.  
결과 칼럼이 `Series`나 `DataFrame`객체에 없는 경우에 그 값은 `NaN`으로 채워진다.  

다음은 `DataFrame`의 서브셋 칼럼과 신규 칼럼으로 만든 `Series`의 예다.  
B, C는 연산이 되었지만 A, D는 s에 없기 때문에 결측값을, E는 df에 없기 때문에 결측값을 반환했다.

In [6]:
# first row's B, C
s2 = s[1:3]
# add E
s2['E'] = 0
# see how alignment is applied in math
df + s2

    A         B         C   D   E
0 NaN -0.565727 -3.018117 NaN NaN
1 NaN -0.456078 -1.389850 NaN NaN
2 NaN -2.387433 -2.003988 NaN NaN
3 NaN -0.989634 -2.548633 NaN NaN
4 NaN  0.284157 -1.232826 NaN NaN

In [7]:
s2

B   -0.282863
C   -1.509059
E    0.000000
Name: 0, dtype: float64

### `DataFrame`간의 연산 : 칼럼과 인덱스 레이블 정렬 후 연산
두 `DataFrame`객체끼리의 산술 연산에서는 **칼럼과 인덱스 레이블에 대한 정렬이 수행된다.**  

다음은 df의 일부분을 추출해 전체 `DataFrame`에서 빼는 과정이다.  
정렬되어 각 위치에 있는 값은 마이너스 연산이 잘 이루어 져서 0이지만, 나머지는 알 수 없는 값으로 `NaN`이 할당된 것을 볼 수 있다.

In [8]:
# get rows 1 through three, and only B, C columns
subframe = df[1:4][['B', 'C']]
# we have extracted a little square in the middle of df
subframe

          B         C
1 -0.173215  0.119209
2 -2.104569 -0.494929
3 -0.706771 -1.039575

In [9]:
# demonstrate the alignment of the subtraction
df - subframe

    A    B    C   D
0 NaN  NaN  NaN NaN
1 NaN  0.0  0.0 NaN
2 NaN  0.0  0.0 NaN
3 NaN  0.0  0.0 NaN
4 NaN  NaN  NaN NaN

### `DataFrame`.sub()
`DataFrame` 객체가 제공하는 메서드를 사용해 특정 축을 기준으로 산술 연산을 수행할 수도 있다.  
연산 메서드는 어느 방향으로 할 것인지 `axis = `옵션이 있다. 1일 경우 열(가로) 방향으로, 0일 경우 행(세로) 방향으로 적용된다. 

다음은 모든 칼럼 값에서 A 칼럼을 빼는 예시이다.

In [10]:
# get the A column
a_col = df['A']
df.sub(a_col, axis = 0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

In [11]:
# 만약 행 방향으로 한다면?
row0 = df.iloc[0]
df.sub(row0, axis = 1)

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [12]:
row0

A    0.469112
B   -0.282863
C   -1.509059
D   -1.135632
Name: 0, dtype: float64

`a_col` 은 인덱스가 정수 인덱스로 되어있는 A열 전체이기 때문에 각 열에 연산이 수행되었다.  
`row0` 은 인덱스가 A, B, C, D로 되어있는 0행 전체이기 때문에 각 행에 연산이 수행되었다. 

그러나 만약 인덱스가 A, B, C, D로 되어있는 `row0`을 각 열에 연산을 수행하도록 했을 경우, 인덱스가 A, B, C, D, 인 데이터프레임이 아니므로 자동적으로 정렬하여 맞추는데 실패하고만다... 그래서 인덱스에 정수 인덱스와 알파벳 인덱스가 모두 포함되어, 알 수 없음을 뜻하는 `NaN`으로 이루어지는 데이터프레임이 반환되고 만다.

In [13]:
# 만약 행 방향을 열방향 옵션으로 계산할 수 있을까?
row0 = df.iloc[0]
df.sub(row0, axis = 0)

    A   B   C   D
0 NaN NaN NaN NaN
1 NaN NaN NaN NaN
2 NaN NaN NaN NaN
3 NaN NaN NaN NaN
4 NaN NaN NaN NaN
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN

# Counts of values
---
값의 개수 세기

## `.count()` 
`.count()`메서드를 사용하면 `Series`에서 `NaN`이 아닌 아이템의 개수를 얻을 수 있다.

In [14]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
# number of occurrences of each unique value
s.count()

4

## `.unique()`: Unique and number of unique values
`Series`안의 고유한 값의 목록은 `.unique()`을 사용해 얻을 수 있다.  
`.nunique()`의 경우 `NaN`을 제외한 고유 값 개수를 얻을 수 있는데, `dropna=False` 옵션을 주면 `NaN`을 포함하여 세도록 된다.

In [15]:
# return a list of unique items
s.unique()

array(['a', 'b', 'c', nan], dtype=object)

In [16]:
s.nunique()

3

In [17]:
s.nunique(dropna = False)

4

###  `.value_counts()` : 값 각각의 빈도 구하기
고유한 값 각각의 개수를 알고 싶다면 `.value_counts()`를 사용할 수 있으며, 이와 같은 과정을 히스토그래밍(histogramming)이라고 한다.

In [18]:
# get summary stats on non-numeric data
s.value_counts(dropna = False)

a      2
b      1
c      1
NaN    1
dtype: int64

# Minimum and maximums
---
최솟값과 최댓값

각각은 `.min()`, `.max()`로 찾을 수 있다.  

일부 pandas 통계 메소드는 실제 값이 아닌 간접적으로 관련된 값을 반환한다는 의미에서 간접 통계(indirect statistics)라고 한다.  
예를 들어, `.idxmin()`과 `.idxmax()`는 각각 최솟값과 최댓값이 위치하는 인덱스 포지션을 반환한다.

In [19]:
# 마이크로소프트사와 애플의 2014-12-01 한달의 주가를 담은 데이터이다. 
# 컬럼이 Date, MSFT, AAPL 로 이루어져있음을 주의하자. 
omh

          Date   MSFT    AAPL
0   2014-12-01  48.62  115.07
1   2014-12-02  48.46  114.63
2   2014-12-03  48.08  115.93
3   2014-12-04  48.84  115.49
4   2014-12-05  48.42  115.00
..         ...    ...     ...
17  2014-12-24  48.14  112.01
18  2014-12-26  47.88  113.99
19  2014-12-29  47.45  113.91
20  2014-12-30  47.02  112.52
21  2014-12-31  46.45  110.38

[22 rows x 3 columns]

In [20]:
# the min price for both stocks : 각 회사(칼럼)에서의 최솟값
omh[['MSFT', 'AAPL']].min()

MSFT     45.16
AAPL    106.75
dtype: float64

In [21]:
# the max price for them : 각 회사(칼럼)에서의 최댓값
omh[['MSFT', 'AAPL']].max()

MSFT     48.84
AAPL    115.93
dtype: float64

In [22]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].idxmin()

MSFT    11
AAPL    11
dtype: int64

In [23]:
# and location of the max
omh[['MSFT', 'AAPL']].idxmax()

MSFT    3
AAPL    2
dtype: int64

In [24]:
# 그렇다면 그 인덱스로 해당 로우를 전부 가져올 수도 있다. 
omh.loc[omh[['MSFT', 'AAPL']].idxmin()]

          Date   MSFT    AAPL
11  2014-12-16  45.16  106.75
11  2014-12-16  45.16  106.75

In [25]:
omh.loc[omh[['MSFT', 'AAPL']].idxmax()]

         Date   MSFT    AAPL
3  2014-12-04  48.84  115.49
2  2014-12-03  48.08  115.93

## `.nsmallest()`, `.nlargest()` :  Smallest and Largest Values
n개 최솟값과 n개 최댓값 찾기

때로는 데이터셋에서 n개의 최솟값(가장 작은 값)이나 n개의 최댓값(가장 큰 값)을 알아야 할 경우가 있다.  
그런 경우 `.nsmallest()`, `.nlargest()`를 사용한다.  

MSFT 에서 가장 작은 값 4개를 조회해본다.

In [26]:
# get the 4 smallest values : MSFT의 가장 작은 값을 찾아 MSFT칼럼을 표시.
# 만약 뒤에 'MSFT' 컬럼을 따로 지정하지 않으면 데이터 프레임 형태로 반환한다. 
omh.nsmallest(4, ['MSFT'])['MSFT']

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

In [27]:
# get the 4 largest values
omh.nlargest(4, ['MSFT'])

          Date   MSFT    AAPL
3   2014-12-04  48.84  115.49
0   2014-12-01  48.62  115.07
1   2014-12-02  48.46  114.63
16  2014-12-23  48.45  112.54

만약 시리즈에서 찾을 경우, 지정할 칼럼이 없기 때문에 형태가 약간 다르게 나올 수 있다.

In [28]:
# nsmallest on a Series
omh.MSFT.nsmallest(4)

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

# `.cumprod()`, `.cumsum()` : Accumulations
누적 값 계산

누적(accumulation)은 `Sereis`의 어떤 값을 그다음 값에 연속으로 적용하는 통계 방식이며, 누적 곱과 누적 합이 대표적인 예시이다.  
각 포지션에 누적된 값을 보여주는 `Sereis`가 반환되었다.

In [29]:
# calculate a cumulative product
pd.Series([1, 2, 3, 4]).cumprod()

0     1
1     2
2     6
3    24
dtype: int64

In [30]:
# calculate a cumulative sum
pd.Series([1, 2, 3, 4]).cumsum()

0     1
1     3
2     6
3    10
dtype: int64

`DataFrame`에서도 가능하다. 한 칼럼만 시리즈로 데려와서 계산할 수도 있고, 연산할 칼럼을 2차원 배열로 가져올 수도 있다.  
만약 숫자 칼럼이 아닌 경우, +는 이어 붙이는 것을 의미하기 때문에 괴랄한 결과를 내놓게 될 수도 있다...  

당연한 이야기이지만, 숫자 데이터가 아닌 경우 곱은 수행할 수 없기 때문에 오류를 반환한다.

In [31]:
omh['AAPL'].cumprod()

0     1.150700e+02
1     1.319047e+04
2     1.529172e+06
3     1.766040e+08
4     2.030946e+10
          ...
17    8.094637e+36
18    9.227077e+38
19    1.051056e+41
20    1.182649e+43
21    1.305408e+45
Name: AAPL, Length: 22, dtype: float64

In [32]:
omh[['MSFT', 'AAPL']].cumsum()

       MSFT     AAPL
0     48.62   115.07
1     97.08   229.70
2    145.16   345.63
3    194.00   461.12
4    242.42   576.12
..      ...      ...
17   856.05  2022.25
18   903.93  2136.24
19   951.38  2250.15
20   998.40  2362.67
21  1044.85  2473.05

[22 rows x 2 columns]

In [33]:
omh.cumsum()

                                                 Date  \
0                                          2014-12-01
1                                2014-12-012014-12-02
2                      2014-12-012014-12-022014-12-03
3            2014-12-012014-12-022014-12-032014-12-04
4   2014-12-012014-12-022014-12-032014-12-042014-1...
..                                                ...
17  2014-12-012014-12-022014-12-032014-12-042014-1...
18  2014-12-012014-12-022014-12-032014-12-042014-1...
19  2014-12-012014-12-022014-12-032014-12-042014-1...
20  2014-12-012014-12-022014-12-032014-12-042014-1...
21  2014-12-012014-12-022014-12-032014-12-042014-1...

       MSFT     AAPL
0     48.62   115.07
1     97.08   229.70
2    145.16   345.63
3    194.00   461.12
4    242.42   576.12
..      ...      ...
17   856.05  2022.25
18   903.93  2136.24
19   951.38  2250.15
20   998.40  2362.67
21  1044.85  2473.05

[22 rows x 3 columns]

# Summary descriptive statistics
---
pandas 객체의 통계 처리는 장을 나누어 진행할 예정이다.