<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#데이터-접근" data-toc-modified-id="데이터-접근-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>데이터 접근</a></span></li><li><span><a href="#로컬-파일" data-toc-modified-id="로컬-파일-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>로컬 파일</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#CSV-데이터셋-예제:-msft.csv" data-toc-modified-id="CSV-데이터셋-예제:-msft.csv-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>CSV 데이터셋 예제: msft.csv</a></span></li></ul></li><li><span><a href="#Reading-a-CSV-into-a-DataFrame" data-toc-modified-id="Reading-a-CSV-into-a-DataFrame-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Reading a CSV into a DataFrame</a></span></li><li><span><a href="#Specifying-the-index-column-when-reading-a-CSV-file" data-toc-modified-id="Specifying-the-index-column-when-reading-a-CSV-file-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Specifying the index column when reading a CSV file</a></span></li><li><span><a href="#Data-type-inference-and-specification" data-toc-modified-id="Data-type-inference-and-specification-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Data type inference and specification</a></span></li><li><span><a href="#Specifying-column-names" data-toc-modified-id="Specifying-column-names-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Specifying column names</a></span></li><li><span><a href="#Specifying-specific-columns-to-load" data-toc-modified-id="Specifying-specific-columns-to-load-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Specifying specific columns to load</a></span></li><li><span><a href="#Saving-a-DataFrame-to-a-CSV" data-toc-modified-id="Saving-a-DataFrame-to-a-CSV-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Saving a DataFrame to a CSV</a></span></li><li><span><a href="#General-field-delimited-data" data-toc-modified-id="General-field-delimited-data-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>General field-delimited data</a></span></li><li><span><a href="#Handling-variants-of-formats-in-field-delimited-data" data-toc-modified-id="Handling-variants-of-formats-in-field-delimited-data-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Handling variants of formats in field-delimited data</a></span><ul class="toc-item"><li><span><a href="#(skiprows-=-[])-:-헤더-지우기" data-toc-modified-id="(skiprows-=-[])-:-헤더-지우기-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span><code>(skiprows = [])</code> : 헤더 지우기</a></span></li><li><span><a href="#(skipfooter-=-[])-:-푸터-지우기" data-toc-modified-id="(skipfooter-=-[])-:-푸터-지우기-3.8.2"><span class="toc-item-num">3.8.2&nbsp;&nbsp;</span><code>(skipfooter = [])</code> : 푸터 지우기</a></span></li><li><span><a href="#(nrows-=-)-:-처음-몇-개의-로우만-불러오기" data-toc-modified-id="(nrows-=-)-:-처음-몇-개의-로우만-불러오기-3.8.3"><span class="toc-item-num">3.8.3&nbsp;&nbsp;</span><code>(nrows = )</code> : 처음 몇 개의 로우만 불러오기</a></span></li></ul></li><li><span><a href="#Reading-and-writing-data-in-Excel-format" data-toc-modified-id="Reading-and-writing-data-in-Excel-format-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Reading and writing data in Excel format</a></span><ul class="toc-item"><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-3.9.1"><span class="toc-item-num">3.9.1&nbsp;&nbsp;</span><code>pd.read_excel()</code></a></span></li><li><span><a href="#.to_excel(),-to-xls" data-toc-modified-id=".to_excel(),-to-xls-3.9.2"><span class="toc-item-num">3.9.2&nbsp;&nbsp;</span><code>.to_excel()</code>, to xls</a></span></li><li><span><a href="#.to_excel(),-to-xlsx" data-toc-modified-id=".to_excel(),-to-xlsx-3.9.3"><span class="toc-item-num">3.9.3&nbsp;&nbsp;</span><code>.to_excel()</code>, to xlsx</a></span></li></ul></li></ul></li><li><span><a href="#Reading-and-writing-JSON-files" data-toc-modified-id="Reading-and-writing-JSON-files-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reading and writing JSON files</a></span></li><li><span><a href="#HTML" data-toc-modified-id="HTML-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>HTML</a></span><ul class="toc-item"><li><span><a href="#HTML-데이터-읽기" data-toc-modified-id="HTML-데이터-읽기-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>HTML 데이터 읽기</a></span></li></ul></li><li><span><a href="#HDF5(pytable-설치-문제-해결-후-다시-하기로)" data-toc-modified-id="HDF5(pytable-설치-문제-해결-후-다시-하기로)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>HDF5(pytable 설치 문제 해결 후 다시 하기로)</a></span><ul class="toc-item"><li><span><a href="#Reading-and-writing-HDF5-format-files" data-toc-modified-id="Reading-and-writing-HDF5-format-files-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Reading and writing HDF5 format files</a></span></li></ul></li><li><span><a href="#Reading-and-writing-from/to-SQL-databases" data-toc-modified-id="Reading-and-writing-from/to-SQL-databases-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Reading and writing from/to SQL databases</a></span></li><li><span><a href="#웹-데이터" data-toc-modified-id="웹-데이터-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>웹 데이터</a></span><ul class="toc-item"><li><span><a href="#Accessing-data-on-the-web-and-in-the-cloud" data-toc-modified-id="Accessing-data-on-the-web-and-in-the-cloud-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Accessing data on the web and in the cloud</a></span><ul class="toc-item"><li><span><a href="#try1:" data-toc-modified-id="try1:-8.1.1"><span class="toc-item-num">8.1.1&nbsp;&nbsp;</span>try1:</a></span></li><li><span><a href="#try2:" data-toc-modified-id="try2:-8.1.2"><span class="toc-item-num">8.1.2&nbsp;&nbsp;</span>try2:</a></span></li></ul></li></ul></li><li><span><a href="#원격-데이터-서비스로부터-데이터-읽기" data-toc-modified-id="원격-데이터-서비스로부터-데이터-읽기-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>원격 데이터 서비스로부터 데이터 읽기</a></span><ul class="toc-item"><li><span><a href="#pandas_datareader" data-toc-modified-id="pandas_datareader-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span><code>pandas_datareader</code></a></span><ul class="toc-item"><li><span><a href="#Reading-stock-data-from-Google-Finance" data-toc-modified-id="Reading-stock-data-from-Google-Finance-9.1.1"><span class="toc-item-num">9.1.1&nbsp;&nbsp;</span>Reading stock data from Google Finance</a></span></li><li><span><a href="#라고-하지만-지금은-data_source:-{str,-None}-,--the-data-source-(&quot;iex&quot;,-&quot;fred&quot;,-&quot;ff&quot;)-밖에" data-toc-modified-id="라고-하지만-지금은-data_source:-{str,-None}-,--the-data-source-(&quot;iex&quot;,-&quot;fred&quot;,-&quot;ff&quot;)-밖에-9.1.2"><span class="toc-item-num">9.1.2&nbsp;&nbsp;</span>라고 하지만 지금은 <code>data_source: {str, None} ,  the data source ("iex", "fred", "ff")</code> 밖에</a></span></li></ul></li><li><span><a href="#Retrieving-options-data-from-Google-Finance" data-toc-modified-id="Retrieving-options-data-from-Google-Finance-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Retrieving options data from Google Finance</a></span></li><li><span><a href="#Reading-economic-data-from-the-Federal-Reserve-Bank-of-St.-Louis" data-toc-modified-id="Reading-economic-data-from-the-Federal-Reserve-Bank-of-St.-Louis-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Reading economic data from the Federal Reserve Bank of St. Louis</a></span></li><li><span><a href="#Accessing-Kenneth-French-data" data-toc-modified-id="Accessing-Kenneth-French-data-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Accessing Kenneth French data</a></span></li><li><span><a href="#Reading-from-the-World-Bank" data-toc-modified-id="Reading-from-the-World-Bank-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span>Reading from the World Bank</a></span><ul class="toc-item"><li><span><a href="#wb.get_indicators()" data-toc-modified-id="wb.get_indicators()-9.5.1"><span class="toc-item-num">9.5.1&nbsp;&nbsp;</span><code>wb.get_indicators()</code></a></span></li><li><span><a href="#wb.search(),-wb.get_countries()" data-toc-modified-id="wb.search(),-wb.get_countries()-9.5.2"><span class="toc-item-num">9.5.2&nbsp;&nbsp;</span><code>wb.search()</code>, <code>wb.get_countries()</code></a></span></li><li><span><a href="#wb.download()" data-toc-modified-id="wb.download()-9.5.3"><span class="toc-item-num">9.5.3&nbsp;&nbsp;</span><code>wb.download()</code></a></span></li><li><span><a href="#피봇팅" data-toc-modified-id="피봇팅-9.5.4"><span class="toc-item-num">9.5.4&nbsp;&nbsp;</span>피봇팅</a></span><ul class="toc-item"><li><span><a href="#연도별-평균-수명이-가장-낮은-국가-판별" data-toc-modified-id="연도별-평균-수명이-가장-낮은-국가-판별-9.5.4.1"><span class="toc-item-num">9.5.4.1&nbsp;&nbsp;</span>연도별 평균 수명이 가장 낮은 국가 판별</a></span></li></ul></li></ul></li></ul></li></ul></div>

# 데이터 접근
---
현실에서의 데이터 분석에 있어서 거의 대부분은 외부로부터의 데이터 로딩이 필요하다. pandas는 파이썬을 기반으로 구현됐으므로, 데이터를 가져오기 위해 파이썬이 제공하는 모든 수단을 이용할 수 있다!!! 또한 엑셀 스프레드시트, 웹사이트, 웹서비스, 데이터베이스, 클라우드 서비스 등 거의 제약 없이 어떤 소스의 데이터라도 접근이 가능하다.  
pandas의 `DataFrame` 객체로의 자동 매핑을 통해 다양한 위치와 다양한 포맷을 가진 데이터를 쉽게 이용할 수 있다. 파이썬의 표준 데이터 로딩 함수를 사용하는 경우에는 파이썬 객체를 pandas의 `Series`나 `DataFrame` 객체로 변환하는 작업이 필요하며, 이는 소스코드의 복잡도를 증가시킨다. 그런 복잡함을 경감해주기위해 pandas는 데이터를 곧바로 pandas 객체로 로딩하는 다양한 기능을 제공한다.  

로컬 파일  
- CSV를 데이터 프레임으로 로딩
- CSV 로딩 시 인덱스 칼럼 지정
- 데이터 타입의 추론과 지정
- 칼럼명 지정
- 특정 칼럼의 로딩
- 데이터를 CSV로 저장
- 필드 구분 데이터로 작업
- 필드 구분 데이터의 다양한 형식 다루기
- 엑셀 데이터의 읽기와 쓰기  

원격 소스의 데이터에 접근하는 방법  
- JSON 파일의 읽기와 쓰기
- HTML 데이터 읽기
- HDF5 파일의 읽기와 쓰기
- 웹을 통한 CSV 데이터 접근
- 데이터베이스의 읽기와 쓰기
- ~야후!와 구글로부터 주식 데이터 읽기~
- ~구글파이낸스의 옵션 데이터 가져오기~
- 세인트루이스 연방준비은행의 FRED 데이터 가져오기
- 케네스 프렌치 데이터에 접근
- 세계은행의 데이터 읽기

# 웹 데이터
---
## Accessing data on the web and in the cloud
웹을 통한 CSV 데이터 접근

인터넷을 통해 웹으로 부터 데이터를 읽어 들이는 일은 매우 흔한 작업이다. pandas는 그 작업을 쉽게 할 수 있게 지원한다.  
지금까지 봤던 모든 pandas 함수는 로컬 파일 경로 대신 HTTP URL, FTP 주소, 심지어 Amazon S3 주소까지 가능하다. 또한 모든 작업은 로컬 파일로 작업할 때와 동일하다.  

예제에서는 기존 `pd.read_csv()` 함수를 사용하여 HTTP 요청을 만드는 일이 **얼마나 쉬운지** 보여준다. 여기서는 HTTP 쿼리 문자열(query string) 방식으로 Google Finance 웹 서비스로부터 2017년 4월의 마이크로소프트 주식 데이터를 직접 가져오려고 했었다.  
하지만 원본 코드(정확히는 적혀있는 주소..?)문제로 수정하였다. 야후 파이낸스에서 마이크로소프트 말고 인텔의 2022-11 한달 주식을 가져오려고 한다.

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# import web crawling libraries
import requests
from bs4 import BeautifulSoup

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

In [ ]:
# # 원본 코드

# # read csv directly from Yahoo! Finance from a URL
# msft_hist = pd.read_csv(
#     "http://www.google.com/finance/historical?" +
#     "q=NASDAQ:MSFT&startdate=Apr+01%2C+2017&" +
#     "enddate=Apr+30%2C+2017&output=csv")
# msft_hist[:5]

### try1: 
[https://stackoverflow.com/questions/39218742/using-beautifulsoup-to-search-through-yahoo-finance] 이곳을 참고하여 해결해보려 했으나 잘 되지 않았다.

In [2]:
from bs4 import BeautifulSoup
import requests

r = requests.get('https://query2.finance.yahoo.com/v8/finance/chart/INTC?formatted=true&crumb=8oF4ERwCRrz&lang=en-US&region=US&includeAdjustedClose=true&interval=1d&period1=1662336000&period2=1670198400&events=capitalGain|div|split&useYfid=true&corsDomain=finance.yahoo.com')
r
# data = r.json()

### try2: 
아래는 [https://www.mattbutton.com/2019/01/24/how-to-scrape-yahoo-finance-and-extract-fundamental-stock-market-data-using-python-lxml-and-pandas/] 을 참고하여 해결하려고 했었던 흔적이다. 잘 되지 않았다.

In [ ]:
my_url = 'https://finance.yahoo.com/quote/INTC/history?'
response = requests.get(my_url)

In [ ]:
print("response.ok : {} , response.status_code : {}".format(response.ok , response.status_code))

In [ ]:
print("Preview of response.text : ", response.text[:500])

In [ ]:
def get_page(url):
    """Download a webpage and return a beautiful soup doc"""
    response = requests.get(url)
    if not response.ok:
        print('Status code:', response.status_code)
        raise Exception('Failed to load page {}'.format(url))
    page_content = response.text
    doc = BeautifulSoup(page_content, 'html.parser')
    return doc

In [ ]:
doc = get_page(my_url)
print('Type of doc: ',type(doc))

In [ ]:
from datetime import datetime
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd

symbol = 'MFT.NZ'

url = 'https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol

# Set up the request headers that we're going to use, to simulate
# a request by the Chrome browser. Simulating a request from a browser
# is generally good practice when building a scraper
headers = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Cache-Control': 'max-age=0',
    'Connection': 'close',
    'DNT': '1', # Do Not Track Request Header 
    'Pragma': 'no-cache',
    'Referrer': 'https://google.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36'
}

# Fetch the page that we're going to parse, using the request headers
# defined above
page = requests.get(url, headers=headers)

# Parse the page with LXML, so that we can start doing some XPATH queries
# to extract the data that we want
tree = html.fromstring(page.content)

# Smoke test that we fetched the page by fetching and displaying the H1 element
tree.xpath("//h1/text()")

In [ ]:
table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")

# Ensure that some table rows are found; if none are found, then it's possible
# that Yahoo Finance has changed their page layout, or have detected
# that you're scraping the page.
assert len(table_rows) > 0

parsed_rows = []

for table_row in table_rows:
    parsed_row = []
    el = table_row.xpath("./div")
    
    none_count = 0
    
    for rs in el:
        try:
            (text,) = rs.xpath('.//span/text()[1]')
            parsed_row.append(text)
        except ValueError:
            parsed_row.append(np.NaN)
            none_count += 1

    if (none_count < 4):
        parsed_rows.append(parsed_row)

df = pd.DataFrame(parsed_rows)
df

In [ ]:
df = pd.DataFrame(parsed_rows)
df = df.set_index(0) # Set the index to the first column: 'Period Ending'.
df = df.transpose() # Transpose the DataFrame, so that our header contains the account names

# Rename the "Breakdown" column to "Date"
cols = list(df.columns)
cols[0] = 'Date'
df = df.set_axis(cols, axis='columns', inplace=False)

df

In [ ]:
def scrape_table(url):
    # Fetch the page that we're going to parse
    page = get_page(url);

    # Parse the page with LXML, so that we can start doing some XPATH queries
    # to extract the data that we want
    tree = html.fromstring(page.content)

    # Fetch all div elements which have class 'D(tbr)'
    table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")
    
    # Ensure that some table rows are found; if none are found, then it's possible
    # that Yahoo Finance has changed their page layout, or have detected
    # that you're scraping the page.
    assert len(table_rows) > 0
    
    df = parse_rows(table_rows)
    df = clean_data(df)
        
    return df

In [ ]:
def scrape(symbol):
    print('Attempting to scrape data for ' + symbol)

    df_balance_sheet = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol)
    df_balance_sheet = df_balance_sheet.set_index('Date')

    df_income_statement = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/financials?p=' + symbol)
    df_income_statement = df_income_statement.set_index('Date')
    
    df_cash_flow = scrape_table('https://finance.yahoo.com/quote/' + symbol + '/cash-flow?p=' + symbol)
    df_cash_flow = df_cash_flow.set_index('Date')
    
    df_joined = df_balance_sheet \
        .join(df_income_statement, on='Date', how='outer', rsuffix=' - Income Statement') \
        .join(df_cash_flow, on='Date', how='outer', rsuffix=' - Cash Flow') \
        .dropna(axis=1, how='all') \
        .reset_index()
            
    df_joined.insert(1, 'Symbol', symbol)
    
    return df_joined

In [ ]:
def scrape_multi(symbols):
    return pd.concat([scrape(symbol) for symbol in symbols], sort=False)

In [ ]:
symbols = ['MFT.NZ', 'FRE.NZ']
df_combined = scrape_multi(symbols)

# 원격 데이터 서비스로부터 데이터 읽기
과거의 pandas에서는 웹 기반의 다양한 데이터 소스 클래스를 `pandas.io.data`네임 스페이스에서 직접 지원했다. 그러나 버전. 0.19.0부터는 그 부분이 따로 떨어져 나와 `pandas-datareader` 패키지로 리팩토링 되었다고 한다.  

이 패키지는 다음과 같은 여러 유용한 데이터 소스로의 접근을 지원한다. 

- Yahoo! Finance 나 Google Finance 의 일별 주가
- Yahoo! Option과 Google 옵션
- Enigma 가 제공하는 정형 데이터
- 연방준비은행 경제 데이터(FRED, Federal Reserve Economic Data) 라이브러리
- Kenneth French 의 데이터 라이브러리
- The World Bank
- OECD
- 유럽 연합 통계청(Eurostat)
- 미국증권거래위원회의 에드가 인덱스(EDGAR Index)
- 미국 연방퇴직저축투자위원회의 TSP 펀드 데이터
- Oanda의 과거 혼율 데이터
- Nasdaq 종목 기호

    이와 같은 데이터는 외부 소스로부터 가져오므로 수시로 바뀐다. 

## `pandas_datareader` 
### Reading stock data from Google Finance
불행히도(아니 진작 좀 말씀 해주시지) 이 책을 쓰는 시점에서 Yahoo! API는 변경됐다.  
`pandas-datareader`에서 Yahoo! APi를 사용해 구현된 내용은 더 이상 유효하지 않게 됐으므로 여기서는 Google Finance만 이용하게 하겠다고 한다.  

웃긴건 지금은 google이아니라 yahoo만 지원한다고 나오다가, 오류를 일으킨다. 
```
data_source='google' is not implemented
```

어메이징 판다스. 그래서 다들 수작업을 하시나보다. 
```
# read options for MSFT
options = pdr.data.Options('MSFT', 'google')
///
NotImplementedError: currently only yahoo supported
```
```
# read options for MSFT
options = pdr.data.Options('MSFT', 'yahoo')
///
ImmediateDeprecationError: 
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues


```



### 라고 하지만 지금은 `data_source: {str, None} ,  the data source ("iex", "fred", "ff")` 밖에 

`pandas-datareader`를 사용하기 위해서는 import 해야한다.  
그리고 `DataReader` 함수에 종목 기호, 데이터 소스(Google), 시작일, 종료일을 전달해 Google Finance의 주식 데이터를 가져와 데이터 프레임으로 객체화할 수 있다.

In [3]:
# import data reader package
import pandas_datareader as pdr

In [ ]:
# # read from google and display the head of the data
# start = datetime(2017, 4, 1)
# end = datetime(2017, 4, 30)
# goog = pdr.data.DataReader("MSFT", 'google', start, end)
# goog[:5]

## Retrieving options data from Google Finance

In [ ]:
# read options for MSFT
options = pdr.data.Options('MSFT', 'yahoo')

In [ ]:
options.expiry_dates

In [ ]:
data = options.get_options_data(expiry=options.expiry_dates[0])
data.iloc[:5,:3]

In [ ]:
# get all puts at strike price of $30 (first four columns only)
data.loc[(30, slice(None), 'put'), :].iloc[0:5, 0:3]

In [ ]:
# put options at strike of $80, between 2017-06-01 and 2017-06-30
data.loc[(30, slice('20180119','20180130'), 'put'), :] \
    .iloc[:, 0:3]

## Reading economic data from the Federal Reserve Bank of St. Louis
세인트루이스 연방준비은행의 FRED 데이터 가져오기

세인트루이스 연방준비은행 경제 데이터는 80개 이상의 데이터 소스로부터 50만 개 이상의 미국과 국제 시계열 데이터를 제공하고 있으며, 이는 꾸준히 늘어나고 있다. (https://fred.stlouisfed.org/)  

FRED 데이터는 `FredReader`클래스에 원하는 데이터의 태그와 기간을 전달해 가져올 수 있다. 특정기간의 GDP를 가져와보자.  

```
# load data
data = pdr.data.FredReader()
# when read it
data.read()
```

In [6]:
# read GDP data from FRED
gdp = pdr.data.FredReader("GDP",
                     date(2012, 1, 1), 
                     date(2014, 1, 27))
gdp.read()[:5]

                  GDP
DATE
2012-01-01  16068.824
2012-04-01  16207.130
2012-07-01  16319.540
2012-10-01  16420.386
2013-01-01  16629.050

In [7]:
# 최근의 데이터도 불러와지는지 보도록 할까
gdp2 = pdr.data.FredReader(symbols = 'GDP', start = date(2018, 1, 1), end = date(2022, 10, 1))
gdp2.read()[:5]

                  GDP
DATE
2018-01-01  20155.486
2018-04-01  20470.197
2018-07-01  20687.278
2018-10-01  20819.269
2019-01-01  21013.085

다른 시계열 데이터를 가져오고 싶다면 첫 번째 파라미터에 식별자를 지정하면 된다. FRED 사이트는 각종 시계열 데이터에 대한 편리한 검색과, 사이트에서의 시각화를 제공한다.  
예를 들어 '근로자 보수: 임금 및 급여(Compensation of employees: Wages and salaries)' 데이터의 경우 데이터 아이디가 `A576RC1A027NBEA`이다.

In [8]:
# Get Compensation of employees: Wages and salaries
pdr.data.FredReader("A576RC1A027NBEA", start = date(1929, 1, 1), end = date(2019, 1, 1)).read()[:5]

            A576RC1A027NBEA
DATE
1929-01-01             50.5
1930-01-01             46.2
1931-01-01             39.2
1932-01-01             30.5
1933-01-01             29.0

## Accessing Kenneth French data
케네스 프렌치 데이터에 접근

케네스 프렌치(Kenneth R. French)는 Dartmouth College의 경영대학원(Tuck School of Business)의 교수이며, 파마-프렌치 3요인 모델(Fama-French 3-factor model)을 개발한 장본인이다. 케네스는 방대한 경제 데이터 라이브러리를 구축해 웹을 통해 접근할 수 있게 했는데, (http://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html) 에서 각종 데이터를 자세한 설명과 함께 다운로드 할 수 있다.  

데이터는 ZIP 파일로 되어있는데, 이는 `FmaFrenchReader` 함수에 데이터셋의 파일명(.zip 확장자를 제외한 이름)을 지정해 `DataFrame`으로 직접 로딩할 수 있다.  
예를 들어 다음은 Global Factors 데이터를 읽어들이는 경우인데, 해당 데이터가 비어있는 이유로 데이터를 가져올 수 없었다.

In [9]:
# read from Kenneth French fama global factors data set
factors = pdr.data.FamaFrenchReader('Global_Factors').read()
factors[0][:5]

Empty DataFrame
Columns: [Mkt-RF, SMB, HML, WML, RF]
Index: []

In [10]:
# another data set (download a file and get the name)
factors = pdr.data.FamaFrenchReader('F-F_Research_Data_5_Factors_2x3').read()
factors[0][:5]

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2017-12    1.06 -1.07  0.05  0.74  1.66  0.09
2018-01    5.57 -3.21 -1.33 -0.72 -1.00  0.12
2018-02   -3.65  0.31 -1.07  0.54 -2.39  0.11
2018-03   -2.35  3.58 -0.23 -0.46  0.00  0.11
2018-04    0.28  0.93  0.54 -2.43  1.27  0.14

## Reading from the World Bank
세계은행의 데이터 읽기

The World Bank는 수천 개의 데이터셋을 제공하며, 이를 pandas `DataFrame` 객체로 직접 읽어 들일 수 있다. 세계은행의 데이터 카탈로그는 https://datacatalog.worldbank.org/ 에서 검색할 수 있다.  

### `wb.get_indicators()`
더월드뱅크의 데이터셋은 지시자(indicator)라고 하는 각 데이터셋을 나타내는 텍스트 코드를 통해 식별된다.  
`wb.get_indicators()`함수를 사용하면 인디케이터의 전체 목록을 가져올 수 있다. 이 책을 쓰는 시점에서는 17,000개 가량의 지시자가 존재했다고 한다. 

다음은 처음 10개의 인디케이터만 가져와보자.

In [11]:
# option
pd.set_option('display.notebook_repr_html', True)

# get all indicators
from pandas_datareader import wb
all_indicators = pdr.wb.get_indicators()
all_indicators.iloc[:10,:2]

,id,name
0,1.0.HCount.1.90usd,Poverty Headcount ($1.90 a day)
1,1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day)
2,1.0.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount
3,1.0.HCount.Ofcl,Official Moderate Poverty Rate-National
4,1.0.HCount.Poor4uds,Poverty Headcount ($4 a day)
5,1.0.HCount.Vul4to10,Vulnerable ($4-10 a day) Headcount
6,1.0.PGap.1.90usd,Poverty Gap ($1.90 a day)
7,1.0.PGap.2.5usd,Poverty Gap ($2.50 a day)
8,1.0.PGap.Poor4uds,Poverty Gap ($4 a day)
9,1.0.PSev.1.90usd,Poverty Severity ($1.90 a day)

### `wb.search()`, `wb.get_countries()`

이 인디케이터가 의미하는 바는 더월드뱅크 웹 사이트에서 확인할 수 있지만, 직접 검색을 통해 원하는 인디케이터를 찾아볼 수도 있다.  
`wb.search()` 함수를 사용하여 평균 수명(life expectancy)과 관련된 인디케이터들을 검색한 예이다. name에 직접적으로 포함된 여러 인디케이터가 나온다.  

또한 각 인디케이터는 국가별로 구분되어있다. 모든 국가 데이터의 목록을 얻고 싶다면 `wb.get_countries()` 함수를 사용하면 된다.  
데이터 프레임으로 보니 id에 적혀있는 두 글자 코드가 아마도 국가 코드인 것처럼 보인다.

In [12]:
# search of life expectancy indicators
le_indicators = pdr.wb.search("life expectancy")
# report first three rows, first two columns
le_indicators.iloc[:10, :]

,id,name,unit,source,sourceNote,sourceOrganization,topics
12214,SE.SCH.LIFE,"School life expectancy, primary to tertiary, b...",,Education Statistics,Number of years a person of school entrance ag...,b'UNESCO Institute for Statistics',
12215,SE.SCH.LIFE.FE,"School life expectancy, primary to tertiary, f...",,Education Statistics,Number of years a person of school entrance ag...,b'UNESCO Institute for Statistics',Gender
12216,SE.SCH.LIFE.MA,"School life expectancy, primary to tertiary, m...",,Education Statistics,Number of years a person of school entrance ag...,b'UNESCO Institute for Statistics',Gender
13761,SP.DYN.LE00.FE.IN,"Life expectancy at birth, female (years)",,World Development Indicators,Life expectancy at birth indicates the number ...,b'(1) United Nations Population Division. Worl...,Health ; Gender ; Social Development
13762,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",,World Development Indicators,Life expectancy at birth indicates the number ...,b'(1) United Nations Population Division. Worl...,Health
13763,SP.DYN.LE00.MA.IN,"Life expectancy at birth, male (years)",,World Development Indicators,Life expectancy at birth indicates the number ...,b'(1) United Nations Population Division. Worl...,Health ; Gender ; Social Development
13764,SP.DYN.LE60.FE.IN,"Life expectancy at age 60, female (years)",,Gender Statistics,"Life expectancy at age 60, female is the avera...","b'2019 World Population Prospects, United Nati...",Gender
13765,SP.DYN.LE60.MA.IN,"Life expectancy at age 60, male (years)",,Gender Statistics,"Life expectancy at age 60, male is the average...","b'2019 World Population Prospects, United Nati...",Gender
13766,SP.DYN.LIFE.MF,Life Expectancy at Birth(years),,WDI Database Archives,,b'',
16377,UIS.SLE.02,"School life expectancy, pre-primary, both sexe...",,Education Statistics,,b'',

In [13]:
# get countries and show the 3 digit code and name
countries = pdr.wb.get_countries()
# show a subset of the country data
countries.loc[0:5, ['name', 'capitalCity', 'iso2c']]

                          name capitalCity iso2c
0                        Aruba  Oranjestad    AW
1  Africa Eastern and Southern                ZH
2                  Afghanistan       Kabul    AF
3                       Africa                A9
4   Africa Western and Central                ZI
5                       Angola      Luanda    AO

확인해보고 싶어서 id 컬럼의 앞자리가 국가 컬럼이 맞는지 확인해보았다. 정확하진 않다. 어쩌면 실시한 기관이 속한 나라일지도 모른다는 생각.  
또한 두글자가 없이 세글자로 되어있는 부분은 국가 코드가 따로 지정되지 않은 것이 아닐까 하는 추측이 든다.

In [14]:
# 국가 코드가 맞는지 확인해볼까
le = le_indicators['id'].str.split('.', n=2, expand= True)
le

         0    1           2
12214   SE  SCH        LIFE
12215   SE  SCH     LIFE.FE
12216   SE  SCH     LIFE.MA
13761   SP  DYN  LE00.FE.IN
13762   SP  DYN     LE00.IN
...    ...  ...         ...
16401  UIS  SLE         4.M
16402  UIS  SLE          56
16403  UIS  SLE        56.F
16404  UIS  SLE      56.GPI
16405  UIS  SLE        56.M

[38 rows x 3 columns]

In [15]:
countries[ countries['iso2c'] == le.iloc[0][0] ]

,iso3c,iso2c,name,region,...,lendingType,capitalCity,longitude,latitude
253,SWE,SE,Sweden,Europe & Central Asia,...,Not classified,Stockholm,18.0645,59.3327

In [16]:
countries[ countries['iso2c'] == 'UIS' ]

Empty DataFrame
Columns: [iso3c, iso2c, name, region, adminregion, incomeLevel, lendingType, capitalCity, longitude, latitude]
Index: []

[0 rows x 10 columns]

### `wb.download()` 

`wb.download()` 함수에 indicator 파라미터를 전달해 다운로드 할 수 있다.

다음은 1980년 부터 2014년 까지의 평균 수명 데이터를 다운로드 하는 예시이다.

In [17]:
# get life expectancy at birth for all countries from 1980 to 2014
le_data_all = pdr.wb.download(indicator="SP.DYN.LE00.IN",
                              start='1980', end='2014')
le_data_all

                    SP.DYN.LE00.IN
country       year
Canada        2014       81.800000
              2013       81.748780
              2012       81.648780
              2011       81.448780
              2010       81.246341
...                            ...
United States 1984       74.563415
              1983       74.463415
              1982       74.360976
              1981       74.009756
              1980       73.609756

[105 rows x 1 columns]

In [18]:
# only US, CAN, and MEX are returned by default
le_data_all.index.levels[0]

Index(['Canada', 'Mexico', 'United States'], dtype='object', name='country')

위의 3개구 이외의 국가에 대한 데이터를 얻고싶다면 `country` 파라미터를 사용해야한다.  
`country`가 파라미터에 countries의 ['iso2c']로 국가 코드를 전부 받아온다.

In [19]:
# retrieve life expectancy at birth for all countries 
# from 1980 to 2014
le_data_all = wb.download(indicator="SP.DYN.LE00.IN", 
                          country = countries['iso2c'],
                          start='1980', 
                          end='2012')
le_data_all

/Users/Angela/opt/anaconda3/envs/py3_8_5/lib/python3.8/site-packages/pandas_datareader/wb.py:592: UserWarning: Non-standard ISO country codes: 1A, 1W, 4E, 6F, 6N, 6X, 7E, 8S, A4, A5, A9, B1, B2, B3, B4, B6, B7, B8, C4, C5, C6, C7, C8, C9, D2, D3, D4, D5, D6, D7, D8, D9, EU, F1, F6, JG, M1, M2, N6, OE, R6, S1, S2, S3, S4, T2, T3, T4, T5, T6, T7, V1, V2, V3, V4, XC, XD, XE, XF, XG, XH, XI, XJ, XK, XL, XM, XN, XO, XP, XQ, XT, XU, XY, Z4, Z7, ZB, ZF, ZG, ZH, ZI, ZJ, ZQ, ZT
  warnings.warn(

               SP.DYN.LE00.IN
country  year
Aruba    2012          75.299
         2011          75.158
         2010          75.017
         2009          74.872
         2008          74.725
...                       ...
Zimbabwe 1984          61.280
         1983          61.025
         1982          60.650
         1981          60.203
         1980          59.731

[8778 rows x 1 columns]

### 피봇팅

이 데이터로 몇가지 활용 예시를 보려고 한다.  

#### 연도별 평균 수명이 가장 낮은 국가 판별  
하기 위해서는 이 데이터를 피벗하여 국가명을 인덱스로 하고, 연도를 칼럼으로 바꾸어야 한다.  
피버팅(pivoting)에 대해서는 나중에 자세히 다룰 예정이므로, 지금은 다음과 같이 국가와 연도를 인덱스와 칼럼으로 재조직 하는 작업만 한다.  
(각 국가의 연도별 개별 데이터는 평균 수명을 나타낸다.)

1. `reset_index()`를 한 후 index는 country로, columns는 year로 pivoting 한다.

In [20]:
#le_data_all.pivot(index='country', columns='year')
le_data = le_data_all.reset_index().pivot(index='country', 
                                          columns='year')
# examine pivoted data
le_data.iloc[:5,0:3]

                            SP.DYN.LE00.IN             \
year                                  1980       1981
country
Afghanistan                      43.244000  43.923000
Africa Eastern and Southern      49.870693  50.115886
Africa Western and Central       46.366104  46.798292
Albania                          70.208000  70.416000
Algeria                          58.198000  59.519000


year                              1982
country
Afghanistan                  44.617000
Africa Eastern and Southern  50.363456
Africa Western and Central   47.188618
Albania                      70.635000
Algeria                      60.813000

2. 이때 `.idxmin(axis = 0)`을 사용해 연도별로 최저 평균 수명을 기록한 국가를 **바로!** 알아낼 수 있다.  
idx가 국가명이기 때문에 인덱스를 바로 가져오게 되어있다.  
(상당히 신기한 매커니즘이라 더 자주 써봐야 할 것 같다.)

In [21]:
# ask what is the name of country for each year
# with the least life expectancy
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy[:5]

                year
SP.DYN.LE00.IN  1980       Cambodia
                1981       Cambodia
                1982    Timor-Leste
                1983    South Sudan
                1984    South Sudan
dtype: object

3. 연도별 평균 수명의 실제 값은 `.min(axis = 0)`을 사용한다.  
아까는 인덱스를 가져온 것이고 이거는 바로 값을 가져오고.

In [22]:
# and what is the minimum life expectancy for each year
expectancy_for_least_country = le_data.min(axis=0)
expectancy_for_least_country[:5]

                year
SP.DYN.LE00.IN  1980    27.536
                1981    33.342
                1982    38.175
                1983    39.671
                1984    40.005
dtype: float64

4. 이 두 결과를 조합함으로써 각 국가의 연도별 최저 평균 수명과, 그 값을 보여주는 새 `DataFrame`을 만들 수 있다.  

data에는 2. 에서 구했던 각 나라 이름과 3. 에서 구한 평균 수명 values를 붙여서,  
index에는 계층형 인덱스에 두번째로 사용되었던 years를 가져온다.

In [23]:
# this merges the two frames together and gives us
# year, country and expectancy where there minimum exists
least = pd.DataFrame(
    data = {'Country': country_with_least_expectancy.values,
            'Expectancy': expectancy_for_least_country.values},
    index = country_with_least_expectancy.index.levels[1])
least[:5]

          Country  Expectancy
year
1980     Cambodia      27.536
1981     Cambodia      33.342
1982  Timor-Leste      38.175
1983  South Sudan      39.671
1984  South Sudan      40.005

데이터의 정제 작업을 수행하는 일이 남았다. 수집한 데이터에 누락된 정보가 있거나 잘못된 형식의 콘텐츠가 포함돼 있는 경우는 흔하기 때문이다.  
10 장에서는 그와 같은 이슈를 다루는, 소위 데이터 정돈(data tidying)과정에 초점을 맞춘다.