<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#ë°ì´í„°-ì •ëˆ" data-toc-modified-id="ë°ì´í„°-ì •ëˆ-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ë°ì´í„° ì •ëˆ</a></span><ul class="toc-item"><li><span><a href="#ë°ì´í„°-ì •ëˆì´ë€" data-toc-modified-id="ë°ì´í„°-ì •ëˆì´ë€-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ë°ì´í„° ì •ëˆì´ë€</a></span></li></ul></li><li><span><a href="#Working-with-missing-data" data-toc-modified-id="Working-with-missing-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Working with missing data</a></span><ul class="toc-item"><li><span><a href="#NaN-ê°’-ì°¾ê¸°-:-Determining-NaN-values-in-Series-and-DataFrame-objects" data-toc-modified-id="NaN-ê°’-ì°¾ê¸°-:-Determining-NaN-values-in-Series-and-DataFrame-objects-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>NaN</code> ê°’ ì°¾ê¸° : Determining NaN values in Series and DataFrame objects</a></span><ul class="toc-item"><li><span><a href="#.isnull()" data-toc-modified-id=".isnull()-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span><code>.isnull()</code></a></span></li><li><span><a href="#.count()" data-toc-modified-id=".count()-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span><code>.count()</code></a></span></li><li><span><a href="#.notnull()" data-toc-modified-id=".notnull()-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span><code>.notnull()</code></a></span></li></ul></li><li><span><a href="#Selecting-out-or-dropping-missing-data" data-toc-modified-id="Selecting-out-or-dropping-missing-data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Selecting out or dropping missing data</a></span><ul class="toc-item"><li><span><a href="#.isnull(),-.notnull()-ë¡œ-NaNê°’ì„-ì¶”ì¶œí•˜ëŠ”-ë¶ˆë¦¬ì–¸-ì„ íƒ" data-toc-modified-id=".isnull(),-.notnull()-ë¡œ-NaNê°’ì„-ì¶”ì¶œí•˜ëŠ”-ë¶ˆë¦¬ì–¸-ì„ íƒ-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><code>.isnull()</code>, <code>.notnull()</code> ë¡œ <code>NaN</code>ê°’ì„ ì¶”ì¶œí•˜ëŠ” ë¶ˆë¦¬ì–¸ ì„ íƒ</a></span></li><li><span><a href="#ğŸ§ª-.dropna()" data-toc-modified-id="ğŸ§ª-.dropna()-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>ğŸ§ª <code>.dropna()</code></a></span><ul class="toc-item"><li><span><a href="#.dropna(how-=-,-axis-=-)" data-toc-modified-id=".dropna(how-=-,-axis-=-)-3.2.2.1"><span class="toc-item-num">3.2.2.1&nbsp;&nbsp;</span><code>.dropna(how = , axis = )</code></a></span></li><li><span><a href="#.dropna(thresh-=-)" data-toc-modified-id=".dropna(thresh-=-)-3.2.2.2"><span class="toc-item-num">3.2.2.2&nbsp;&nbsp;</span><code>.dropna(thresh = )</code></a></span></li></ul></li></ul></li><li><span><a href="#How-pandas-handles-NaNâ€™s-in-mathematical-operations" data-toc-modified-id="How-pandas-handles-NaNâ€™s-in-mathematical-operations-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>How pandas handles NaNâ€™s in mathematical operations</a></span></li><li><span><a href="#.fillna(n)-Filling-in-missing-data-with-'n'" data-toc-modified-id=".fillna(n)-Filling-in-missing-data-with-'n'-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>.fillna(n)</code> Filling in missing data with 'n'</a></span></li><li><span><a href="#.fillna(method-=-'ffill'|'bfill'):-Forward-and-backwards-filling-of-missing-values" data-toc-modified-id=".fillna(method-=-'ffill'|'bfill'):-Forward-and-backwards-filling-of-missing-values-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>.fillna(method = 'ffill'|'bfill')</code>: Forward and backwards filling of missing values</a></span></li><li><span><a href="#.fillna(fill_values)-:-Filling-using-index-labels" data-toc-modified-id=".fillna(fill_values)-:-Filling-using-index-labels-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>.fillna(fill_values) : Filling using index labels</a></span><ul class="toc-item"><li><span><a href="#ğŸ§ª.fillna(.mean()-)" data-toc-modified-id="ğŸ§ª.fillna(.mean()-)-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>ğŸ§ª<code>.fillna(.mean() )</code></a></span></li></ul></li><li><span><a href="#.interpolate()-:-Interpolation-of-missing-values" data-toc-modified-id=".interpolate()-:-Interpolation-of-missing-values-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>.interpolate()</code> : Interpolation of missing values</a></span><ul class="toc-item"><li><span><a href="#.interpolate(method-=-'time')" data-toc-modified-id=".interpolate(method-=-'time')-3.7.1"><span class="toc-item-num">3.7.1&nbsp;&nbsp;</span><code>.interpolate(method = 'time')</code></a></span></li><li><span><a href="#.interpolate(methd-=-'values')" data-toc-modified-id=".interpolate(methd-=-'values')-3.7.2"><span class="toc-item-num">3.7.2&nbsp;&nbsp;</span><code>.interpolate(methd = 'values')</code></a></span></li></ul></li></ul></li><li><span><a href="#Handling-Duplicate-Data" data-toc-modified-id="Handling-Duplicate-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Handling Duplicate Data</a></span></li><li><span><a href="#Mapping" data-toc-modified-id="Mapping-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Mapping</a></span></li><li><span><a href="#Replacing-values" data-toc-modified-id="Replacing-values-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Replacing values</a></span></li><li><span><a href="#Applying-functions-to-transform-data" data-toc-modified-id="Applying-functions-to-transform-data-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Applying functions to transform data</a></span></li></ul></div>

# Configuring pandas

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# import web crawling libraries
import requests
from bs4 import BeautifulSoup

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# ë°ì´í„° ì •ëˆ

ì´ì œ, ë°ì´í„° ì²˜ë¦¬ì˜ íŒŒì´í”„ë¼ì¸ì—ì„œ ìš°ë¦¬ê°€ ìˆ˜ì§‘í•œ ë°ì´í„°ë¥¼ ë“¤ì—¬ë‹¤ë³´ê³ , ë¶„ì„ ì¤‘ì— ë‚˜íƒ€ë‚  ìˆ˜ ìˆëŠ” ë¹„ì •ìƒì ì¸ ë¶€ë¶„ì— ëŒ€í•´ ê³ ì‹¬í•´ì•¼ í•  ì§€ì ì— ì™”ë‹¤. ê·¸ëŸ° ë¹„ì •ìƒì´ ì¡´ì¬í•˜ëŠ” ì›ì¸ì€ ë‹¤ì–‘í•˜ë‹¤. 
- ë°ì´í„°ì˜ íŠ¹ì • ë¶€ë¶„ì´ ê¸°ë¡ë˜ì§€ ì•Šì•˜ê±°ë‚˜ 
- ìœ ì‹¤ëê±°ë‚˜
- ë°ì´í„°ì˜ ë‹¨ìœ„ê°€ ìš°ë¦¬ ì‹œìŠ¤í…œì˜ ë‹¨ìœ„ì™€ ë§ì§€ ì•Šê±°ë‚˜
- ë§ì€ ê²½ìš°, íŠ¹ì • ë°ì´í„° ì§€ì ì´ ì¤‘ë³µëê±°ë‚˜

ê·¸ì™€ ê°™ì€ ë¹„ì •ìƒ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ê³¼ì •ì„ ë°ì´í„° ì •ëˆ(data tidying)ì´ë¼ê³  í•˜ëŠ”ë°, ë°ì´í„° ì •ëˆì€ ì•„ë¬´ë¦¬ ê°„ë‹¨í•œ ë¶„ì„ ì‘ì—…ì´ë¼ í• ì§€ë¼ë„ ê·¸ ì „ì— ìƒë‹¹í•œ ì‹œê°„ì„ ìŸì•„ì•¼ í•˜ëŠ” ë§¤ìš° ì¤‘ìš”í•œ ë‹¨ê³„ë‹¤.  

ë°ì´í„° ì •ëˆì€ ì§€ë£¨í•œ ì‘ì—…ì´ ë  ìˆ˜ ìˆë‹¤. íŠ¹íˆ ì‚¬ìš©í•˜ê³  ìˆëŠ” í”„ë¡œê·¸ë˜ë° íˆ´ì´ ë°ì´í„° ì •ì œì™€ ê´€ë ¨ëœ íŠ¹ì • ì‘ì—…ì„ ì§€ì›í•˜ì§€ ì•ŠëŠ” ê²½ìš°ì— ë”ìš± ê·¸ë ‡ë‹¤. ë‹¤í–‰íˆ pandasëŠ” ê·¸ëŸ° ì´ìŠˆë¥¼ ë‹¤ë£° ìˆ˜ ìˆëŠ” ë‹¤ì–‘í•œ ë„êµ¬ë¥¼ ì œê³µí•œë‹¤. 

- ë°ì´í„° ì •ëˆì˜ ê°œë…
- ê²°ì¸¡ ë°ì´í„° ë‹¤ë£¨ê¸°
- `NaN` ì°¾ê¸°
- ê²°ì¸¡ ë°ì´í„° ê±°ë¥´ê¸°(ì‚­ì œ)
- pandasê°€ ê²°ì¸¡ ê°’ì„ ë‹¤ë£¨ëŠ” ë°©ë²•
- ì•Œ ìˆ˜ ì—†ëŠ” ê°’ì˜ íŒë³„, ì‚­ì œ, ìˆ˜ì •
- ë³´ê°„ë²•ì„ ì‚¬ìš©í•œ ê²°ì¸¡ ê°’ ì±„ìš°ê¸°
- ì¤‘ë³µ ë°ì´í„°ì˜ ì‹ë³„ê³¼ ì‚­ì œ
- ë§¤í•‘, ëŒ€ì²´, í•¨ìˆ˜ ì ìš©ì„ í†µí•œ ë°ì´í„° ë³€í˜•(ì´ë¼ê¸° ë³´ë‹¤ ìˆ˜ì •ì´ ì•„ë‹ê¹Œ)

## ë°ì´í„° ì •ëˆì´ë€

tidy dataë€ ë§ì€ í•´ë“¤ë¦¬ ìœ„ì»´(Hadley Wickham)ì˜ ë…¼ë¬¸ì¸ \<Tidy Data> ì—ì„œ ë§Œë“¤ì–´ì§„ ìš©ì–´ë‹¤. ì´ë…¼ë¬¸ì€ ë”°ë¡œ ë³´ê¸¸ ì¶”ì²œ(http://vita.had.co.nz/papers/tidy-data.pdf).  
ì´ ë…¼ë¬¸ì€ íƒ€ì´ë”” ë°ì´í„°ë¥¼ ë§Œë“œëŠ” ê³¼ì •ì„ ìƒì„¸íˆ ì„¤ëª…í•œë‹¤. íƒ€ì´ë”” ë°ì´í„°ë€ **ì–´ë–¤ ëœ»ë°–ì˜ ìƒí™©ì—ë„ ì•ˆì „í•˜ë©° ì¦‰ì‹œ ë¶„ì„ ì¤€ë¹„ê°€ ëœ ì™„ì „íˆ ì •ëˆëœ ìµœì¢… ë°ì´í„°**ë¥¼ ë§í•œë‹¤.  

ëœ»ë°–ì˜ ìƒí™©, ë‹¤ìŒê³¼ ê°™ì€ ìƒí™©ì— ëŒ€ì²˜í•˜ê¸° ìœ„í•´ì„œì´ë‹¤.  
- ìš”ì²­í–ˆë˜ ë³€ìˆ˜ì™€ëŠ” ë‹¤ë¥¸ ì´ë¦„ì˜ ë³€ìˆ˜ê°€ ì–»ì–´ì¡Œë‹¤.
- ê²°ì¸¡ ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. 
- ìš”ì²­í–ˆë˜ ë‹¨ìœ„ì˜ ê°’ì´ ì•„ë‹ˆë‹¤.
- ì›í•˜ëŠ” ê¸°ê°„ì˜ í‘œë³¸ì´ ì•„ë””ã….
- ì–‘ì  ë°ì´í„°ê°€ í•„ìš”í•˜ì§€ë§Œ ë³€ìˆ˜ê°€ ë²”ì£¼í˜•ì´ë‹¤.
- ë°ì´í„°ì— ì¡ìŒ(noise)ì´ ì¡´ì¬í•œë‹¤. 
- ì •ë³´ì˜ ë°ì´í„° íƒ€ì…ì´ ì˜ëª»ë¼ ìˆë‹¤.
- ë°ì´í„°ê°€ ì˜ëª»ëœ ì¶•ì„ ê¸°ì¤€ìœ¼ë¡œ ì¡°ì§ë¼ ìˆë‹¤.
- ë°ì´í„°ì˜ ì •ê·œí™” ìˆ˜ì¤€ì´ ì˜ëª» ë˜ì–´ ìˆë‹¤.
- ë°ì´í„°ê°€ ì¤‘ë³µëœë‹¤. 

ì´ê²Œ ì „ë¶€ëŠ” ì•„ë‹ˆì§€ë§Œ, ì•ìœ¼ë¡œ ë¶„ëª… ë§ˆì£¼ì¹  ì´ìŠˆë“¤ì´ë‹¤. ì´ëŸ° ì´ìŠˆë“¤ì€ ì´ë¥¼ ëª…ì‹œì ìœ¼ë¡œ ì§€ì›í•˜ì§€ ì•ŠëŠ” íˆ´ì´ë‚˜ ì–¸ì–´ë¥¼ ì‚¬ìš©í•  ê²½ìš°ì—ëŠ” í•´ê²°í•˜ê¸°ê°€ ë§¤ìš° ê³¤ë€í•˜ë‹¤.  
ì´ë¥¼ ì–´ë–»ê²Œ í•´ê²°í•  ìˆ˜ ìˆëŠ”ì§€ ë³´ë„ë¡ í•œë‹¤!

# Working with missing data
---
ê²°ì¸¡ ë°ì´í„° ë‹¤ë£¨ê¸°

pandasì—ì„œëŠ” `NaN`(Numpyì—ì„œëŠ” `np.nan`)ì˜ ê°’ì„ ê°–ëŠ” ë°ì´í„°ë¥¼ ëˆ„ë½ëœ ë°ì´í„°, ì¦‰ missing ë°ì´í„°ë¼ê³  í•œë‹¤. ì´ `NaN` ê°’ì€ `Series`ì˜ íŠ¹ì • ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— í• ë‹¹ëœ ê°’ì´ ì—†ìŒì„ ì˜ë¯¸í•˜ëŠ”ë°, ì™œ ë°œìƒí•˜ëŠ” ê±¸ê¹Œ? ì›ì¸ì€ ë‹¤ìŒê³¼ ê°™ì´ ë‹¤ì–‘í•˜ë‹¤.  
- ì¡°ì¸í•˜ëŠ” ë‘ ë°ì´í„°ì…‹ì— ì„œë¡œ ëŒ€ì‘ë˜ëŠ” ê°’ì´ ì—†ë‹¤.
- ì™¸ë¶€ ì†ŒìŠ¤ë¡œë¶€í„° ê°€ì ¸ì˜¨ ë°ì´í„°ê°€ ë¶ˆì™„ì „í•˜ë‹¤.
- ë‚˜ì¤‘ì— ì±„ì›Œì§ˆ ê°’ì´ë¯€ë¡œ, ì£¼ì–´ì§„ ì‹œì ì—ì„œëŠ” ê°’ì´ ì—†ë‹¤.
- ê°’ì„ ê°€ì ¸ì˜¤ëŠ” ë° ì˜¤ë¥˜ê°€ ìˆìœ¼ë‚˜, ì´ë²¤íŠ¸ëŠ” ê³„ì† ë°œìƒí•´ ê¸°ë¡ëë‹¤.
- ë¦¬ì¸ë±ì‹±ì„ í•œ ê²°ê³¼ë¡œ ê°’ì´ ì—†ëŠ” ì¸ë±ìŠ¤ê°€ ë§Œë“¤ì–´ì¡Œë‹¤. 
- ë°ì´í„° ì¬í˜•ì„±(reshape)ë‹¹ì‹œì—ëŠ” í™•ì¸ë˜ì§€ ì•Šì•˜ìœ¼ë‚˜, ìƒˆ ì¹¼ëŸ¼ì´ë‚˜ ë¡œìš°ê°€ ì¶”ê°€ë¼ ë°ì´í„°ì˜ ëª¨ì–‘ì´ ë°”ë€Œì—ˆë‹¤. 

ì´ ì™¸ì—ë„ ë” ë§ì€ ì›ì¸ë“¤ì´ ìˆê² ì§€ë§Œ, ì¤‘ìš”í•œ ì ì€ ë°œìƒí•  ìˆ˜ ë°–ì— ì—†ê³ , ë°ì´í„° ë¶„ì„ì„ ìœ„í•´ ëŒ€ì²˜ë¥¼ í•  ìˆ˜ ìˆì–´ì•¼ í•œë‹¤ëŠ” ì ì´ë‹¤.  

ì˜ˆì‹œ ë°ì´í„° í”„ë ˆì„ì„ ë§Œë“¤ì–´ë³¸ë‹¤. ê·¸ë¦¬ê³  ì¼ë¶€ ë°ì´í„°ë¥¼ ë³€ê²½í•˜ë„ë¡ í•œë‹¤.

In [3]:
# create a DataFrame with 5 rows and 3 columns
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
                   index = ['a', 'b', 'c', 'd', 'e'], 
                   columns = ['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [4]:
# add some columns and rows to the DataFrame
# ì¶”ê°€ : column c4 with NaN values
df['c4'] = np.nan
# ì¶”ê°€ : row 'f' with 15 through 18 
df.loc['f'] = np.arange(15, 19) 
# ì¶”ê°€ : row 'g' will all NaN
df.loc['g'] = np.nan
# ì¶”ê°€ : column 'C5' with NaN's
df['c5'] = np.nan
# ì¶”ê°€ë³€ê²½ : change value in col 'c4' row 'a'
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

ì´ `DataFrame`ì—ëŠ” ê²°ì¸¡ ë°ì´í„°ê°€ ì¡´ì¬í•˜ë©°, ë‹¤ìŒê³¼ ê°™ì€ íŠ¹ì§•ì„ ë³´ì—¬ì¤€ë‹¤. 

- ì˜¤ì§ `NaN`ê°’ìœ¼ë¡œë§Œ ëœ ë¡œìš° í•˜ë‚˜ì™€, ì¹¼ëŸ¼ í•˜ë‚˜ê°€ ìˆë‹¤. 
- ìˆ«ì ê°’ê³¼ `NaN` ê°’ì´ í˜¼í•©ëœ ë¡œìš°ì™€ ì¹¼ëŸ¼ì´ ì—¬ëŸ¬ ê°œ ìˆë‹¤.

## `NaN` ê°’ ì°¾ê¸° : Determining NaN values in Series and DataFrame objects

### `.isnull()`
ë°ì´í„° í”„ë ˆì„ ê°ì²´ì—ì„œì˜ `NaN` ê°’ ì°¾ê¸° ê°’ì€ `.isnull()` ë©”ì„œë“œë¡œ ì°¾ì•„ë‚¼ ìˆ˜ ìˆë‹¤. ì´ ë©”ì„œë“œê°€ `True`ë¥¼ ë°˜í™˜í•œ í•´ë‹¹ ìœ„ì¹˜ì˜ ì•„ì´í…œì€ `NaN` ê°’ì´ë¼ëŠ” ëœ»ì´ë‹¤.

In [5]:
# which items are NaN?
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

ì´ ê²°ê³¼ì— `.sum()` ì„ ì ìš©í•˜ë©´ ì´ `DataFrame`ì— ìˆëŠ” `NaN`ê°’ì˜ ì´ ê°œìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.

In [6]:
# count the number of NaN's in each column
df.isnull().sum()

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

In [7]:
# total count of NaN values
df.isnull().sum().sum()

15

ì´ëŠ” ëˆ„ë½ëœ ë°ì´í„°ë¥¼ ì´ˆê¸°ì— ì‹ë³„í•˜ëŠ” í¸ë¦¬í•œ ë°©ë²•ì´ë‹¤. ì™„ì „í•œ ë°ì´í„°ê°€ í•„ìš”í•œ ê²½ìš°, ì´ ë°©ë²•ìœ¼ë¡œ í™•ì¸í•´ 0ì´ ì•„ë‹Œ ê°’ì´ ë‚˜ì˜¨ë‹¤ë©´ ì¢€ ë” ë°ì´í„°ë¥¼ ì‚´í´ë´ì•¼ í•˜ëŠ” ìƒí™©ì¸ ê²ƒì´ë‹¤.  

### `.count()`
ê²°ì¸¡ ë°ì´í„° ê°œìˆ˜ë¥¼ í™•ì¸í•˜ëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•ìœ¼ë¡œ `Series`, `DataFrame`ì˜ `.count()` ë©”ì„œë“œê°€ ìˆë‹¤.  
- `Series`ì—ì„œ ì´ ë©”ì„œë“œëŠ” `NaN`ì´ **ì•„ë‹Œ ê°’ì˜ ê°œìˆ˜**ë¥¼ ë°˜í™˜í•œë‹¤. 
- `DataFrame`ì—ì„œëŠ” ê° **ì¹¼ëŸ¼ ë³„ë¡œ `NaN`ì´ ì•„ë‹Œ ê°’ì˜ ê°œìˆ˜**ë¥¼ ë°˜í™˜í•œë‹¤. 

ê·¸ ë‹¤ìŒì—ëŠ” ê±°ê¾¸ë¡œ, ì´ë¥¼ ì „ì²´ ë¡œìš°ì—ì„œ ëº€ë‹¤ìŒ ëª¨ë‘ í•©í•˜ë©´ `NaN`ì˜ ê°œìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.

In [9]:
df['c4'].count()

2

In [10]:
# number of non-NaN values in each column
df.count()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [11]:
# and this counts the number of NaN's too
(len(df) - df.count()).sum()

15

### `.notnull()`

`.notnull()`ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ë„ `NaN`ì´ ì•„ë‹Œ ì•„ì´í…œì„ ì‹ë³„í•  ìˆ˜ ìˆë‹¤. `.isnull()`ì˜ ë°˜ëŒ€ ê°œë…ì´ë©°, ì´ ë©”ì„œë“œëŠ” ë°˜í™˜ê°’ì´ `True`ì¼ ê²½ìš° í•´ë‹¹ ê°’ì´ `NaN`ì´ ì•„ë‹ˆë¼ëŠ” ì˜ë¯¸ì´ë©°, `False`ì´ë©´ ê·¸ ë°˜ëŒ€ì´ë‹¤.

In [12]:
# which items are not null?
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

## Selecting out or dropping missing data
ê²°ì¸¡ ë°ì´í„°ì˜ íŒë³„ê³¼ ì‚­ì œ

ê²°ì¸¡ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•˜ëŠ” í•œ ê°€ì§€ ë°©ë²•ì€ ë‹¨ìˆœíˆ ë°ì´í„°ì…‹ì—ì„œ ì‚­ì œ í•˜ëŠ” ê²ƒì´ë‹¤.  
ì´ëŠ” ì •ê¸°ì ìœ¼ë¡œ í‘œë³¸ì„ ìˆ˜ì§‘í•˜ì§€ë§Œ ê¸°ê¸°ê°€ ì¼ì‹œì ìœ¼ë¡œ ì˜¤í”„ë¼ì¸ì´ ë¼ ì¼ë¶€ ë°ì´í„°ê°€ ê¸°ë¡ë˜ì§€ ëª»í•˜ëŠ” ìƒí™©ì—ì„œ ê°€ëŠ¥í•œ ì‹œë‚˜ë¦¬ì˜¤ë¼ê³  í•œë‹¤.  

### `.isnull()`, `.notnull()` ë¡œ `NaN`ê°’ì„ ì¶”ì¶œí•˜ëŠ” ë¶ˆë¦¬ì–¸ ì„ íƒ
pandasì—ì„œëŠ” ì´ì™€ ê´€ë ¨í•´ ë‹¤ì–‘í•œ ê¸°ë²•ì„ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ”ë°, ê·¸ ì¤‘ í•˜ë‚˜ëŠ” `.isnull()`, `.notnull()`ì„ ì‚¬ìš©í•˜ì—¬ `NaN`ì´ë‚˜ `NaN`ì´ ì•„ë‹Œ ê°’ì„ ì¶”ì¶œí•˜ëŠ” ì¼ì´ë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ 'c4' ì¹¼ëŸ¼ì—ì„œ `NaN`ì´ ì•„ë‹Œ ê°’ë§Œ ì¶”ì¶œí•œë‹¤ë©´ ì´ë ‡ë‹¤.

In [13]:
# select the non-NaN items in column c4
# c4ì—ì„œ
df.c4[df.c4.notnull()]

a    20.0
f    18.0
Name: c4, dtype: float64

### ğŸ§ª `.dropna()`
`.dropna()`ëŠ” `Series`ë¡œ ë¶€í„° ê°’ì´ `NaN`ì¸ ê°’ì„ ì‚­ì œí•œë‹¤.  
ì‹¤ì œë¡œëŠ” ì‚¬ë³¸ì„ ë°˜í™˜í•˜ê²Œ ë˜ë¯€ë¡œ, ì›ë³¸ì´ ë³€í˜•ë˜ì§€ ì•ŠëŠ”ë‹¤.  
ì˜µì…˜ì— `inplace`ê°€ ìˆìœ¼ë¯€ë¡œ ì›ë³¸ì„ ë³€í˜•í•˜ê³ ì í•œë‹¤ë©´ `inplace=True`ì˜µì…˜ì„ ì‚¬ìš©í•˜ê¸°!

In [14]:
# .dropna will also return non NaN values
# this gets all non NaN items in column c4
df.c4.dropna()

a    20.0
f    18.0
Name: c4, dtype: float64

In [15]:
# dropna returns a copy with the values dropped
# the source DataFrame / column is not changed
df.c4

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

`.dropna()`ê°€ `DataFrame`ì— ì‚¬ìš©ë  ê²½ìš°ì—ëŠ” `NaN` ê°’ì´ ìµœì†Œí•œ í•˜ë‚˜ë¼ë„ ìˆëŠ” ë¡œìš°ê°€ ëª¨ë‘ ì‚­ì œëœë‹¤.  
ì„ì˜ë¡œ ë§Œë“  dfëŠ” ëª¨ë“  ë¡œìš°ì— ìµœì†Œ í•˜ë‚˜ ì´ìƒì˜ `NaN`ê°’ì„ ê°€ì§€ê³  ìˆìœ¼ë¯€ë¡œ(c5 ì¹¼ëŸ¼ì´ ì „ë¶€ `NaN`ì„) ê·¸ ê²°ê³¼ ëª¨ë“  ë¡œìš°ê°€ ì‚­ì œëœ ì±„ ë°˜í™˜ëœë‹¤.

In [16]:
# on a DataFrame this will drop entire rows
# where there is at least one NaN
# in this case, that is all rows
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

#### `.dropna(how = , axis = )`
ëª¨ë“  ê°’ì´ `NaN`ì¸ ë¡œìš°ë§Œ ì‚­ì œí•˜ê³  ì‹¶ë‹¤ë©´ `how = 'all'` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ë©´ ëœë‹¤.  
(ë§Œì•½ í•˜ë‚˜ë¼ë„ `NaN`ì¸ ê²½ìš°ë¥¼ ì‚­ì œí•˜ê³  ì‹¶ë‹¤ë©´ `how = 'any'` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•œë‹¤.)  
dfì˜ ì¸ë±ìŠ¤ê°€ gì¸ ë¡œìš°ëŠ” `NaN`ë¡œë§Œ ì´ë£¨ì–´ì ¸ ìˆê¸° ë•Œë¬¸ì— í•´ë‹¹ ë¡œìš°ë¥¼ ì‚­ì œí•œë‹¤.  

ë§Œì•½ ë¡œìš°ê°€ ì•„ë‹ˆë¼ ì¹¼ëŸ¼ì— ì ìš©í•˜ê³ ì í•œë‹¤ë©´ `axis = 1` íŒŒë¼ë¯¸í„°ë¥¼ ì „ë‹¬í•œë‹¤.  
ê·¸ëŸ¬ë©´ c5 ì¹¼ëŸ¼ì€ `NaN`ë¡œë§Œ ì´ë£¨ì–´ì ¸ ìˆê¸° ë•Œë¬¸ì— í•´ë‹¹ ì¹¼ëŸ¼ì„ ì‚­ì œí•œë‹¤.

In [17]:
# using how='all', only rows that have all values
# as NaN will be dropped
df.dropna(how = 'all')

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [18]:
# flip to drop columns instead of rows
df.dropna(how = 'all', axis = 1) # say goodbye to c5

     c1    c2    c3    c4
a   0.0   1.0   2.0  20.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

#### `.dropna(thresh = )`
`.dropna()`ì—ëŠ” `thresh`ë¼ëŠ” íŒŒë¼ë¯¸í„°ê°€ ìˆë‹¤. ì´ íŒŒë¼ë¯¸í„°ëŠ” ì‚­ì œ ëŒ€ìƒì˜ ìµœì†Œ `NaN` ê°’ ê°œìˆ˜ë¥¼ ì§€ì •í•œë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ c4, c5 ì¹¼ëŸ¼ì²˜ëŸ¼ 5ê°œ ì´ìƒì˜ `NaN`ê°’ì´ ìˆëŠ” ì¹¼ëŸ¼ì„ ëª¨ë‘ ì‚­ì œí•˜ë„ë¡ í•  ìˆ˜ ìˆë‹¤.

In [19]:
# ì˜ˆì‹œë¥¼ ë§Œë“¤ê¸° ìœ„í•´ c1, c3ì¹¼ëŸ¼ì˜ ê°’ì„ ì¡°ê¸ˆ ë³€ê²½í•œë‹¤. 

# make a copy of df
df2 = df.copy()
# replace two NaN cells with values
df2.loc['g'].c1 = 0
df2.loc['g'].c3 = 0
df2

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   0.0   NaN   0.0   NaN NaN

ë¹„êµí•´ë³¸ë‹¤ë©´, í•˜ë‚˜ë¼ë„ `NaN`ì¸ ì¹¼ëŸ¼ì„ ì§€ìš´ ê²½ìš°ì™€, ê·¸ ì•„ë˜ëŠ” 5ê°œì´ìƒ `NaN`ì¸ ì¹¼ëŸ¼ë§Œ ì§€ìš´ ê²½ìš°ì´ë‹¤.

In [38]:
# now drop columns with any NaN values
df2.dropna(how = 'any', axis = 1)

     c1    c3
a   0.0   2.0
b   3.0   5.0
c   6.0   8.0
d   9.0  11.0
e  12.0  14.0
f  15.0  17.0
g   0.0   0.0

In [21]:
# only drop columns with at least 5 NaN values
df.dropna(thresh=5, axis=1)

     c1    c2    c3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
c   6.0   7.0   8.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
g   NaN   NaN   NaN

## How pandas handles NaNâ€™s in mathematical operations
ìˆ˜í•™ ì—°ì‚°ì—ì„œì˜ `NaN`  ì²˜ë¦¬ ë°©ì‹

pandasì˜ `NaN`ì²˜ë¦¬ ë°©ì‹ì€ NumPyì™€ ë‹¤ë¥´ë‹¤.  
ì˜ˆë¥¼ ë“¤ì–´ NumPyëŠ” `NaN`ì„ ë§Œë‚˜ë©´ `NaN`ì„ ë°˜í™˜í•˜ê²Œ ë˜ì–´ìˆë‹¤. ë°˜ë©´ pandasëŠ” `NaN`ê°’ì„ `Series`ì˜ ì¼ë¶€ë¡œ ì·¨ê¸‰í•˜ì§€ ì•Šê³  ì œì™¸(ë¬´ì‹œ)í•˜ë©´ì„œ ì—°ì‚°ì„ ì§„í–‰í•œë‹¤.  

    pandasê°€ ê³„ì‚°í•œ ì‹ì€, (1+2+3)/3 ì´ë‹¤. `NaN`ì´ ë¬´ì‹œë  ë¿ë§Œ ì•„ë‹ˆë¼ counting ì—ì„œë„ ì œì™¸ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [26]:
# create a NumPy array with one NaN value
a = np.array([1, 2, np.nan, 3])
# create a Series from the array
s = pd.Series(a)
print(a)
print(s)

[ 1.  2. nan  3.]
0    1.0
1    2.0
2    NaN
3    3.0
dtype: float64

In [27]:
# the mean of each is different
a.mean(), s.mean()

(nan, 2.0)

ì¢€ ë” êµ¬ì²´ì ìœ¼ë¡œ ì‚´í´ë³¸ë‹¤ë©´ pandasëŠ” ë‹¤ìŒê³¼ ê°™ì€ ë°©ì‹ìœ¼ë¡œ `NaN` ê°’ì„ ì²˜ë¦¬í•œë‹¤. 
- í•©ì‚°ì— ìˆì–´ì„œ `NaN`ì„ 0ìœ¼ë¡œ ì·¨ê¸‰
- ëª¨ë“  ê°’ì´ `NaN`ì¼ ê²½ìš°ì—ë§Œ ê²°ê³¼ê°€ `NaN`
- `.cumsum()`ì´ë‚˜ `.cumprod()`ì™€ ê°™ì€ ë©”ì„œë“œëŠ” ê³„ì‚° ì‹œì— `NaN` ê°’ì„ ë¬´ì‹œí•˜ì§€ë§Œ, ê·¸ ê²°ê³¼ ëª©ë¡ì—ëŠ” ìœ ì§€ì‹œí‚´

In [29]:
# demonstrate sum, mean and cumsum handling of NaN
# get one column
s = df.c4
s

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [30]:
s.sum(), # NaN's treated as 0

(38.0,)

In [31]:
s.mean() # NaN also treated as 0

19.0

In [32]:
# as 0 in the cumsum, but NaN's preserved in result Series
# ëˆ„ì í•©ì—ëŠ” `NaN`ì´ ê·¸ëŒ€ë¡œ ìˆìœ¼ë©´ì„œ ì—°ì‚°ì— ê²°ê³¼ë¥¼ ë¯¸ì¹˜ì§€ ì•ŠëŠ”ë‹¤.
s.cumsum()

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    38.0
g     NaN
Name: c4, dtype: float64

ì „í†µì ì¸ ìˆ˜í•™ ê¸°í˜¸ë¥¼ ì‚¬ìš©í•  ê²½ìš° 0ìœ¼ë¡œ ì·¨ê¸‰ë˜ì§€ ì•Šê³  ê·¸ëŒ€ë¡œ ìœ ì§€ëœë‹¤. ë§ê·¸ëŒ€ë¡œ ì•Œ ìˆ˜ ì—†ëŠ” ê°’ì´ê¸° ë•Œë¬¸ì•„ë‹ê¹Œ.

In [33]:
# in arithmetic, a NaN value will result in NaN
df.c4 + 1

a    21.0
b     NaN
c     NaN
d     NaN
e     NaN
f    19.0
g     NaN
Name: c4, dtype: float64

## `.fillna(n)` Filling in missing data with 'n'
ê²°ì¸¡ ë°ì´í„° ë³´ê°•

`NaN`ê°’ì„ ë¬´ì‹œí•˜ê±°ë‚˜ ìœ ì§€í•˜ëŠ” ëŒ€ì‹ , íŠ¹ì • ê°’ì„ ëŒ€ì²´í•˜ê³  ì‹¶ë‹¤ë©´ `.fillna()`ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ ëœë‹¤.  
`.fillna()`ë˜í•œ `inplace` ì˜µì…˜ì´ ìˆì–´ì„œ, ì›ë³¸ì€ ìœ ì§€í•œ ì±„ ë³µì œëœ ê²ƒì„ ë°˜í™˜í•œë‹¤.

In [35]:
# return a new DataFrame with NaN's filled with 0
df_filled = df.fillna(0)
df_filled

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  0.0
d   9.0  10.0  11.0   0.0  0.0
e  12.0  13.0  14.0   0.0  0.0
f  15.0  16.0  17.0  18.0  0.0
g   0.0   0.0   0.0   0.0  0.0

ì´ë ‡ê²Œ ë°”ê¾¸ì—ˆì„ ê²½ìš° `NaN`ì€ ë”ì´ìƒ `NaN`ì´ ì•„ë‹ˆë¼ 0ì´ë‹¤. ì…ˆì´ ë‹¬ë¼ì§€ëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [36]:
# NaN's don't count as an item in calculating
# the means
df.mean()

c1     7.5
c2     8.5
c3     9.5
c4    19.0
c5     NaN
dtype: float64

In [37]:
# having replaced NaN with 0 can make
# operations such as mean have different results
df_filled.mean()

c1    6.428571
c2    7.285714
c3    8.142857
c4    5.428571
c5    0.000000
dtype: float64

## `.fillna(method = 'ffill'|'bfill')`: Forward and backwards filling of missing values
ê²°ì¸¡ ê°’ ì±„ìš°ëŠ” ì¼ì„ `Series`ì•ˆì˜ `NaN`ì´ ì•„ë‹Œ ê°’ìœ¼ë¡œ ê²°ì¸¡ ê°’ì„ ì±„ìš¸ ìˆ˜ ìˆë‹¤. (ì´ ì—­ì‹œ `inplace`ì˜µì…˜ì´ ì œê³µëœë‹¤.)

**ì •ë°©í–¥ ì±„ìš°ê¸°(forward filling)**ë¥¼ ì ìš©í•œ ì˜ˆì‹œë¡œëŠ”, ê²°ì¸¡ì´ ë°œê²¬ë˜ê¸° ë°”ë¡œ ì „ì˜ ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

    ì‹œê³„ì—´ ë°ì´í„°ì— ëŒ€í•œ ì´ì™€ ê°™ì€ ê¸°ë²•ì„ í”íˆ 'ë§ˆì§€ë§‰ ìœ íš¨ ê°’(last known value)'ì´ë¼ê³  í•œë‹¤. (13ì¥ì—ì„œ ë‹¤ì‹œ í™•ì¸)

ë°˜ëŒ€ë¡œ **ì—­ë°©í–¥ ì±„ìš°ê¸°(backward filling)**ì€ ê²°ì¸¡ì´ ë°œê²¬ëœ í›„ ë°”ë¡œ ë‚˜ì¤‘ì˜ ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

    íƒ€ì´í•‘ ìˆ˜ë¥¼ ì¤„ì´ê¸° ìœ„í•´ pandasì—ì„œëŠ” ì œê³µí•˜ëŠ” `pd.ffill()`, `pd.bfill()`ì„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

In [39]:
# extract the c4 column and fill NaNs forward
df.c4.fillna(method = "ffill")

a    20.0
b    20.0
c    20.0
d    20.0
e    20.0
f    18.0
g    18.0
Name: c4, dtype: float64

In [40]:
# perform a backwards fill
df.c4.fillna(method = "bfill")

a    20.0
b    18.0
c    18.0
d    18.0
e    18.0
f    18.0
g     NaN
Name: c4, dtype: float64

In [42]:
# ê°™ì€ ê²°ê³¼
df['c4'].bfill()

a    20.0
b    18.0
c    18.0
d    18.0
e    18.0
f    18.0
g     NaN
Name: c4, dtype: float64

## .fillna(fill_values) : Filling using index labels
ì¸ë±ìŠ¤ ë ˆì´ë¸”ì„ ì‚¬ìš©í•œ ì±„ìš°ê¸°

`Series`ì˜ ë ˆì´ë¸”ì´ë‚˜ íŒŒì´ì¬ ë”•ì…”ë„ˆë¦¬ì˜ í‚¤ë¥¼ ì‚¬ìš©í•´ ë°ì´í„°ë¥¼ ì±„ìš¸ ìˆ˜ ìˆë‹¤. ì´ ê²½ìš° ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ê¸°ì´ˆí•´ ê° ìš”ì†Œì— ì„œë¡œ ë‹¤ë¥¸ ê°’ì„ ì§€ì •í•  ìˆ˜ ìˆë‹¤.  
ê° ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•œ í•˜ë‚˜ì˜ ì‹œë¦¬ì¦ˆë¥¼ í†µí•´, `NaN`ì¸ ê³³ì— íŒŒë¼ë¯¸í„°ë¡œ ì£¼ì–´ì§„ í•´ë‹¹ ì¸ë±ìŠ¤ë¡œ ì§€ì •ëœ ê°’ì„ ì±„ìš´ë‹¤.

In [43]:
# create a new Series of values to be 
# used to fill NaN's where index label matches
fill_values = pd.Series([100, 101, 102], index = ['a', 'e', 'g'])
fill_values

a    100
e    101
g    102
dtype: int64

a ì¸ë±ìŠ¤ëŠ” `NaN`ì´ ì•„ë‹ˆê¸° ë•Œë¬¸ì— ë°”ë€Œì§€ ì•Šì€ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [44]:
# using c4, fill using fill_values
# a, e and g will be filled with matching values
df.c4.fillna(fill_values)

a     20.0
b      NaN
c      NaN
d      NaN
e    101.0
f     18.0
g    102.0
Name: c4, dtype: float64

### ğŸ§ª`.fillna(.mean() )`
í”íˆ ì‚¬ìš©ë˜ëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•ì€ `NaN`ì„ í•´ë‹¹ ì¹¼ëŸ¼ì˜ í‰ê·  ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

ì´ëŠ” ê²°ì¸¡ê°’ì„ 0ìœ¼ë¡œ ì±„ìš¸ ë•Œë³´ë‹¤ í†µê³„ì ìœ¼ë¡œ ëœ ì™œê³¡ë˜ê²Œ ë§Œë“¤ ìˆ˜ ìˆëŠ” í¸ë¦¬í•œ ë°©ë²•ì´ë‹¤.  
ë˜í•œ í†µê³„ ë¶„ì„ì—ì„œ 0 ê°’ ë•Œë¬¸ì— ë„ˆë¬´ ì»¤ì§„ í¸ì°¨ë¡œ ì¸í•œ ê±°ì§“ ì˜¤ë¥˜(false failure), ì¦‰ ì‹¤ì œë¡œëŠ” ì˜¤ë¥˜ê°€ ì•„ë‹ˆì§€ë§Œ ì˜¤ë¥˜ë¡œ ì¸ì‹ë  ìˆ˜ ìˆëŠ” ìƒí™©ì„ ì˜ˆë°©í•˜ëŠ”ë° íŠ¹íˆ ìœ ìš©í•˜ë‹¤.  

`DataFrame`ì— ì ìš©í–ˆì„ ê²½ìš° ê°ê°ì˜ ì¹¼ëŸ¼ì˜ í‰ê·  ê°’ìœ¼ë¡œ ì±„ì›Œì§€ëŠ” ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [46]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [47]:
# fill NaN values in each column with the 
# mean of the values in that column
df.fillna(df.mean())

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0  19.0 NaN
c   6.0   7.0   8.0  19.0 NaN
d   9.0  10.0  11.0  19.0 NaN
e  12.0  13.0  14.0  19.0 NaN
f  15.0  16.0  17.0  18.0 NaN
g   7.5   8.5   9.5  19.0 NaN

## `.interpolate()` : Interpolation of missing values
ë³´ê°„ë²•ì„ ì‚¬ìš©í•œ ê²°ì¸¡ ê°’ ì±„ìš°ê¸°

`DataFrame`ê³¼ `Series`ì— ìˆëŠ” `.interpolate()` ë©”ì„œë“œëŠ” ê¸°ë³¸ì ìœ¼ë¡œ ê²°ì¸¡ ê°’ì— ëŒ€í•´ ì„ í˜• ë³´ê°„ë²•ì„ ì‚¬ìš©í•œë‹¤.  

ë³´ê°„ë²•ì€ ì—°ì†ëœ `NaN`ì˜ ì•ì˜ ê°’ê³¼ ë’¤ì˜ ê°’ì„ í†µí•´ ê³„ì‚°ëœ ì°¨ì´ ê°’ì„ ì°¨ë¡€ëŒ€ë¡œ ë”í•´ `NaN`ì„ ëŒ€ì²´í•˜ëŠ” ë°©ì‹ì´ë‹¤.  

1ê³¼ `NaN`, 2ë¡œ ì´ë£¨ì–´ì ¸ìˆì„ ê²½ìš° ê°ê° ê°™ì€ ê°„ê²©ì´ ì¡´ì¬í•˜ë„ë¡ 0.25ì”© ì¦ê°€ì‹œì¼œ `NaN`ì„ ì±„ìš°ëŠ” ì˜ˆì‹œì´ë‹¤.

In [48]:
# linear interpolate the NaN values from 1 through 2
s = pd.Series([1, np.nan, np.nan, np.nan, 2])
s.interpolate()

0    1.00
1    1.25
2    1.50
3    1.75
4    2.00
dtype: float64

ë³´ê°„ë²•ì€ ì¤‘ìš”í•œ ê¸°ë²•ì´ë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë‚®ë™ì•ˆ ì˜¬ë¼ê°€ëŠ” ì‹œê°„ë³„ ê¸°ì˜¨ì„ ë‚˜íƒ€ë‚´ëŠ” ë°ì´í„°ê°€ ìˆëŠ”ë°, ì„¼ì„œ ê³ ì¥ìœ¼ë¡œ ì¤‘ê°„ì— ë°ì´í„°ê°€ ê¸°ë¡ë˜ì§€ ì•Šì•˜ë‹¤ë©´ ë³´ê°„ë²•ì„ ì‚¬ìš©í•´ ì¶”ì¸¡ë˜ëŠ” ê¸°ì˜¨ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì±„ìš¸ ìˆ˜ ìˆë‹¤. ì´ëŠ” 0ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒë³´ë‹¤ í›¨ì”¬ ì˜ë¯¸ê°€ ìˆë‹¤!  


### `.interpolate(method = 'time')`
`.interpolate()`ë©”ì„œë“œëŠ” ë³´ê°„ë²•ì˜ íŠ¹ì • ë°©ì‹ì„ ì§€ì •í•  ìˆ˜ ìˆëŠ” ê¸°ëŠ¥ì„ ì œê³µí•œë‹¤. í”íˆ ì‚¬ìš©ë˜ëŠ” ë°©ì‹ ì¤‘ í•˜ë‚˜ëŠ” ì‹œê°„ì— ê¸°ë°˜ì„ ë‘” ë³´ê°„ë²•ì´ë‹¤.  
ë‹¤ìŒ ì˜ˆì—ì„œ, ë‚ ì§œì™€ ê°’ìœ¼ë¡œ ì´ë£¨ì–´ì§„ `Series`ê°€ ìˆì„ ë•Œ ìƒê°í•´ë³¸ë‹¤.

In [49]:
# create a time series, but missing one date in the Series
ts = pd.Series([1, np.nan, 2], 
            index=[datetime(2014, 1, 1), 
                   datetime(2014, 2, 1),                   
                   datetime(2014, 4, 1)])
ts

2014-01-01    1.0
2014-02-01    NaN
2014-04-01    2.0
dtype: float64

ê·¸ëŒ€ë¡œ ë³´ê°„ë²•ì„ ì‚¬ìš©í•  ê²½ìš° ì˜ˆìƒëŒ€ë¡œ ê·¸ ê²°ê³¼ëŠ” 1.5ê°€ ì±„ì›Œì§„ë‹¤.  

ê·¸ëŸ¬ë‚˜ ì¤‘ìš”í•œ ì ì€ 2014-03-01 ë°ì´í„°ë„ ëˆ„ë½ë˜ì–´ìˆë‹¤ëŠ” ì‚¬ì‹¤ì´ë‹¤. ë”°ë¼ì„œ ê°’ì„ ì¶”ì¸¡í•´ì•¼í•  ëŒ€ìƒì€ 2014-02-01, 2014-03-01 ì— ëŒ€í•œ ë°ì´í„°ì´ë¯€ë¡œ ê³„ì‚°ì‹ì—ì„œì˜ ë¶„ëª¨ëŠ” 3ì´ ëì–´ì•¼ í•œë‹¤.  
ì´ë•Œ `.interpilate(method = 'time')` ìœ¼ë¡œ ì§€ì •í•˜ì—¬ í•´ê²°í•  ìˆ˜ ìˆë‹¤.  
(ê·¸ë ‡ë‹¤ê³  í•˜ì—¬ 2014-03-01, ì—†ëŠ” ì¸ë±ìŠ¤ê°€ ìƒì„±ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤. ë³´ê°„ë²• ê³„ì‚°ì—ë§Œ ê´€ì—¬ëì„ ë¿ì´ë‹¤.)

In [50]:
# linear interpolate based on number of items in the Series
ts.interpolate()

2014-01-01    1.0
2014-02-01    1.5
2014-04-01    2.0
dtype: float64

In [51]:
# this accounts for the fact that we don't have
# an entry for 2014-03-01
ts.interpolate(method= 'time')

2014-01-01    1.000000
2014-02-01    1.344444
2014-04-01    2.000000
dtype: float64

### `.interpolate(methd = 'values')`

ì¸ë±ìŠ¤ ë ˆì´ë¸”ì´ **ìˆ«ìì¸ ê²½ìš°ë¼ë©´ ê·¸ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ë”°ë¼ ìƒëŒ€ì ìœ¼ë¡œ ê°’ì´ ê³„ì‚°ë˜ëŠ” ë³´ê°„ë²•**ì„ ì‚¬ìš©í•  ìˆ˜ë„ ìˆë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ ë‹¤ìŒê³¼ ê°™ì€ `Series`ê°€ ìˆì„ ë•Œ ì„ í˜• ë³´ê°„ë²•(ì¼ë°˜ì ì¸ ë³´ê°„ë²•)ì„ ì‚¬ìš©í•œë‹¤ë©´ 50ì´ ì±„ì›Œì§ˆ ê²ƒì´ë‹¤.  
ê·¸ëŸ¬ë‚˜ ì¸ë±ìŠ¤ ê°’ì— ë”°ë¼ ìƒëŒ€ì ìœ¼ë¡œ ê°’ì„ ë¶€ì—¬í•˜ê³  ì‹¶ë‹¤ë©´ `method = 'values'`ë¥¼ ì§€ì •í•˜ë©´ ëœë‹¤.  
ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ë”°ë¼ ìƒëŒ€ì ì¸ ìœ„ì¹˜ì— ë§ê²Œ ê°’ì´ ê³„ì‚°ë˜ëŠ”ë°, ì¸ë±ìŠ¤ ë ˆì´ë¸”ì€ 0ì—ì„œ 10 ì‚¬ì´ì— 1/10 ìœ„ì¹˜ì´ë¯€ë¡œ 0 + (100-0)/10 ìœ¼ë¡œ ê³„ì‚°ë˜ì–´ ê·¸ ê°’ì´ 10ì´ í• ë‹¹ ëœë‹¤.

In [52]:
# a Series to demonstrate index label based interpolation
s = pd.Series([0, np.nan, 100], index=[0, 1, 10])
s

0       0.0
1       NaN
10    100.0
dtype: float64

In [53]:
# linear interpolate
s.interpolate()

0       0.0
1      50.0
10    100.0
dtype: float64

In [55]:
# interpolate based upon the values in the index
s.interpolate(method = 'values')

0       0.0
1      10.0
10    100.0
dtype: float64