<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#ë°ì´í„°-ì •ëˆ" data-toc-modified-id="ë°ì´í„°-ì •ëˆ-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ë°ì´í„° ì •ëˆ</a></span><ul class="toc-item"><li><span><a href="#ë°ì´í„°-ì •ëˆì´ë€" data-toc-modified-id="ë°ì´í„°-ì •ëˆì´ë€-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ë°ì´í„° ì •ëˆì´ë€</a></span></li></ul></li><li><span><a href="#Working-with-missing-data" data-toc-modified-id="Working-with-missing-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Working with missing data</a></span><ul class="toc-item"><li><span><a href="#NaN-ê°’-ì°¾ê¸°-:-Determining-NaN-values-in-Series-and-DataFrame-objects" data-toc-modified-id="NaN-ê°’-ì°¾ê¸°-:-Determining-NaN-values-in-Series-and-DataFrame-objects-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>NaN</code> ê°’ ì°¾ê¸° : Determining NaN values in Series and DataFrame objects</a></span><ul class="toc-item"><li><span><a href="#.isnull()" data-toc-modified-id=".isnull()-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span><code>.isnull()</code></a></span></li><li><span><a href="#.count()" data-toc-modified-id=".count()-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span><code>.count()</code></a></span></li><li><span><a href="#.notnull()" data-toc-modified-id=".notnull()-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span><code>.notnull()</code></a></span></li></ul></li><li><span><a href="#Selecting-out-or-dropping-missing-data" data-toc-modified-id="Selecting-out-or-dropping-missing-data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Selecting out or dropping missing data</a></span><ul class="toc-item"><li><span><a href="#.isnull(),-.notnull()-ë¡œ-NaNê°’ì„-ì¶”ì¶œí•˜ëŠ”-ë¶ˆë¦¬ì–¸-ì„ íƒ" data-toc-modified-id=".isnull(),-.notnull()-ë¡œ-NaNê°’ì„-ì¶”ì¶œí•˜ëŠ”-ë¶ˆë¦¬ì–¸-ì„ íƒ-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span><code>.isnull()</code>, <code>.notnull()</code> ë¡œ <code>NaN</code>ê°’ì„ ì¶”ì¶œí•˜ëŠ” ë¶ˆë¦¬ì–¸ ì„ íƒ</a></span></li><li><span><a href="#ğŸ§ª-.dropna()" data-toc-modified-id="ğŸ§ª-.dropna()-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>ğŸ§ª <code>.dropna()</code></a></span><ul class="toc-item"><li><span><a href="#.dropna(how-=-,-axis-=-)" data-toc-modified-id=".dropna(how-=-,-axis-=-)-3.2.2.1"><span class="toc-item-num">3.2.2.1&nbsp;&nbsp;</span><code>.dropna(how = , axis = )</code></a></span></li><li><span><a href="#.dropna(thresh-=-)" data-toc-modified-id=".dropna(thresh-=-)-3.2.2.2"><span class="toc-item-num">3.2.2.2&nbsp;&nbsp;</span><code>.dropna(thresh = )</code></a></span></li></ul></li></ul></li><li><span><a href="#How-pandas-handles-NaNâ€™s-in-mathematical-operations" data-toc-modified-id="How-pandas-handles-NaNâ€™s-in-mathematical-operations-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>How pandas handles NaNâ€™s in mathematical operations</a></span></li><li><span><a href="#.fillna(n)-Filling-in-missing-data-with-'n'" data-toc-modified-id=".fillna(n)-Filling-in-missing-data-with-'n'-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>.fillna(n)</code> Filling in missing data with 'n'</a></span></li><li><span><a href="#.fillna(method-=-'ffill'|'bfill'):-Forward-and-backwards-filling-of-missing-values" data-toc-modified-id=".fillna(method-=-'ffill'|'bfill'):-Forward-and-backwards-filling-of-missing-values-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>.fillna(method = 'ffill'|'bfill')</code>: Forward and backwards filling of missing values</a></span></li><li><span><a href="#.fillna(fill_values)-:-Filling-using-index-labels" data-toc-modified-id=".fillna(fill_values)-:-Filling-using-index-labels-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>.fillna(fill_values) : Filling using index labels</a></span><ul class="toc-item"><li><span><a href="#ğŸ§ª.fillna(.mean()-)" data-toc-modified-id="ğŸ§ª.fillna(.mean()-)-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>ğŸ§ª<code>.fillna(.mean() )</code></a></span></li></ul></li><li><span><a href="#.interpolate()-:-Interpolation-of-missing-values" data-toc-modified-id=".interpolate()-:-Interpolation-of-missing-values-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>.interpolate()</code> : Interpolation of missing values</a></span><ul class="toc-item"><li><span><a href="#.interpolate(method-=-'time')" data-toc-modified-id=".interpolate(method-=-'time')-3.7.1"><span class="toc-item-num">3.7.1&nbsp;&nbsp;</span><code>.interpolate(method = 'time')</code></a></span></li><li><span><a href="#.interpolate(methd-=-'values')" data-toc-modified-id=".interpolate(methd-=-'values')-3.7.2"><span class="toc-item-num">3.7.2&nbsp;&nbsp;</span><code>.interpolate(methd = 'values')</code></a></span></li></ul></li></ul></li><li><span><a href="#Handling-Duplicate-Data" data-toc-modified-id="Handling-Duplicate-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Handling Duplicate Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#.duplicate()-:-ì¤‘ë³µ-ë°ì´í„°-ì°¾ê¸°" data-toc-modified-id=".duplicate()-:-ì¤‘ë³µ-ë°ì´í„°-ì°¾ê¸°-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span><code>.duplicate()</code> : ì¤‘ë³µ ë°ì´í„° ì°¾ê¸°</a></span></li><li><span><a href="#.drop_duplicates()-:-ì¤‘ë³µ-ë¡œìš°-ì‚­ì œí•˜ê¸°" data-toc-modified-id=".drop_duplicates()-:-ì¤‘ë³µ-ë¡œìš°-ì‚­ì œí•˜ê¸°-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span><code>.drop_duplicates()</code> : ì¤‘ë³µ ë¡œìš° ì‚­ì œí•˜ê¸°</a></span></li><li><span><a href="#ì¤‘ë³µ-ë°ì´í„°-ì‚­ì œ-ë°©ì‹-ì„ íƒí•˜ê¸°" data-toc-modified-id="ì¤‘ë³µ-ë°ì´í„°-ì‚­ì œ-ë°©ì‹-ì„ íƒí•˜ê¸°-4.0.3"><span class="toc-item-num">4.0.3&nbsp;&nbsp;</span>ì¤‘ë³µ ë°ì´í„° ì‚­ì œ ë°©ì‹ ì„ íƒí•˜ê¸°</a></span></li></ul></li></ul></li><li><span><a href="#ë°ì´í„°-ë³€í˜•" data-toc-modified-id="ë°ì´í„°-ë³€í˜•-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ë°ì´í„° ë³€í˜•</a></span><ul class="toc-item"><li><span><a href="#.map()-:-Mapping" data-toc-modified-id=".map()-:-Mapping-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span><code>.map()</code> : Mapping</a></span></li><li><span><a href="#.replace()-:-Replacing-values" data-toc-modified-id=".replace()-:-Replacing-values-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span><code>.replace()</code> : Replacing values</a></span><ul class="toc-item"><li><span><a href="#Seriesì—ì„œ-ê°œë³„-ê°’-í•˜ë‚˜ë¥¼-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´" data-toc-modified-id="Seriesì—ì„œ-ê°œë³„-ê°’-í•˜ë‚˜ë¥¼-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span><code>Series</code>ì—ì„œ ê°œë³„ ê°’ í•˜ë‚˜ë¥¼ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´</a></span></li><li><span><a href="#ë¦¬ìŠ¤íŠ¸ë¥¼-í™œìš©í•˜ì—¬-ì—¬ëŸ¬-ê°’ì„-ì—¬ëŸ¬-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´" data-toc-modified-id="ë¦¬ìŠ¤íŠ¸ë¥¼-í™œìš©í•˜ì—¬-ì—¬ëŸ¬-ê°’ì„-ì—¬ëŸ¬-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>ë¦¬ìŠ¤íŠ¸ë¥¼ í™œìš©í•˜ì—¬ ì—¬ëŸ¬ ê°’ì„ ì—¬ëŸ¬ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´</a></span></li><li><span><a href="#ë”•ì…”ë„ˆë¦¬ë¥¼-í™œìš©í•˜ì—¬-ì—¬ëŸ¬-ê°’ì„-ì—¬ëŸ¬-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´" data-toc-modified-id="ë”•ì…”ë„ˆë¦¬ë¥¼-í™œìš©í•˜ì—¬-ì—¬ëŸ¬-ê°’ì„-ì—¬ëŸ¬-ë‹¤ë¥¸-ê°’ìœ¼ë¡œ-ëŒ€ì²´-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>ë”•ì…”ë„ˆë¦¬ë¥¼ í™œìš©í•˜ì—¬ ì—¬ëŸ¬ ê°’ì„ ì—¬ëŸ¬ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´</a></span></li><li><span><a href="#DataFrameì—ì„œì˜-íŠ¹ì •-ê°’-ë³€ê²½" data-toc-modified-id="DataFrameì—ì„œì˜-íŠ¹ì •-ê°’-ë³€ê²½-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span><code>DataFrame</code>ì—ì„œì˜ íŠ¹ì • ê°’ ë³€ê²½</a></span></li><li><span><a href="#method-=-íŒŒë¼ë¯¸í„°-:-ì¸ë±ìŠ¤-í¬ì§€ì…˜ìœ¼ë¡œ-ë‹¤ë¥¸-ê°’-ì±„ìš°ê¸°" data-toc-modified-id="method-=-íŒŒë¼ë¯¸í„°-:-ì¸ë±ìŠ¤-í¬ì§€ì…˜ìœ¼ë¡œ-ë‹¤ë¥¸-ê°’-ì±„ìš°ê¸°-5.2.5"><span class="toc-item-num">5.2.5&nbsp;&nbsp;</span><code>method =</code> íŒŒë¼ë¯¸í„° : ì¸ë±ìŠ¤ í¬ì§€ì…˜ìœ¼ë¡œ ë‹¤ë¥¸ ê°’ ì±„ìš°ê¸°</a></span></li><li><span><a href="#ì¶”ê°€:-ë§Œì•½-ì¡°ê±´ìœ¼ë¡œ-ë°”ê¾¸ê³ ì-í•œë‹¤ë©´" data-toc-modified-id="ì¶”ê°€:-ë§Œì•½-ì¡°ê±´ìœ¼ë¡œ-ë°”ê¾¸ê³ ì-í•œë‹¤ë©´-5.2.6"><span class="toc-item-num">5.2.6&nbsp;&nbsp;</span>ì¶”ê°€: ë§Œì•½ ì¡°ê±´ìœ¼ë¡œ ë°”ê¾¸ê³ ì í•œë‹¤ë©´</a></span></li></ul></li></ul></li><li><span><a href="#.apply(lambda-)-:-Applying-functions-to-transform-data" data-toc-modified-id=".apply(lambda-)-:-Applying-functions-to-transform-data-6"><span class="toc-item-num">6&nbsp;&nbsp;</span><code>.apply(lambda )</code> : Applying functions to transform data</a></span><ul class="toc-item"><li><span><a href="#Seriesì—-ëŒë‹¤-í•¨ìˆ˜-ì ìš©" data-toc-modified-id="Seriesì—-ëŒë‹¤-í•¨ìˆ˜-ì ìš©-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>Series</code>ì— ëŒë‹¤ í•¨ìˆ˜ ì ìš©</a></span></li><li><span><a href="#DataFrameì—-ëŒë‹¤-í•¨ìˆ˜-ì ìš©" data-toc-modified-id="DataFrameì—-ëŒë‹¤-í•¨ìˆ˜-ì ìš©-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>DataFrame</code>ì— ëŒë‹¤ í•¨ìˆ˜ ì ìš©</a></span></li><li><span><a href="#.applymap()-:-ëª¨ë“ -ê°œë³„-ê°’ì—-í•¨ìˆ˜-ì ìš©" data-toc-modified-id=".applymap()-:-ëª¨ë“ -ê°œë³„-ê°’ì—-í•¨ìˆ˜-ì ìš©-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>.applymap()</code> : ëª¨ë“  ê°œë³„ ê°’ì— í•¨ìˆ˜ ì ìš©</a></span></li></ul></li></ul></div>

# Configuring pandas

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# import web crawling libraries
import requests
from bs4 import BeautifulSoup

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# ë°ì´í„° ì •ëˆ

ì´ì œ, ë°ì´í„° ì²˜ë¦¬ì˜ íŒŒì´í”„ë¼ì¸ì—ì„œ ìš°ë¦¬ê°€ ìˆ˜ì§‘í•œ ë°ì´í„°ë¥¼ ë“¤ì—¬ë‹¤ë³´ê³ , ë¶„ì„ ì¤‘ì— ë‚˜íƒ€ë‚  ìˆ˜ ìˆëŠ” ë¹„ì •ìƒì ì¸ ë¶€ë¶„ì— ëŒ€í•´ ê³ ì‹¬í•´ì•¼ í•  ì§€ì ì— ì™”ë‹¤. ê·¸ëŸ° ë¹„ì •ìƒì´ ì¡´ì¬í•˜ëŠ” ì›ì¸ì€ ë‹¤ì–‘í•˜ë‹¤. 
- ë°ì´í„°ì˜ íŠ¹ì • ë¶€ë¶„ì´ ê¸°ë¡ë˜ì§€ ì•Šì•˜ê±°ë‚˜ 
- ìœ ì‹¤ëê±°ë‚˜
- ë°ì´í„°ì˜ ë‹¨ìœ„ê°€ ìš°ë¦¬ ì‹œìŠ¤í…œì˜ ë‹¨ìœ„ì™€ ë§ì§€ ì•Šê±°ë‚˜
- ë§ì€ ê²½ìš°, íŠ¹ì • ë°ì´í„° ì§€ì ì´ ì¤‘ë³µëê±°ë‚˜

ê·¸ì™€ ê°™ì€ ë¹„ì •ìƒ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ê³¼ì •ì„ ë°ì´í„° ì •ëˆ(data tidying)ì´ë¼ê³  í•˜ëŠ”ë°, ë°ì´í„° ì •ëˆì€ ì•„ë¬´ë¦¬ ê°„ë‹¨í•œ ë¶„ì„ ì‘ì—…ì´ë¼ í• ì§€ë¼ë„ ê·¸ ì „ì— ìƒë‹¹í•œ ì‹œê°„ì„ ìŸì•„ì•¼ í•˜ëŠ” ë§¤ìš° ì¤‘ìš”í•œ ë‹¨ê³„ë‹¤.  

ë°ì´í„° ì •ëˆì€ ì§€ë£¨í•œ ì‘ì—…ì´ ë  ìˆ˜ ìˆë‹¤. íŠ¹íˆ ì‚¬ìš©í•˜ê³  ìˆëŠ” í”„ë¡œê·¸ë˜ë° íˆ´ì´ ë°ì´í„° ì •ì œì™€ ê´€ë ¨ëœ íŠ¹ì • ì‘ì—…ì„ ì§€ì›í•˜ì§€ ì•ŠëŠ” ê²½ìš°ì— ë”ìš± ê·¸ë ‡ë‹¤. ë‹¤í–‰íˆ pandasëŠ” ê·¸ëŸ° ì´ìŠˆë¥¼ ë‹¤ë£° ìˆ˜ ìˆëŠ” ë‹¤ì–‘í•œ ë„êµ¬ë¥¼ ì œê³µí•œë‹¤. 

- ë°ì´í„° ì •ëˆì˜ ê°œë…
- ê²°ì¸¡ ë°ì´í„° ë‹¤ë£¨ê¸°
- `NaN` ì°¾ê¸°
- ê²°ì¸¡ ë°ì´í„° ê±°ë¥´ê¸°(ì‚­ì œ)
- pandasê°€ ê²°ì¸¡ ê°’ì„ ë‹¤ë£¨ëŠ” ë°©ë²•
- ì•Œ ìˆ˜ ì—†ëŠ” ê°’ì˜ íŒë³„, ì‚­ì œ, ìˆ˜ì •
- ë³´ê°„ë²•ì„ ì‚¬ìš©í•œ ê²°ì¸¡ ê°’ ì±„ìš°ê¸°
- ì¤‘ë³µ ë°ì´í„°ì˜ ì‹ë³„ê³¼ ì‚­ì œ
- ë§¤í•‘, ëŒ€ì²´, í•¨ìˆ˜ ì ìš©ì„ í†µí•œ ë°ì´í„° ë³€í˜•(ì´ë¼ê¸° ë³´ë‹¤ ìˆ˜ì •ì´ ì•„ë‹ê¹Œ)

## ë°ì´í„° ì •ëˆì´ë€

tidy dataë€ ë§ì€ í•´ë“¤ë¦¬ ìœ„ì»´(Hadley Wickham)ì˜ ë…¼ë¬¸ì¸ \<Tidy Data> ì—ì„œ ë§Œë“¤ì–´ì§„ ìš©ì–´ë‹¤. ì´ë…¼ë¬¸ì€ ë”°ë¡œ ë³´ê¸¸ ì¶”ì²œ(http://vita.had.co.nz/papers/tidy-data.pdf).  
ì´ ë…¼ë¬¸ì€ íƒ€ì´ë”” ë°ì´í„°ë¥¼ ë§Œë“œëŠ” ê³¼ì •ì„ ìƒì„¸íˆ ì„¤ëª…í•œë‹¤. íƒ€ì´ë”” ë°ì´í„°ë€ **ì–´ë–¤ ëœ»ë°–ì˜ ìƒí™©ì—ë„ ì•ˆì „í•˜ë©° ì¦‰ì‹œ ë¶„ì„ ì¤€ë¹„ê°€ ëœ ì™„ì „íˆ ì •ëˆëœ ìµœì¢… ë°ì´í„°**ë¥¼ ë§í•œë‹¤.  

ëœ»ë°–ì˜ ìƒí™©, ë‹¤ìŒê³¼ ê°™ì€ ìƒí™©ì— ëŒ€ì²˜í•˜ê¸° ìœ„í•´ì„œì´ë‹¤.  
- ìš”ì²­í–ˆë˜ ë³€ìˆ˜ì™€ëŠ” ë‹¤ë¥¸ ì´ë¦„ì˜ ë³€ìˆ˜ê°€ ì–»ì–´ì¡Œë‹¤.
- ê²°ì¸¡ ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. 
- ìš”ì²­í–ˆë˜ ë‹¨ìœ„ì˜ ê°’ì´ ì•„ë‹ˆë‹¤.
- ì›í•˜ëŠ” ê¸°ê°„ì˜ í‘œë³¸ì´ ì•„ë””ã….
- ì–‘ì  ë°ì´í„°ê°€ í•„ìš”í•˜ì§€ë§Œ ë³€ìˆ˜ê°€ ë²”ì£¼í˜•ì´ë‹¤.
- ë°ì´í„°ì— ì¡ìŒ(noise)ì´ ì¡´ì¬í•œë‹¤. 
- ì •ë³´ì˜ ë°ì´í„° íƒ€ì…ì´ ì˜ëª»ë¼ ìˆë‹¤.
- ë°ì´í„°ê°€ ì˜ëª»ëœ ì¶•ì„ ê¸°ì¤€ìœ¼ë¡œ ì¡°ì§ë¼ ìˆë‹¤.
- ë°ì´í„°ì˜ ì •ê·œí™” ìˆ˜ì¤€ì´ ì˜ëª» ë˜ì–´ ìˆë‹¤.
- ë°ì´í„°ê°€ ì¤‘ë³µëœë‹¤. 

ì´ê²Œ ì „ë¶€ëŠ” ì•„ë‹ˆì§€ë§Œ, ì•ìœ¼ë¡œ ë¶„ëª… ë§ˆì£¼ì¹  ì´ìŠˆë“¤ì´ë‹¤. ì´ëŸ° ì´ìŠˆë“¤ì€ ì´ë¥¼ ëª…ì‹œì ìœ¼ë¡œ ì§€ì›í•˜ì§€ ì•ŠëŠ” íˆ´ì´ë‚˜ ì–¸ì–´ë¥¼ ì‚¬ìš©í•  ê²½ìš°ì—ëŠ” í•´ê²°í•˜ê¸°ê°€ ë§¤ìš° ê³¤ë€í•˜ë‹¤.  
ì´ë¥¼ ì–´ë–»ê²Œ í•´ê²°í•  ìˆ˜ ìˆëŠ”ì§€ ë³´ë„ë¡ í•œë‹¤!

# Working with missing data
---
ê²°ì¸¡ ë°ì´í„° ë‹¤ë£¨ê¸°

pandasì—ì„œëŠ” `NaN`(Numpyì—ì„œëŠ” `np.nan`)ì˜ ê°’ì„ ê°–ëŠ” ë°ì´í„°ë¥¼ ëˆ„ë½ëœ ë°ì´í„°, ì¦‰ missing ë°ì´í„°ë¼ê³  í•œë‹¤. ì´ `NaN` ê°’ì€ `Series`ì˜ íŠ¹ì • ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— í• ë‹¹ëœ ê°’ì´ ì—†ìŒì„ ì˜ë¯¸í•˜ëŠ”ë°, ì™œ ë°œìƒí•˜ëŠ” ê±¸ê¹Œ? ì›ì¸ì€ ë‹¤ìŒê³¼ ê°™ì´ ë‹¤ì–‘í•˜ë‹¤.  
- ì¡°ì¸í•˜ëŠ” ë‘ ë°ì´í„°ì…‹ì— ì„œë¡œ ëŒ€ì‘ë˜ëŠ” ê°’ì´ ì—†ë‹¤.
- ì™¸ë¶€ ì†ŒìŠ¤ë¡œë¶€í„° ê°€ì ¸ì˜¨ ë°ì´í„°ê°€ ë¶ˆì™„ì „í•˜ë‹¤.
- ë‚˜ì¤‘ì— ì±„ì›Œì§ˆ ê°’ì´ë¯€ë¡œ, ì£¼ì–´ì§„ ì‹œì ì—ì„œëŠ” ê°’ì´ ì—†ë‹¤.
- ê°’ì„ ê°€ì ¸ì˜¤ëŠ” ë° ì˜¤ë¥˜ê°€ ìˆìœ¼ë‚˜, ì´ë²¤íŠ¸ëŠ” ê³„ì† ë°œìƒí•´ ê¸°ë¡ëë‹¤.
- ë¦¬ì¸ë±ì‹±ì„ í•œ ê²°ê³¼ë¡œ ê°’ì´ ì—†ëŠ” ì¸ë±ìŠ¤ê°€ ë§Œë“¤ì–´ì¡Œë‹¤. 
- ë°ì´í„° ì¬í˜•ì„±(reshape)ë‹¹ì‹œì—ëŠ” í™•ì¸ë˜ì§€ ì•Šì•˜ìœ¼ë‚˜, ìƒˆ ì¹¼ëŸ¼ì´ë‚˜ ë¡œìš°ê°€ ì¶”ê°€ë¼ ë°ì´í„°ì˜ ëª¨ì–‘ì´ ë°”ë€Œì—ˆë‹¤. 

ì´ ì™¸ì—ë„ ë” ë§ì€ ì›ì¸ë“¤ì´ ìˆê² ì§€ë§Œ, ì¤‘ìš”í•œ ì ì€ ë°œìƒí•  ìˆ˜ ë°–ì— ì—†ê³ , ë°ì´í„° ë¶„ì„ì„ ìœ„í•´ ëŒ€ì²˜ë¥¼ í•  ìˆ˜ ìˆì–´ì•¼ í•œë‹¤ëŠ” ì ì´ë‹¤.  

ì˜ˆì‹œ ë°ì´í„° í”„ë ˆì„ì„ ë§Œë“¤ì–´ë³¸ë‹¤. ê·¸ë¦¬ê³  ì¼ë¶€ ë°ì´í„°ë¥¼ ë³€ê²½í•˜ë„ë¡ í•œë‹¤.

In [2]:
# create a DataFrame with 5 rows and 3 columns
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
                   index = ['a', 'b', 'c', 'd', 'e'], 
                   columns = ['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [3]:
# add some columns and rows to the DataFrame
# ì¶”ê°€ : column c4 with NaN values
df['c4'] = np.nan
# ì¶”ê°€ : row 'f' with 15 through 18 
df.loc['f'] = np.arange(15, 19) 
# ì¶”ê°€ : row 'g' will all NaN
df.loc['g'] = np.nan
# ì¶”ê°€ : column 'C5' with NaN's
df['c5'] = np.nan
# ì¶”ê°€ë³€ê²½ : change value in col 'c4' row 'a'
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

ì´ `DataFrame`ì—ëŠ” ê²°ì¸¡ ë°ì´í„°ê°€ ì¡´ì¬í•˜ë©°, ë‹¤ìŒê³¼ ê°™ì€ íŠ¹ì§•ì„ ë³´ì—¬ì¤€ë‹¤. 

- ì˜¤ì§ `NaN`ê°’ìœ¼ë¡œë§Œ ëœ ë¡œìš° í•˜ë‚˜ì™€, ì¹¼ëŸ¼ í•˜ë‚˜ê°€ ìˆë‹¤. 
- ìˆ«ì ê°’ê³¼ `NaN` ê°’ì´ í˜¼í•©ëœ ë¡œìš°ì™€ ì¹¼ëŸ¼ì´ ì—¬ëŸ¬ ê°œ ìˆë‹¤.

## `NaN` ê°’ ì°¾ê¸° : Determining NaN values in Series and DataFrame objects

### `.isnull()`
ë°ì´í„° í”„ë ˆì„ ê°ì²´ì—ì„œì˜ `NaN` ê°’ ì°¾ê¸° ê°’ì€ `.isnull()` ë©”ì„œë“œë¡œ ì°¾ì•„ë‚¼ ìˆ˜ ìˆë‹¤. ì´ ë©”ì„œë“œê°€ `True`ë¥¼ ë°˜í™˜í•œ í•´ë‹¹ ìœ„ì¹˜ì˜ ì•„ì´í…œì€ `NaN` ê°’ì´ë¼ëŠ” ëœ»ì´ë‹¤.

In [4]:
# which items are NaN?
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

ì´ ê²°ê³¼ì— `.sum()` ì„ ì ìš©í•˜ë©´ ì´ `DataFrame`ì— ìˆëŠ” `NaN`ê°’ì˜ ì´ ê°œìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.

In [5]:
# count the number of NaN's in each column
df.isnull().sum()

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

In [6]:
# total count of NaN values
df.isnull().sum().sum()

15

ì´ëŠ” ëˆ„ë½ëœ ë°ì´í„°ë¥¼ ì´ˆê¸°ì— ì‹ë³„í•˜ëŠ” í¸ë¦¬í•œ ë°©ë²•ì´ë‹¤. ì™„ì „í•œ ë°ì´í„°ê°€ í•„ìš”í•œ ê²½ìš°, ì´ ë°©ë²•ìœ¼ë¡œ í™•ì¸í•´ 0ì´ ì•„ë‹Œ ê°’ì´ ë‚˜ì˜¨ë‹¤ë©´ ì¢€ ë” ë°ì´í„°ë¥¼ ì‚´í´ë´ì•¼ í•˜ëŠ” ìƒí™©ì¸ ê²ƒì´ë‹¤.  

### `.count()`
ê²°ì¸¡ ë°ì´í„° ê°œìˆ˜ë¥¼ í™•ì¸í•˜ëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•ìœ¼ë¡œ `Series`, `DataFrame`ì˜ `.count()` ë©”ì„œë“œê°€ ìˆë‹¤.  
- `Series`ì—ì„œ ì´ ë©”ì„œë“œëŠ” `NaN`ì´ **ì•„ë‹Œ ê°’ì˜ ê°œìˆ˜**ë¥¼ ë°˜í™˜í•œë‹¤. 
- `DataFrame`ì—ì„œëŠ” ê° **ì¹¼ëŸ¼ ë³„ë¡œ `NaN`ì´ ì•„ë‹Œ ê°’ì˜ ê°œìˆ˜**ë¥¼ ë°˜í™˜í•œë‹¤. 

ê·¸ ë‹¤ìŒì—ëŠ” ê±°ê¾¸ë¡œ, ì´ë¥¼ ì „ì²´ ë¡œìš°ì—ì„œ ëº€ë‹¤ìŒ ëª¨ë‘ í•©í•˜ë©´ `NaN`ì˜ ê°œìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.

In [7]:
df['c4'].count()

2

In [8]:
# number of non-NaN values in each column
df.count()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [9]:
# and this counts the number of NaN's too
(len(df) - df.count()).sum()

15

### `.notnull()`

`.notnull()`ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ë„ `NaN`ì´ ì•„ë‹Œ ì•„ì´í…œì„ ì‹ë³„í•  ìˆ˜ ìˆë‹¤. `.isnull()`ì˜ ë°˜ëŒ€ ê°œë…ì´ë©°, ì´ ë©”ì„œë“œëŠ” ë°˜í™˜ê°’ì´ `True`ì¼ ê²½ìš° í•´ë‹¹ ê°’ì´ `NaN`ì´ ì•„ë‹ˆë¼ëŠ” ì˜ë¯¸ì´ë©°, `False`ì´ë©´ ê·¸ ë°˜ëŒ€ì´ë‹¤.

In [10]:
# which items are not null?
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

## Selecting out or dropping missing data
ê²°ì¸¡ ë°ì´í„°ì˜ íŒë³„ê³¼ ì‚­ì œ

ê²°ì¸¡ ë°ì´í„°ë¥¼ ì²˜ë¦¬í•˜ëŠ” í•œ ê°€ì§€ ë°©ë²•ì€ ë‹¨ìˆœíˆ ë°ì´í„°ì…‹ì—ì„œ ì‚­ì œ í•˜ëŠ” ê²ƒì´ë‹¤.  
ì´ëŠ” ì •ê¸°ì ìœ¼ë¡œ í‘œë³¸ì„ ìˆ˜ì§‘í•˜ì§€ë§Œ ê¸°ê¸°ê°€ ì¼ì‹œì ìœ¼ë¡œ ì˜¤í”„ë¼ì¸ì´ ë¼ ì¼ë¶€ ë°ì´í„°ê°€ ê¸°ë¡ë˜ì§€ ëª»í•˜ëŠ” ìƒí™©ì—ì„œ ê°€ëŠ¥í•œ ì‹œë‚˜ë¦¬ì˜¤ë¼ê³  í•œë‹¤.  

### `.isnull()`, `.notnull()` ë¡œ `NaN`ê°’ì„ ì¶”ì¶œí•˜ëŠ” ë¶ˆë¦¬ì–¸ ì„ íƒ
pandasì—ì„œëŠ” ì´ì™€ ê´€ë ¨í•´ ë‹¤ì–‘í•œ ê¸°ë²•ì„ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ”ë°, ê·¸ ì¤‘ í•˜ë‚˜ëŠ” `.isnull()`, `.notnull()`ì„ ì‚¬ìš©í•˜ì—¬ `NaN`ì´ë‚˜ `NaN`ì´ ì•„ë‹Œ ê°’ì„ ì¶”ì¶œí•˜ëŠ” ì¼ì´ë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ 'c4' ì¹¼ëŸ¼ì—ì„œ `NaN`ì´ ì•„ë‹Œ ê°’ë§Œ ì¶”ì¶œí•œë‹¤ë©´ ì´ë ‡ë‹¤.

In [11]:
# select the non-NaN items in column c4
# c4ì—ì„œ
df.c4[df.c4.notnull()]

a    20.0
f    18.0
Name: c4, dtype: float64

### ğŸ§ª `.dropna()`
`.dropna()`ëŠ” `Series`ë¡œ ë¶€í„° ê°’ì´ `NaN`ì¸ ê°’ì„ ì‚­ì œí•œë‹¤.  
ì‹¤ì œë¡œëŠ” ì‚¬ë³¸ì„ ë°˜í™˜í•˜ê²Œ ë˜ë¯€ë¡œ, ì›ë³¸ì´ ë³€í˜•ë˜ì§€ ì•ŠëŠ”ë‹¤.  
ì˜µì…˜ì— `inplace`ê°€ ìˆìœ¼ë¯€ë¡œ ì›ë³¸ì„ ë³€í˜•í•˜ê³ ì í•œë‹¤ë©´ `inplace=True`ì˜µì…˜ì„ ì‚¬ìš©í•˜ê¸°!

In [12]:
# .dropna will also return non NaN values
# this gets all non NaN items in column c4
df.c4.dropna()

a    20.0
f    18.0
Name: c4, dtype: float64

In [13]:
# dropna returns a copy with the values dropped
# the source DataFrame / column is not changed
df.c4

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

`.dropna()`ê°€ `DataFrame`ì— ì‚¬ìš©ë  ê²½ìš°ì—ëŠ” `NaN` ê°’ì´ ìµœì†Œí•œ í•˜ë‚˜ë¼ë„ ìˆëŠ” ë¡œìš°ê°€ ëª¨ë‘ ì‚­ì œëœë‹¤.  
ì„ì˜ë¡œ ë§Œë“  dfëŠ” ëª¨ë“  ë¡œìš°ì— ìµœì†Œ í•˜ë‚˜ ì´ìƒì˜ `NaN`ê°’ì„ ê°€ì§€ê³  ìˆìœ¼ë¯€ë¡œ(c5 ì¹¼ëŸ¼ì´ ì „ë¶€ `NaN`ì„) ê·¸ ê²°ê³¼ ëª¨ë“  ë¡œìš°ê°€ ì‚­ì œëœ ì±„ ë°˜í™˜ëœë‹¤.

In [14]:
# on a DataFrame this will drop entire rows
# where there is at least one NaN
# in this case, that is all rows
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

#### `.dropna(how = , axis = )`
ëª¨ë“  ê°’ì´ `NaN`ì¸ ë¡œìš°ë§Œ ì‚­ì œí•˜ê³  ì‹¶ë‹¤ë©´ `how = 'all'` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ë©´ ëœë‹¤.  
(ë§Œì•½ í•˜ë‚˜ë¼ë„ `NaN`ì¸ ê²½ìš°ë¥¼ ì‚­ì œí•˜ê³  ì‹¶ë‹¤ë©´ `how = 'any'` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•œë‹¤.)  
dfì˜ ì¸ë±ìŠ¤ê°€ gì¸ ë¡œìš°ëŠ” `NaN`ë¡œë§Œ ì´ë£¨ì–´ì ¸ ìˆê¸° ë•Œë¬¸ì— í•´ë‹¹ ë¡œìš°ë¥¼ ì‚­ì œí•œë‹¤.  

ë§Œì•½ ë¡œìš°ê°€ ì•„ë‹ˆë¼ ì¹¼ëŸ¼ì— ì ìš©í•˜ê³ ì í•œë‹¤ë©´ `axis = 1` íŒŒë¼ë¯¸í„°ë¥¼ ì „ë‹¬í•œë‹¤.  
ê·¸ëŸ¬ë©´ c5 ì¹¼ëŸ¼ì€ `NaN`ë¡œë§Œ ì´ë£¨ì–´ì ¸ ìˆê¸° ë•Œë¬¸ì— í•´ë‹¹ ì¹¼ëŸ¼ì„ ì‚­ì œí•œë‹¤.

In [15]:
# using how='all', only rows that have all values
# as NaN will be dropped
df.dropna(how = 'all')

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [16]:
# flip to drop columns instead of rows
df.dropna(how = 'all', axis = 1) # say goodbye to c5

     c1    c2    c3    c4
a   0.0   1.0   2.0  20.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

#### `.dropna(thresh = )`
`.dropna()`ì—ëŠ” `thresh`ë¼ëŠ” íŒŒë¼ë¯¸í„°ê°€ ìˆë‹¤. ì´ íŒŒë¼ë¯¸í„°ëŠ” ì‚­ì œ ëŒ€ìƒì˜ ìµœì†Œ `NaN` ê°’ ê°œìˆ˜ë¥¼ ì§€ì •í•œë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ c4, c5 ì¹¼ëŸ¼ì²˜ëŸ¼ 5ê°œ ì´ìƒì˜ `NaN`ê°’ì´ ìˆëŠ” ì¹¼ëŸ¼ì„ ëª¨ë‘ ì‚­ì œí•˜ë„ë¡ í•  ìˆ˜ ìˆë‹¤.

In [17]:
# ì˜ˆì‹œë¥¼ ë§Œë“¤ê¸° ìœ„í•´ c1, c3ì¹¼ëŸ¼ì˜ ê°’ì„ ì¡°ê¸ˆ ë³€ê²½í•œë‹¤. 

# make a copy of df
df2 = df.copy()
# replace two NaN cells with values
df2.loc['g'].c1 = 0
df2.loc['g'].c3 = 0
df2

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   0.0   NaN   0.0   NaN NaN

ë¹„êµí•´ë³¸ë‹¤ë©´, í•˜ë‚˜ë¼ë„ `NaN`ì¸ ì¹¼ëŸ¼ì„ ì§€ìš´ ê²½ìš°ì™€, ê·¸ ì•„ë˜ëŠ” 5ê°œì´ìƒ `NaN`ì¸ ì¹¼ëŸ¼ë§Œ ì§€ìš´ ê²½ìš°ì´ë‹¤.

In [18]:
# now drop columns with any NaN values
df2.dropna(how = 'any', axis = 1)

     c1    c3
a   0.0   2.0
b   3.0   5.0
c   6.0   8.0
d   9.0  11.0
e  12.0  14.0
f  15.0  17.0
g   0.0   0.0

In [19]:
# only drop columns with at least 5 NaN values
df.dropna(thresh=5, axis=1)

     c1    c2    c3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
c   6.0   7.0   8.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
g   NaN   NaN   NaN

## How pandas handles NaNâ€™s in mathematical operations
ìˆ˜í•™ ì—°ì‚°ì—ì„œì˜ `NaN`  ì²˜ë¦¬ ë°©ì‹

pandasì˜ `NaN`ì²˜ë¦¬ ë°©ì‹ì€ NumPyì™€ ë‹¤ë¥´ë‹¤.  
ì˜ˆë¥¼ ë“¤ì–´ NumPyëŠ” `NaN`ì„ ë§Œë‚˜ë©´ `NaN`ì„ ë°˜í™˜í•˜ê²Œ ë˜ì–´ìˆë‹¤. ë°˜ë©´ pandasëŠ” `NaN`ê°’ì„ `Series`ì˜ ì¼ë¶€ë¡œ ì·¨ê¸‰í•˜ì§€ ì•Šê³  ì œì™¸(ë¬´ì‹œ)í•˜ë©´ì„œ ì—°ì‚°ì„ ì§„í–‰í•œë‹¤.  

    pandasê°€ ê³„ì‚°í•œ ì‹ì€, (1+2+3)/3 ì´ë‹¤. `NaN`ì´ ë¬´ì‹œë  ë¿ë§Œ ì•„ë‹ˆë¼ counting ì—ì„œë„ ì œì™¸ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [20]:
# create a NumPy array with one NaN value
a = np.array([1, 2, np.nan, 3])
# create a Series from the array
s = pd.Series(a)
print(a)
print(s)

[ 1.  2. nan  3.]
0    1.0
1    2.0
2    NaN
3    3.0
dtype: float64

In [21]:
# the mean of each is different
a.mean(), s.mean()

(nan, 2.0)

ì¢€ ë” êµ¬ì²´ì ìœ¼ë¡œ ì‚´í´ë³¸ë‹¤ë©´ pandasëŠ” ë‹¤ìŒê³¼ ê°™ì€ ë°©ì‹ìœ¼ë¡œ `NaN` ê°’ì„ ì²˜ë¦¬í•œë‹¤. 
- í•©ì‚°ì— ìˆì–´ì„œ `NaN`ì„ 0ìœ¼ë¡œ ì·¨ê¸‰
- ëª¨ë“  ê°’ì´ `NaN`ì¼ ê²½ìš°ì—ë§Œ ê²°ê³¼ê°€ `NaN`
- `.cumsum()`ì´ë‚˜ `.cumprod()`ì™€ ê°™ì€ ë©”ì„œë“œëŠ” ê³„ì‚° ì‹œì— `NaN` ê°’ì„ ë¬´ì‹œí•˜ì§€ë§Œ, ê·¸ ê²°ê³¼ ëª©ë¡ì—ëŠ” ìœ ì§€ì‹œí‚´

In [22]:
# demonstrate sum, mean and cumsum handling of NaN
# get one column
s = df.c4
s

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [23]:
s.sum(), # NaN's treated as 0

(38.0,)

In [24]:
s.mean() # NaN also treated as 0

19.0

In [25]:
# as 0 in the cumsum, but NaN's preserved in result Series
# ëˆ„ì í•©ì—ëŠ” `NaN`ì´ ê·¸ëŒ€ë¡œ ìˆìœ¼ë©´ì„œ ì—°ì‚°ì— ê²°ê³¼ë¥¼ ë¯¸ì¹˜ì§€ ì•ŠëŠ”ë‹¤.
s.cumsum()

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    38.0
g     NaN
Name: c4, dtype: float64

ì „í†µì ì¸ ìˆ˜í•™ ê¸°í˜¸ë¥¼ ì‚¬ìš©í•  ê²½ìš° 0ìœ¼ë¡œ ì·¨ê¸‰ë˜ì§€ ì•Šê³  ê·¸ëŒ€ë¡œ ìœ ì§€ëœë‹¤. ë§ê·¸ëŒ€ë¡œ ì•Œ ìˆ˜ ì—†ëŠ” ê°’ì´ê¸° ë•Œë¬¸ì•„ë‹ê¹Œ.

In [26]:
# in arithmetic, a NaN value will result in NaN
df.c4 + 1

a    21.0
b     NaN
c     NaN
d     NaN
e     NaN
f    19.0
g     NaN
Name: c4, dtype: float64

## `.fillna(n)` Filling in missing data with 'n'
ê²°ì¸¡ ë°ì´í„° ë³´ê°•

`NaN`ê°’ì„ ë¬´ì‹œí•˜ê±°ë‚˜ ìœ ì§€í•˜ëŠ” ëŒ€ì‹ , íŠ¹ì • ê°’ì„ ëŒ€ì²´í•˜ê³  ì‹¶ë‹¤ë©´ `.fillna()`ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ ëœë‹¤.  
`.fillna()`ë˜í•œ `inplace` ì˜µì…˜ì´ ìˆì–´ì„œ, ì›ë³¸ì€ ìœ ì§€í•œ ì±„ ë³µì œëœ ê²ƒì„ ë°˜í™˜í•œë‹¤.

In [27]:
# return a new DataFrame with NaN's filled with 0
df_filled = df.fillna(0)
df_filled

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  0.0
d   9.0  10.0  11.0   0.0  0.0
e  12.0  13.0  14.0   0.0  0.0
f  15.0  16.0  17.0  18.0  0.0
g   0.0   0.0   0.0   0.0  0.0

ì´ë ‡ê²Œ ë°”ê¾¸ì—ˆì„ ê²½ìš° `NaN`ì€ ë”ì´ìƒ `NaN`ì´ ì•„ë‹ˆë¼ 0ì´ë‹¤. ì…ˆì´ ë‹¬ë¼ì§€ëŠ” ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

In [28]:
# NaN's don't count as an item in calculating
# the means
df.mean()

c1     7.5
c2     8.5
c3     9.5
c4    19.0
c5     NaN
dtype: float64

In [29]:
# having replaced NaN with 0 can make
# operations such as mean have different results
df_filled.mean()

c1    6.428571
c2    7.285714
c3    8.142857
c4    5.428571
c5    0.000000
dtype: float64

## `.fillna(method = 'ffill'|'bfill')`: Forward and backwards filling of missing values
ê²°ì¸¡ ê°’ ì±„ìš°ëŠ” ì¼ì„ `Series`ì•ˆì˜ `NaN`ì´ ì•„ë‹Œ ê°’ìœ¼ë¡œ ê²°ì¸¡ ê°’ì„ ì±„ìš¸ ìˆ˜ ìˆë‹¤. (ì´ ì—­ì‹œ `inplace`ì˜µì…˜ì´ ì œê³µëœë‹¤.)

**ì •ë°©í–¥ ì±„ìš°ê¸°(forward filling)**ë¥¼ ì ìš©í•œ ì˜ˆì‹œë¡œëŠ”, ê²°ì¸¡ì´ ë°œê²¬ë˜ê¸° ë°”ë¡œ ì „ì˜ ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

    ì‹œê³„ì—´ ë°ì´í„°ì— ëŒ€í•œ ì´ì™€ ê°™ì€ ê¸°ë²•ì„ í”íˆ 'ë§ˆì§€ë§‰ ìœ íš¨ ê°’(last known value)'ì´ë¼ê³  í•œë‹¤. (13ì¥ì—ì„œ ë‹¤ì‹œ í™•ì¸)

ë°˜ëŒ€ë¡œ **ì—­ë°©í–¥ ì±„ìš°ê¸°(backward filling)**ì€ ê²°ì¸¡ì´ ë°œê²¬ëœ í›„ ë°”ë¡œ ë‚˜ì¤‘ì˜ ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

    íƒ€ì´í•‘ ìˆ˜ë¥¼ ì¤„ì´ê¸° ìœ„í•´ pandasì—ì„œëŠ” ì œê³µí•˜ëŠ” `pd.ffill()`, `pd.bfill()`ì„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

In [30]:
# extract the c4 column and fill NaNs forward
df.c4.fillna(method = "ffill")

a    20.0
b    20.0
c    20.0
d    20.0
e    20.0
f    18.0
g    18.0
Name: c4, dtype: float64

In [31]:
# perform a backwards fill
df.c4.fillna(method = "bfill")

a    20.0
b    18.0
c    18.0
d    18.0
e    18.0
f    18.0
g     NaN
Name: c4, dtype: float64

In [32]:
# ê°™ì€ ê²°ê³¼
df['c4'].bfill()

a    20.0
b    18.0
c    18.0
d    18.0
e    18.0
f    18.0
g     NaN
Name: c4, dtype: float64

## .fillna(fill_values) : Filling using index labels
ì¸ë±ìŠ¤ ë ˆì´ë¸”ì„ ì‚¬ìš©í•œ ì±„ìš°ê¸°

`Series`ì˜ ë ˆì´ë¸”ì´ë‚˜ íŒŒì´ì¬ ë”•ì…”ë„ˆë¦¬ì˜ í‚¤ë¥¼ ì‚¬ìš©í•´ ë°ì´í„°ë¥¼ ì±„ìš¸ ìˆ˜ ìˆë‹¤. ì´ ê²½ìš° ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ê¸°ì´ˆí•´ ê° ìš”ì†Œì— ì„œë¡œ ë‹¤ë¥¸ ê°’ì„ ì§€ì •í•  ìˆ˜ ìˆë‹¤.  
ê° ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•œ í•˜ë‚˜ì˜ ì‹œë¦¬ì¦ˆë¥¼ í†µí•´, `NaN`ì¸ ê³³ì— íŒŒë¼ë¯¸í„°ë¡œ ì£¼ì–´ì§„ í•´ë‹¹ ì¸ë±ìŠ¤ë¡œ ì§€ì •ëœ ê°’ì„ ì±„ìš´ë‹¤.

In [33]:
# create a new Series of values to be 
# used to fill NaN's where index label matches
fill_values = pd.Series([100, 101, 102], index = ['a', 'e', 'g'])
fill_values

a    100
e    101
g    102
dtype: int64

a ì¸ë±ìŠ¤ëŠ” `NaN`ì´ ì•„ë‹ˆê¸° ë•Œë¬¸ì— ë°”ë€Œì§€ ì•Šì€ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [34]:
# using c4, fill using fill_values
# a, e and g will be filled with matching values
df.c4.fillna(fill_values)

a     20.0
b      NaN
c      NaN
d      NaN
e    101.0
f     18.0
g    102.0
Name: c4, dtype: float64

### ğŸ§ª`.fillna(.mean() )`
í”íˆ ì‚¬ìš©ë˜ëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•ì€ `NaN`ì„ í•´ë‹¹ ì¹¼ëŸ¼ì˜ í‰ê·  ê°’ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒì´ë‹¤.  

ì´ëŠ” ê²°ì¸¡ê°’ì„ 0ìœ¼ë¡œ ì±„ìš¸ ë•Œë³´ë‹¤ í†µê³„ì ìœ¼ë¡œ ëœ ì™œê³¡ë˜ê²Œ ë§Œë“¤ ìˆ˜ ìˆëŠ” í¸ë¦¬í•œ ë°©ë²•ì´ë‹¤.  
ë˜í•œ í†µê³„ ë¶„ì„ì—ì„œ 0 ê°’ ë•Œë¬¸ì— ë„ˆë¬´ ì»¤ì§„ í¸ì°¨ë¡œ ì¸í•œ ê±°ì§“ ì˜¤ë¥˜(false failure), ì¦‰ ì‹¤ì œë¡œëŠ” ì˜¤ë¥˜ê°€ ì•„ë‹ˆì§€ë§Œ ì˜¤ë¥˜ë¡œ ì¸ì‹ë  ìˆ˜ ìˆëŠ” ìƒí™©ì„ ì˜ˆë°©í•˜ëŠ”ë° íŠ¹íˆ ìœ ìš©í•˜ë‹¤.  

`DataFrame`ì— ì ìš©í–ˆì„ ê²½ìš° ê°ê°ì˜ ì¹¼ëŸ¼ì˜ í‰ê·  ê°’ìœ¼ë¡œ ì±„ì›Œì§€ëŠ” ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [35]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [36]:
# fill NaN values in each column with the 
# mean of the values in that column
df.fillna(df.mean())

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0  19.0 NaN
c   6.0   7.0   8.0  19.0 NaN
d   9.0  10.0  11.0  19.0 NaN
e  12.0  13.0  14.0  19.0 NaN
f  15.0  16.0  17.0  18.0 NaN
g   7.5   8.5   9.5  19.0 NaN

## `.interpolate()` : Interpolation of missing values
ë³´ê°„ë²•ì„ ì‚¬ìš©í•œ ê²°ì¸¡ ê°’ ì±„ìš°ê¸°

`DataFrame`ê³¼ `Series`ì— ìˆëŠ” `.interpolate()` ë©”ì„œë“œëŠ” ê¸°ë³¸ì ìœ¼ë¡œ ê²°ì¸¡ ê°’ì— ëŒ€í•´ ì„ í˜• ë³´ê°„ë²•ì„ ì‚¬ìš©í•œë‹¤.  

ë³´ê°„ë²•ì€ ì—°ì†ëœ `NaN`ì˜ ì•ì˜ ê°’ê³¼ ë’¤ì˜ ê°’ì„ í†µí•´ ê³„ì‚°ëœ ì°¨ì´ ê°’ì„ ì°¨ë¡€ëŒ€ë¡œ ë”í•´ `NaN`ì„ ëŒ€ì²´í•˜ëŠ” ë°©ì‹ì´ë‹¤.  

1ê³¼ `NaN`, 2ë¡œ ì´ë£¨ì–´ì ¸ìˆì„ ê²½ìš° ê°ê° ê°™ì€ ê°„ê²©ì´ ì¡´ì¬í•˜ë„ë¡ 0.25ì”© ì¦ê°€ì‹œì¼œ `NaN`ì„ ì±„ìš°ëŠ” ì˜ˆì‹œì´ë‹¤.

In [37]:
# linear interpolate the NaN values from 1 through 2
s = pd.Series([1, np.nan, np.nan, np.nan, 2])
s.interpolate()

0    1.00
1    1.25
2    1.50
3    1.75
4    2.00
dtype: float64

ë³´ê°„ë²•ì€ ì¤‘ìš”í•œ ê¸°ë²•ì´ë‹¤. ì˜ˆë¥¼ ë“¤ì–´ ë‚®ë™ì•ˆ ì˜¬ë¼ê°€ëŠ” ì‹œê°„ë³„ ê¸°ì˜¨ì„ ë‚˜íƒ€ë‚´ëŠ” ë°ì´í„°ê°€ ìˆëŠ”ë°, ì„¼ì„œ ê³ ì¥ìœ¼ë¡œ ì¤‘ê°„ì— ë°ì´í„°ê°€ ê¸°ë¡ë˜ì§€ ì•Šì•˜ë‹¤ë©´ ë³´ê°„ë²•ì„ ì‚¬ìš©í•´ ì¶”ì¸¡ë˜ëŠ” ê¸°ì˜¨ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì±„ìš¸ ìˆ˜ ìˆë‹¤. ì´ëŠ” 0ìœ¼ë¡œ ì±„ìš°ëŠ” ê²ƒë³´ë‹¤ í›¨ì”¬ ì˜ë¯¸ê°€ ìˆë‹¤!  


### `.interpolate(method = 'time')`
`.interpolate()`ë©”ì„œë“œëŠ” ë³´ê°„ë²•ì˜ íŠ¹ì • ë°©ì‹ì„ ì§€ì •í•  ìˆ˜ ìˆëŠ” ê¸°ëŠ¥ì„ ì œê³µí•œë‹¤. í”íˆ ì‚¬ìš©ë˜ëŠ” ë°©ì‹ ì¤‘ í•˜ë‚˜ëŠ” ì‹œê°„ì— ê¸°ë°˜ì„ ë‘” ë³´ê°„ë²•ì´ë‹¤.  
ë‹¤ìŒ ì˜ˆì—ì„œ, ë‚ ì§œì™€ ê°’ìœ¼ë¡œ ì´ë£¨ì–´ì§„ `Series`ê°€ ìˆì„ ë•Œ ìƒê°í•´ë³¸ë‹¤.

In [38]:
# create a time series, but missing one date in the Series
ts = pd.Series([1, np.nan, 2], 
            index=[datetime(2014, 1, 1), 
                   datetime(2014, 2, 1),                   
                   datetime(2014, 4, 1)])
ts

2014-01-01    1.0
2014-02-01    NaN
2014-04-01    2.0
dtype: float64

ê·¸ëŒ€ë¡œ ë³´ê°„ë²•ì„ ì‚¬ìš©í•  ê²½ìš° ì˜ˆìƒëŒ€ë¡œ ê·¸ ê²°ê³¼ëŠ” 1.5ê°€ ì±„ì›Œì§„ë‹¤.  

ê·¸ëŸ¬ë‚˜ ì¤‘ìš”í•œ ì ì€ 2014-03-01 ë°ì´í„°ë„ ëˆ„ë½ë˜ì–´ìˆë‹¤ëŠ” ì‚¬ì‹¤ì´ë‹¤. ë”°ë¼ì„œ ê°’ì„ ì¶”ì¸¡í•´ì•¼í•  ëŒ€ìƒì€ 2014-02-01, 2014-03-01 ì— ëŒ€í•œ ë°ì´í„°ì´ë¯€ë¡œ ê³„ì‚°ì‹ì—ì„œì˜ ë¶„ëª¨ëŠ” 3ì´ ëì–´ì•¼ í•œë‹¤.  
ì´ë•Œ `.interpilate(method = 'time')` ìœ¼ë¡œ ì§€ì •í•˜ì—¬ í•´ê²°í•  ìˆ˜ ìˆë‹¤.  
(ê·¸ë ‡ë‹¤ê³  í•˜ì—¬ 2014-03-01, ì—†ëŠ” ì¸ë±ìŠ¤ê°€ ìƒì„±ë˜ì§€ëŠ” ì•ŠëŠ”ë‹¤. ë³´ê°„ë²• ê³„ì‚°ì—ë§Œ ê´€ì—¬ëì„ ë¿ì´ë‹¤.)

In [39]:
# linear interpolate based on number of items in the Series
ts.interpolate()

2014-01-01    1.0
2014-02-01    1.5
2014-04-01    2.0
dtype: float64

In [40]:
# this accounts for the fact that we don't have
# an entry for 2014-03-01
ts.interpolate(method= 'time')

2014-01-01    1.000000
2014-02-01    1.344444
2014-04-01    2.000000
dtype: float64

### `.interpolate(methd = 'values')`

ì¸ë±ìŠ¤ ë ˆì´ë¸”ì´ **ìˆ«ìì¸ ê²½ìš°ë¼ë©´ ê·¸ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ë”°ë¼ ìƒëŒ€ì ìœ¼ë¡œ ê°’ì´ ê³„ì‚°ë˜ëŠ” ë³´ê°„ë²•**ì„ ì‚¬ìš©í•  ìˆ˜ë„ ìˆë‹¤.  

ì˜ˆë¥¼ ë“¤ì–´ ë‹¤ìŒê³¼ ê°™ì€ `Series`ê°€ ìˆì„ ë•Œ ì„ í˜• ë³´ê°„ë²•(ì¼ë°˜ì ì¸ ë³´ê°„ë²•)ì„ ì‚¬ìš©í•œë‹¤ë©´ 50ì´ ì±„ì›Œì§ˆ ê²ƒì´ë‹¤.  
ê·¸ëŸ¬ë‚˜ ì¸ë±ìŠ¤ ê°’ì— ë”°ë¼ ìƒëŒ€ì ìœ¼ë¡œ ê°’ì„ ë¶€ì—¬í•˜ê³  ì‹¶ë‹¤ë©´ `method = 'values'`ë¥¼ ì§€ì •í•˜ë©´ ëœë‹¤.  
ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ë”°ë¼ ìƒëŒ€ì ì¸ ìœ„ì¹˜ì— ë§ê²Œ ê°’ì´ ê³„ì‚°ë˜ëŠ”ë°, ì¸ë±ìŠ¤ ë ˆì´ë¸”ì€ 0ì—ì„œ 10 ì‚¬ì´ì— 1/10 ìœ„ì¹˜ì´ë¯€ë¡œ 0 + (100-0)/10 ìœ¼ë¡œ ê³„ì‚°ë˜ì–´ ê·¸ ê°’ì´ 10ì´ í• ë‹¹ ëœë‹¤.

In [41]:
# a Series to demonstrate index label based interpolation
s = pd.Series([0, np.nan, 100], index=[0, 1, 10])
s

0       0.0
1       NaN
10    100.0
dtype: float64

In [42]:
# linear interpolate
s.interpolate()

0       0.0
1      50.0
10    100.0
dtype: float64

In [43]:
# interpolate based upon the values in the index
s.interpolate(method = 'values')

0       0.0
1      10.0
10    100.0
dtype: float64

# Handling Duplicate Data
---
ì¤‘ë³µ ë°ì´í„° ë‹¤ë£¨ê¸°

í‘œë³¸ ë°ì´í„°ì—ëŠ” ì¢…ì¢… ì¤‘ë³µëœ ë¡œìš°ê°€ ì¡´ì¬í•˜ê¸°ë„ í•œë‹¤. ì´ëŠ” ìë™ìœ¼ë¡œ ìˆ˜ì§‘ëœ ë°ì´í„° ë¿ë§Œ ì•„ë‹ˆë¼ ìˆ˜ë™ìœ¼ë¡œ ìˆ˜ì§‘í•œ ë°ì´í„°ì— ìˆì–´ì„œë„ ì‹¤ì œë¡œ ë°œìƒí•œë‹¤. ì¢…ì¢… ì¤‘ë³µ ë°ì´í„°ì˜ ì¡´ì¬ëŠ” ê²°ì¸¡ ë°ì´í„°ê°€ ìˆëŠ” ê²½ìš° ë³´ë‹¤ëŠ” ë‚˜ì€ ìƒí™©ìœ¼ë¡œ ì—¬ê²¨ì§„ë‹¤. íŠ¹íˆ ë°ì´í„°ê°€ ë©±ë“±ì„±(idempotence)ì„ ê°–ëŠ” ê²½ìš°, ì¦‰ ê³„ì‚° ê²°ê³¼ì— ì˜í–¥ì´ ì—†ëŠ” ìƒí™©ì—ì„œëŠ” ë”ìš± ê·¸ë ‡ë‹¤.  
ê·¸ëŸ¬ë‚˜ ì¤‘ë³µ ë°ì´í„°ëŠ” ë°ì´í„°ì…‹ì˜ í¬ê¸°ë¥¼ ì¦ê°€ì‹œí‚¤ë©°, ë©±ë“±ì„±ì´ ì—†ëŠ” ë°ì´í„°ì˜ ê²½ìš°ì— ì¤‘ë³µ ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ë‘ëŠ” ì¼ì€ ì ì ˆí•˜ì§€ ì•Šë‹¤.  

### `.duplicate()` : ì¤‘ë³µ ë°ì´í„° ì°¾ê¸°
pandasëŠ” ì¤‘ë³µ ë°ì´í„°ë¥¼ ì°¾ì•„ì£¼ëŠ” `.duplicate()`ë©”ì„œë“œë¥¼ ì œê³µí•œë‹¤.  
ì´ ë©”ì„œë“œëŠ” ì¤‘ë³µëœ ë¡œìš°ì¸ì§€ì˜ ì—¬ë¶€ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ë¶ˆë¦¬ì–¸ ê°’ìœ¼ë¡œ ëœ `Series`ë¥¼ ë°˜í™˜í•œë‹¤.  
ë°˜í™˜ ê°’ì´ True ë¼ë©´ í˜„ì¬ ë°ì´í„° í”„ë ˆì„ ì•ˆì—ì„œ **ì™„ì „íˆ ë™ì¼í•œ**ë¡œìš°ê°€ ì´ì „ì— ìˆì—ˆë‹¤ëŠ” ì˜ë¯¸ë‹¤. 

ì˜ˆì‹œ ë°ì´í„°ë¥¼ ë§Œë“¤ì–´ë³¸ë‹¤.

In [44]:
# a DataFrame with lots of duplicate data
data = pd.DataFrame({'a': ['x'] * 3 + ['y'] * 4, 
                     'b': [1, 1, 2, 3, 3, 4, 4]})
data

   a  b
0  x  1
1  x  1
2  x  2
3  y  3
4  y  3
5  y  4
6  y  4

ì¤‘ë³µëœ ë¡œìš°ëŠ” ì´ë ‡ê²Œ ì°¾ì„ ìˆ˜ ìˆë‹¤.

In [45]:
# reports which rows are duplicates based upon
# if the data in all columns was seen before
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6     True
dtype: bool

### `.drop_duplicates()` : ì¤‘ë³µ ë¡œìš° ì‚­ì œí•˜ê¸°
ì¤‘ë³µëœ ë¡œìš°ëŠ” `.drop_duplicates()` ë©”ì„œë“œë¡œ ì‚­ì œí•  ìˆ˜ ìˆë‹¤. ì´ ë©”ì„œë“œëŠ” ì¤‘ë³µëœ ë¡œìš°ê°€ ì œê±°ëœ `DataFrame` ì‚¬ë³¸ì„ ë°˜í™˜í•œë‹¤.  
ì´ ë©”ì„œë“œì˜ `inplace = True` ì˜µì…˜ì„ ì‚¬ìš©í•˜ë©´ ì‚¬ë³¸ ëŒ€ì‹  ì›ë³¸ì˜ ì¤‘ë³µ ë¡œìš°ë¥¼ ì¦‰ì„ì—ì„œ ì‚­ì œí•œë‹¤. (ì›ë³¸ ë³€ê²½ ì¼ì–´ë‚¨)

In [46]:
# drop duplicate rows retaining first row of the duplicates
data.drop_duplicates()

   a  b
0  x  1
2  x  2
3  y  3
5  y  4

### ì¤‘ë³µ ë°ì´í„° ì‚­ì œ ë°©ì‹ ì„ íƒí•˜ê¸°

ì¤‘ë³µ ë°ì´í„°ë¥¼ ì‚­ì œí•¨ìœ¼ë¡œì¨ ê·¸ ê²°ê³¼ì— ì˜í–¥ì´ ìˆìŒì„ ì•Œì•„ì•¼ í•œë‹¤.  
ì¤‘ë³µëœ ë ˆì½”ë“œëŠ” ë‹¤ë¥¸ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì„ ê°€ì¡Œì„ ê²ƒì´ë©°, ê·¸ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì€ ì¤‘ë³µ ë°ì´í„°ë¥¼ íŒë³„í•  ë•Œ ê³ ë ¤ë˜ì§€ ì•ŠëŠ”ë‹¤. ë”°ë¼ì„œ, ì–´ë–¤ ë°ì´í„°ê°€ ìœ ì§€ë˜ëŠ”ì§€ì— ë”°ë¼ ê²°ê³¼ `DataFrame`ì˜ ë ˆì´ë¸”ì´ ë‹¬ë¼ì§ˆ ìˆ˜ ìˆë‹¤.  

(1) ê¸°ë³¸ì ìœ¼ë¡œ ì¤‘ë³µëœ ë¡œìš° ì¤‘ ê°€ì¥ ì²« ë¡œìš°ë§Œ ìœ ì§€ëœë‹¤.  
ë§Œì•½ ë§ˆì§€ë§‰ ë¡œìš°ë¥¼ ìœ ì§€í•˜ê³  ì‹¶ë‹¤ë©´ `keep = 'last'` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•œë‹¤.

In [47]:
# drop duplicate rows, only keeping the first 
# instance of any data
# ë°”ë¡œ ìœ„ì˜ ì…€ì˜ ê²°ê³¼ì™€ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì´ ë‹¤ë¥´ë‹¤.
data.drop_duplicates(keep='last')

   a  b
1  x  1
2  x  2
4  y  3
6  y  4

(2) ì¼ë¶€ ì¹¼ëŸ¼ì— ëŒ€í•´ì„œë§Œ ì¤‘ë³µ ë°ì´í„°ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤ë©´ **ì¹¼ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬**í•˜ë©´ ëœë‹¤. (`subset = []` ì˜µì…˜)

ì•„ë˜ ì˜ˆì‹œì—ì„œëŠ” ì¤‘ë³µ ë¡œìš°ê°€ ì—†ëŠ” cì¹¼ëŸ¼ì„ ì¶”ê°€í•œ ë’¤ì—, a, b ì¹¼ëŸ¼ì— ëŒ€í•´ì„œë§Œ ì¤‘ë³µ ë°ì´í„°ë¥¼ ì‚­ì œí•˜ëŠ” ì˜ˆì‹œì´ë‹¤.

In [48]:
# add a column c with values 0..6
# this makes .duplicated() report no duplicate rows
data['c'] = range(7)
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [49]:
# but if we specify duplicates to be dropped only in columns a & b
# they will be dropped
data.drop_duplicates(['a', 'b'])

   a  b  c
0  x  1  0
2  x  2  2
3  y  3  3
5  y  4  5

In [50]:
# ë§Œì•½ cë¥¼ í¬í•¨í•´ì„œ ì°¾ê²Œë˜ë©´ ì¤‘ë³µì´ ì—†ëŠ” ê²ƒìœ¼ë¡œ ë‚˜ì˜¨ë‹¤.
data.drop_duplicates(subset = ['b', 'c'])

   a  b  c
0  x  1  0
1  x  1  1
2  x  2  2
3  y  3  3
4  y  3  4
5  y  4  5
6  y  4  6

# ë°ì´í„° ë³€í˜•
---
ë°ì´í„° ì •ëˆì— ìˆì–´ì„œ ë˜ ë‹¤ë¥¸ í•œ ë¶€ë¶„ì€ ê¸°ì¡´ ë°ì´í„°ë¥¼ ë‹¤ë¥¸ ëª¨ì–‘ìœ¼ë¡œ ë³€í˜•í•˜ëŠ” ì¼ì´ë‹¤. ë³´í†µ ë‹¤ìŒê³¼ ê°™ì€ ê²½ìš°ê°€ ë°ì´í„° ë³€í˜•ì„ í•˜ëŠ” ì´ìœ ë‹¤.  
- ê°’ì˜ ë‹¨ìœ„ê°€ ì˜¬ë°”ë¥´ì§€ ì•Šì€ ê²½ìš°
- ì§ˆì  ë°ì´í„°ë¥¼ ì ë‹¹í•œ ìˆ«ì ê°’ìœ¼ë¡œ ë³€í™˜í•´ì•¼ í•˜ëŠ” ê²½ìš°
- ë©”ëª¨ë¦¬ë‹¤ ì²˜ë¦¬ ì‹œê°„ì„ ì†Œë¹„í•˜ëŠ”, ë˜ëŠ” ë‹¨ì§€ í¬í•¨ë˜ëŠ” ê²ƒë§Œìœ¼ë¡œë„ ê²°ê³¼ì— ì˜í–¥ì„ ì¤„ ìˆ˜ ìˆëŠ” ë¶ˆí•„ìš”í•œ ë°ì´í„°ê°€ ìˆì„ ê²½ìš°

ê·¸ëŸ° ìƒí™©ì„ ë°”ë¡œ ì¡ê¸° ìœ„í•´ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì€ ì‘ì—…ë“¤ì´ í•˜ë‚˜ ì´ìƒ í•„ìš”í•  ìˆ˜ ìˆë‹¤.  
- í…Œì´ë¸” ê²€ìƒ‰ì„ ì‚¬ìš©í•´ ë°ì´í„°ë¥¼ ë‹¤ë¥¸ ì¸ë±ìŠ¤ì— ë§¤í•‘í•œë‹¤. 
- ëª…ì‹œì ìœ¼ë¡œ íŠ¹ì • ê°’ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ, ë˜ëŠ” ë‹¤ë¥¸ ë°ì´í„° íƒ€ì…ìœ¼ë¡œ ëŒ€ì²´í•œë‹¤. 
- ì•Œê³ ë¦¬ì¦˜ì— ê¸°ì´ˆí•´ ê°’ì„ ë³€í˜•ì‹œí‚¤ëŠ” ë©”ì„œë“œë¥¼ ì ìš©í•œë‹¤. 
- ë‹¨ìˆœíˆ ë¶ˆí•„ìš”í•œ ì¹¼ëŸ¼ì´ë‚˜ ë¡œìš°ë¥¼ ì‚­ì œí•œë‹¤.  

ì¹¼ëŸ¼ì´ë‚˜ ë¡œìš°ë¥¼ ì‚­ì œí•˜ëŠ” ë°©ë²•ì€ ì•ì— í–ˆê³ , ë³€í˜•ì„ ìœ„í•´ ë°ì´í„° ë§¤í•‘, ëŒ€ì²´, í•¨ìˆ˜ ì ìš© ê¸°ëŠ¥ì„ ì•Œì•„ë³´ì.  

## `.map()` : Mapping
ë°ì´í„°ë¥¼ ë‹¤ë¥¸ ì¸ë±ìŠ¤ì— ë§¤í•‘

ë°ì´í„° ë³€í˜•ì— ìˆì–´ì„œ ê¸°ë³¸ì ì¸ ì‘ì—… ì¤‘ í•˜ë‚˜ëŠ” í•œ ë°ì´í„°ì…‹ì„ ë‹¤ë¥¸ ë°ì´í„°ì…‹ì— ë§¤í•‘í•˜ëŠ” ì¼ì´ë‹¤.  
pandasëŠ” íŒŒì´ì¬ ë”•ì…”ë„ˆë¦¬ë‚˜ pandas `Series`ë¥¼ í†µí•œ í…Œì´ë¸” ê²€ìƒ‰ìœ¼ë¡œ ê°’ì„ ë§¤í•‘í•´ì£¼ëŠ” `.map()`ë©”ì„œë“œë¥¼ ì œê³µí•œë‹¤.  

ì´ ë©”ì„œë“œëŠ” ë¨¼ì € ì™¸ë¶€ `Sereis`ì˜ ê°’ì„ ë‚´ë¶€ `Series`ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ì¼ì¹˜ì‹œí‚¨ë‹¤.  
ê·¸ í›„ *ì™¸ë¶€ `Series`ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”*ê³¼ *ë‚´ë¶€ `Series`ì˜ ê°’*ì„ ê°–ëŠ” ìƒˆë¡œìš´ `Series`ë¥¼ ë°˜í™˜í•œë‹¤.  

ë‹¤ìŒ ì˜ˆì œì—ì„œëŠ” yë¼ëŠ” ë‚´ë¶€ `Series`ì˜ ê°’ì„ xë¼ëŠ” ì™¸ë¶€ `Series`ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ë§¤í•‘í•˜ëŠ” ë°©ì‹ì´ë‹¤.

In [51]:
# create two Series objects to demonstrate mapping
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b", 3: "c"})

x

one      1
two      2
three    3
dtype: int64

In [52]:
y

1    a
2    b
3    c
dtype: object

xì— mapì„ yë¥¼ ì‹œí‚¨ ê²°ê³¼ëŠ” ë‹¤ìŒì²˜ëŸ¼ ì¼ì¹˜í•˜ëŠ” ê°’ì— ë”°ë¼ì„œ, xì˜ ì¸ë±ìŠ¤ì™€ yì˜ ê°’ì„ ê°–ëŠ” `Series`ê°€ ë‚˜ì™”ë‹¤.  
ë‹¤ì‹œ ë§í•´, ì™¸ë¶€ ê²ƒì˜ ê°’ì´ ë‚´ë¶€ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”ê³¼ ë§¤í•‘ëœ ê²ƒ.

In [53]:
# map values in x to values in y 
x.map(y)

one      a
two      b
three    c
dtype: object

ë‹¤ë¥¸ ì •ë ¬ ì‘ì—…ì—ì„œì™€ ë§ˆì°¬ê°€ì§€ë¡œ, ì™¸ë¶€ `Series`ì˜ ê°’ì„ ë‚´ë¶€ `Series`ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì— ì¼ì¹˜ì‹œí‚¤ì§€ ëª»í•˜ëŠ” ê²½ìš°ì—ëŠ” `NaN`ì„ ë°˜í™˜í•œë‹¤.  

ì™¸ë¶€ `Series`ì˜ 3ê³¼ ì¼ì¹˜í•˜ëŠ” ë‚´ë¶€ `Series`ì˜ ì¸ë±ìŠ¤ ë ˆì´ë¸”ì´ ì—†ì–´ì„œ, ê°’ì„ ì•Œ ìˆ˜ ì—†ìœ¼ë¯€ë¡œ `NaN`ì´ ë‚˜ì™”ë‹¤.

In [54]:
# three in x will not align / map to a value in y
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b"})
x.map(y)

one        a
two        b
three    NaN
dtype: object

## `.replace()` : Replacing values
ë°ì´í„° ëŒ€ì²´ : `DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')` 

`.fillna()`ë¥¼ í†µí•´ `NaN`ì„ ì›í•˜ëŠ” ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ë°©ë²•ì„ ì•Œê³  ìˆë‹¤. `.fillna()` ë©”ì„œë“œëŠ” íŠ¹ì • ê°’ì„ `NaN`ì˜ ì¸ë±ìŠ¤ì— ë§¤í•‘í•´ì£¼ëŠ” `.map()`ë©”ì„œë“œì˜ íŠ¹ìˆ˜í•œ í˜•íƒœë¼ê³  ìƒê°í•´ë„ ëœë‹¤.  

í¬ê´„ì ìœ¼ë¡œ ë³¸ë‹¤ë©´, `.fillna()` ìì²´ëŠ” `.replace()`ë©”ì„œë“œê°€ ì œê³µí•˜ëŠ” ëŒ€ì²´ ê¸°ëŠ¥ì„ íŠ¹ë³„í•˜ê²Œ êµ¬í˜„í•œ ë©”ì„œë“œë¼ê³  ë´ë„ ì¢‹ë‹¤. `.replace()`ë©”ì„œë“œëŠ” `NaN` ì„ í¬í•¨í•˜ì—¬ ì–´ë–¤ ê°’ì´ë“  ê°„ì— ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•  ìˆ˜ ìˆëŠ” ìœ ì—°í•¨ì„ ì œê³µí•œë‹¤.  

ì´ ì—­ì‹œ `inplace` ì˜µì…˜ì´ ìˆìœ¼ë¯€ë¡œ ì›ë³¸ì„ ì¦‰ì„ì—ì„œ ë°”ê¾¸ê¸¸ ì›í•œë‹¤ë©´ ì‚¬ìš©í•œë‹¤!!!

### `Series`ì—ì„œ ê°œë³„ ê°’ í•˜ë‚˜ë¥¼ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´
`.replace(to_replace = , value = )` ë©”ì„œë“œì— ì›ë³¸ ê°’ê³¼ ë°”ê¿€ ê°’ìœ¼ë¡œ ì „ë‹¬í•œë‹¤.

In [55]:
# create a Series to demonstrate replace
s = pd.Series([0., 1., 2., 3., 2., 4.])
s

0    0.0
1    1.0
2    2.0
3    3.0
4    2.0
5    4.0
dtype: float64

In [56]:
# replace all items with index label 2 with value 5
s.replace(2, 5)

0    0.0
1    1.0
2    5.0
3    3.0
4    5.0
5    4.0
dtype: float64

### ë¦¬ìŠ¤íŠ¸ë¥¼ í™œìš©í•˜ì—¬ ì—¬ëŸ¬ ê°’ì„ ì—¬ëŸ¬ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´
`.replace()` ë©”ì„œë“œì— ë‘ ê°œì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•˜ë©´, ì²« ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ì˜ ê°’ë“¤ì´ ë‘ ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ì˜ ê°’ë“¤ë¡œ ëŒ€ì²´ëœë‹¤.  

íŒë‹¤ìŠ¤ ê³µì‹ë¬¸ì„œì— ì¨ìˆë“¯, **if to_replace and value are both lists, they must be the same length.**.

In [57]:
# replace all items with new values
s.replace([0, 1, 2, 3, 4], [4, 3, 2, 1, 0])

0    4.0
1    3.0
2    2.0
3    1.0
4    2.0
5    0.0
dtype: float64

### ë”•ì…”ë„ˆë¦¬ë¥¼ í™œìš©í•˜ì—¬ ì—¬ëŸ¬ ê°’ì„ ì—¬ëŸ¬ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´
Dicts can be used to specify different replacement values.  
{í‚¤:ê°’} ì˜ êµ¬ì¡°ì—ì„œ, í‚¤ì— ì›ë³¸ ê°’ì„, ê°’ì— ë°”ê¿€ ê°’ìœ¼ë¡œ ì „ë‹¬í•˜ë©´ ëŒ€ì²´ëœë‹¤.

In [58]:
# replace using entries in a dictionary
s.replace({0: 10, 1: 100})

0     10.0
1    100.0
2      2.0
3      3.0
4      2.0
5      4.0
dtype: float64

### `DataFrame`ì—ì„œì˜ íŠ¹ì • ê°’ ë³€ê²½

ì˜ˆì‹œ ë°ì´í„° í”„ë ˆì„ì€ ë‘ ì¹¼ëŸ¼ìœ¼ë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„°í”„ë ˆì„ì´ë‹¤. 
`.replace({ì¹¼ëŸ¼:ê°’, ì¹¼ëŸ¼:ê°’, ...}, ë°”ê¿€ ê°’)` í˜•ì‹ìœ¼ë¡œ ê° ì¹¼ëŸ¼ê³¼ ì›ë³¸ ê°’ì„ ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì „ë‹¬í•œë‹¤.

In [59]:
# DataFrame with two columns
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})
df

   a  b
0  0  5
1  1  6
2  2  7
3  3  8
4  4  9

For a DataFrame a dict can specify that different values  
should be replaced in different columns.  
The value parameter should not be None in this case.   

 {'a': 1, 'b': 'z'} ê°€ ì¹¼ëŸ¼ aì˜ ê°’1, ì¹¼ëŸ¼ bì˜ ê°’ zì˜ ê²½ìš°, `value=` íŒŒë¼ë¯¸í„°ë¥¼ ì£¼ì–´ì„œ í•´ë‹¹ ìœ„ì¹˜ì— í•´ë‹¹í•˜ëŠ” ê°’ì„ ëŒ€ì²´í•œë‹¤.

In [60]:
# specify different replacement values for each column
df.replace({'a': 1, 'b': 8}, 100)

     a    b
0    0    5
1  100    6
2    2    7
3    3  100
4    4    9

Dicts can be used to specify different replacement values.  

ë§Œì•½ `df.replace({key:val})`ìœ¼ë¡œ ì§ì ‘ í•œë‹¤ë©´, keyë¼ëŠ” ëª¨ë“  ê°’ì€ valìœ¼ë¡œ ë³€ê²½ëœë‹¤.

In [61]:
df.replace({0:10, 5:50})

    a   b
0  10  50
1   1   6
2   2   7
3   3   8
4   4   9

In [62]:
df2 = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9], 'c' : ['a', 'a', 'bread', 'cheeze', 'cheeze']})
df2

   a  b       c
0  0  5       a
1  1  6       a
2  2  7   bread
3  3  8  cheeze
4  4  9  cheeze

In [63]:
# aê°€ ì˜ëª» ì íŒê±°ë¼ê³  ê°„ì£¼í•˜ê³ , aë§Œ ë°”ê¿”ë³¸ë‹¤.
# value íŒŒë¼ë¯¸í„°ë¥¼ ë”°ë¡œ ì£¼ì§€ ë§ì•„ì•¼ í•˜ë©°, aì¹¼ëŸ¼ì˜ appleì„ ì°¾ëŠ”ê²Œ ì•„ë‹Œ aë¼ëŠ” ëª¨ë“  ê°’ì„ ì°¾ì•„ appleë¡œ ë°”ê¾¼ë‹¤.
df2.replace({'a':'apple'})

   a  b       c
0  0  5   apple
1  1  6   apple
2  2  7   bread
3  3  8  cheeze
4  4  9  cheeze

ì¡°ê¸ˆ ë³€í˜•í•˜ì—¬ ì´ëŸ°ì‹ë„ ê°€ëŠ¥í•˜ë‹¤.  

For a DataFrame nested dictionaries, e.g.,
{'a': {'b': np.nan}}, are read as follows: look in column â€˜aâ€™ for the value â€˜bâ€™ and replace it with NaN. The value parameter should be None to use a nested dict in this way.  

`.replace({'a': {'b': np.nan}})`ì€ 'a'ë¼ëŠ” ì¹¼ëŸ¼ì— 'b'ë¼ëŠ” ê°’ì„ 'np.nan'ìœ¼ë¡œ ë°”ê¾¸ëŠ” ì‹ì´ë‹¤. ë§Œì•½ ì˜ˆì‹œë¡œ ë³¸ë‹¤ë©´ ì´ë ‡ê²Œ ê°€ëŠ¥í•˜ë‹¤.

In [64]:
# bread ê³¼ cheeze ê°€ ì˜ëª» ëœ ê±°ë¼ ê°„ì£¼í•œë‹¤ë©´ ì´ë ‡ê²Œ ì¹¼ëŸ¼ ì§€ì •í›„ í•´ë‹¹ ê°’ë“¤ì„ ë°”ê¾¸ëŠ” ê²ƒì´ ê°€ëŠ¥í•˜ë‹¤.
df2.replace({'c': {'cheeze' : 'c', 'bread': 'b'}})

   a  b  c
0  0  5  a
1  1  6  a
2  2  7  b
3  3  8  c
4  4  9  c

### `method = ` íŒŒë¼ë¯¸í„° : ì¸ë±ìŠ¤ í¬ì§€ì…˜ìœ¼ë¡œ ë‹¤ë¥¸ ê°’ ì±„ìš°ê¸°
ë§ˆì¹˜ ê²°ì¸¡ ê°’ì„ ì±„ìš°ëŠ” ê²½ìš°ì²˜ëŸ¼ íŠ¹ì • ì¸ë±ìŠ¤ í¬ì§€ì…˜ì˜ ì•„ì´í…œì„ ëŒ€ì²´í•  ìˆ˜ë„ ìˆë‹¤.  

ë‹¤ìŒì€ `.replace(ì¸ë±ìŠ¤í¬ì§€ì…˜ë¦¬ìŠ¤íŠ¸, method = 'pad')`ë¥¼ ì´ìš©í•˜ì—¬ì¸ë±ìŠ¤ í¬ì§€ì…˜ 0ì— í•´ë‹¹í•˜ëŠ” ê°’ìœ¼ë¡œ 1, 2, 3ì— ìœ„ì¹˜ì— ì •ë°©í–¥ìœ¼ë¡œ ì±„ìš°ëŠ” ì˜ˆì‹œì´ë‹¤.

In [65]:
# demonstrate replacement with pad method
# set first item to 10, to have a distinct replacement value
s[0] = 10
s

0    10.0
1     1.0
2     2.0
3     3.0
4     2.0
5     4.0
dtype: float64

In [66]:
# replace items with index label 1, 2, 3, using fill from the
# most recent value prior to the specified labels (10)
s.replace([1, 2, 3], method='pad')

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5     4.0
dtype: float64

In [67]:
# í¬ì›Œë“œí•„ê³¼ ë°±ì›Œë“œ í•„ì„ ì‹¤í–‰í•´ë³¸ë‹¤. 
# í¬ì›Œë“œ í•„ì€ 1, 2 ìë¦¬ì˜ ì•ì— ìˆëŠ” 0ë²ˆì§¸ ê°’ìœ¼ë¡œ 1, 2 ìë¦¬ì— ì±„ìš°ê²Œ ëœë‹¤. 
s.replace([1, 2], method = 'ffill')

0    10.0
1    10.0
2    10.0
3     3.0
4     3.0
5     4.0
dtype: float64

In [68]:
# ë°±ì›Œë“œ í•„ì€ 1, 2 ìë¦¬ì˜ ë’¤ì— ìˆëŠ” 3ë²ˆì§¸ ê°’ìœ¼ë¡œ 1, 2 ìë¦¬ì— ì±„ìš°ê²Œëœë‹¤.
s.replace([1, 2], method = 'bfill')

0    10.0
1     3.0
2     3.0
3     3.0
4     4.0
5     4.0
dtype: float64

### ì¶”ê°€: ë§Œì•½ ì¡°ê±´ìœ¼ë¡œ ë°”ê¾¸ê³ ì í•œë‹¤ë©´

`Series.where` : Replace values based on boolean condition.  
(ê³µì‹ ë¬¸ì„œ: [https://pandas.pydata.org/pandas-docs/version/1.3/reference/api/pandas.DataFrame.where.html#pandas.DataFrame.where])

`DataFrame.where(cond, other=nan, inplace=False, axis=None, level=None, errors='raise', try_cast=NoDefault.no_default)`  
`where()` ë©”ì„œë“œëŠ” ì¡°ê±´ì„ ì£¼ì–´ì„œ, í•´ë‹¹ ì¡°ê±´ì— ë”°ë¼ ê°’ì´ ë°”ë€Œë„ë¡ í•  ìˆ˜ ìˆë‹¤.

In [69]:
s

0    10.0
1     1.0
2     2.0
3     3.0
4     2.0
5     4.0
dtype: float64

In [70]:
# condì— ë§ëŠ” ê°’ë§Œ ê·¸ëŒ€ë¡œ, ë‚˜ë¨¸ì§€ëŠ” NaNì´ ì¶œë ¥ëœë‹¤. 
s.where(cond = s<3)

0    NaN
1    1.0
2    2.0
3    NaN
4    2.0
5    NaN
dtype: float64

In [71]:
# condì— ë§ëŠ” ê°’ë§Œ ê·¸ëŒ€ë¡œ, ë‚˜ë¨¸ì§€ëŠ” íŠ¹ì • ê°’ì´ ì¶œë ¥ë˜ë„ë¡ í•œë‹¤.
s.where(cond = s<3, other = s+100)

0    110.0
1      1.0
2      2.0
3    103.0
4      2.0
5    104.0
dtype: float64

In [72]:
df2

   a  b       c
0  0  5       a
1  1  6       a
2  2  7   bread
3  3  8  cheeze
4  4  9  cheeze

In [73]:
# ë°ì´í„° í”„ë ˆì„ì—ë„ ê·¸ëŒ€ë¡œ ì ìš©í•  ìˆ˜ ìˆë‹¤. 
cond1 = df2['c'] == 'a'
cond2 = df2['b'] == 5
df2.where(cond = cond1&cond2, other = -df)

   a  b    c
0  0  5    a
1 -1 -6  NaN
2 -2 -7  NaN
3 -3 -8  NaN
4 -4 -9  NaN

# `.apply(lambda )` : Applying functions to transform data
ë°ì´í„° ë³€í˜•ì„ ìœ„í•œ í•¨ìˆ˜ ì ìš©

ë°ì´í„°ë¥¼ ì§ì ‘ ë§¤í•‘í•˜ê±°ë‚˜ ëŒ€ì²´í•˜ëŠ” ë°©ë²•ìœ¼ë¡œ ì¶©ë¶„í•˜ì§€ ì•Šì€ ìƒí™©ì´ë¼ë©´ íŠ¹ì • ì•Œê³ ë¦¬ì¦˜ì„ ìˆ˜í–‰í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë°ì´í„°ì— ì ìš©í•˜ëŠ” ë°©ë²•ì´ ìˆë‹¤.  
pandasëŠ” ê°œë³„ ì•„ì´í…œì´ë‚˜ ì¹¼ëŸ¼ ë˜ëŠ” ë¡œìš°ì— í†µì§¸ë¡œ í•¨ìˆ˜ë¥¼ ì ìš©í•  ìˆ˜ ìˆëŠ” ìœ ì—°í•œ ë³€í˜• ê¸°ëŠ¥ì„ ì œê³µí•œë‹¤.  

í•¨ìˆ˜ëŠ” `.apply()`ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ ì ìš©í•  ìˆ˜ ìˆë‹¤.  
`Series`ì˜ ê²½ìš°ì—” ê° ê°’ì´ ì£¼ì–´ì§„ íŒŒì´ì¬ í•¨ìˆ˜ì— ì „ë‹¬ëœë‹¤.  
`DataFrame`ì˜ ê²½ìš°ì—” ê° ì¹¼ëŸ¼ì´ `Sereis`ë¡œ ì „ë‹¬ë˜ë©°, `axis=1` ì˜µì…˜ì„ ì‚¬ìš©í•œë‹¤ë©´ ê° ë¡œìš°ê°€ `Series`ë¡œ ì „ë‹¬ëœë‹¤. 

## `Series`ì— ëŒë‹¤ í•¨ìˆ˜ ì ìš©
`Series`ì˜ ì•„ì´í…œì— í•¨ìˆ˜ë¥¼ ì ìš©í•˜ëŠ” ê²½ìš° ì¸ë±ìŠ¤ ë ˆì´ë¸”ì´ë‚˜ ì¸ë±ìŠ¤ ê°’ì´ ì•„ë‹Œ ê° ì•„ì´í…œì˜ ê°’ë§Œ í•¨ìˆ˜ì— ì „ë‹¬ëœë‹¤.

In [74]:
# demonstrate applying a function to every item of a Series
s = pd.Series(np.arange(0, 5))
s.apply(lambda v: v * 2)

0    0
1    2
2    4
3    6
4    8
dtype: int64

## `DataFrame`ì— ëŒë‹¤ í•¨ìˆ˜ ì ìš©
`DataFrame`ì— í•¨ìˆ˜ë¥¼ ì ìš©í•˜ëŠ” ê²½ìš° ê¸°ë³¸ì ìœ¼ë¡œ ê° ì¹¼ëŸ¼ì— í•¨ìˆ˜ê°€ ì ìš©ëœë‹¤.  
pandasëŠ” ëª¨ë“  ì¹¼ëŸ¼ì„ ëŒë©° ê°ê°ì„ `Series`ë¡œ í•¨ìˆ˜ì— ì „ë‹¬í•œë‹¤.  
ê·¸ ê²°ê³¼ ì¹¼ëŸ¼ëª…ê³¼ ë™ì¼í•œ ì¸ë±ìŠ¤ ë ˆì´ë¸”, ê·¸ë¦¬ê³  í•¨ìˆ˜ì˜ ê²°ê³¼ë¥¼ ê°’ìœ¼ë¡œ ê°–ëŠ” `Series` ê°ì²´ë¥¼ ë°˜í™˜í•œë‹¤.

In [75]:
# demonstrate applying a sum on each column
df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['a', 'b', 'c'])
df

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

ê° ì»¬ë ´ë³„ë¡œ í•©ì„ êµ¬í•˜ëŠ” ê²ƒìœ¼ë¡œ `Series`ê°€ ë°˜í™˜ë˜ì—ˆë‹¤.

In [76]:
# calculate cumulative sum of items in each column
df.apply(lambda col: col.sum())

a    18
b    22
c    26
dtype: int64

ë§Œì•½ ì¹¼ëŸ¼ ë³„ì´ ì•„ë‹Œ ë¡œìš° ë³„ë¡œ, ì ìš©ì„ í•œë‹¤ë©´ `axis = 1` ì˜µì…˜ì„ í™œìš©í•œë‹¤.

In [77]:
# calculate sum of items in each row
df.apply(lambda row: row.sum(), axis=1)

0     3
1    12
2    21
3    30
dtype: int64

ì¼ë°˜ì ì¸ í™œìš© ì‚¬ë¡€ëŠ” í•¨ìˆ˜ì˜ ì ìš© ê²°ê³¼ë¥¼ ìƒˆ ì¹¼ëŸ¼ìœ¼ë¡œ ë°ì´í„° í”„ë ˆì„ì— ì¶”ê°€í•˜ëŠ” ê²ƒì´ë‹¤.  
ì´ëŠ” í•œ ë²ˆ ì´ìƒì˜ ì—°ì´ì€ ê³„ì‚° ê²°ê³¼ë¥¼ `DataFrame`ì— ê³„ì† ë§ë¶™ì„ìœ¼ë¡œì¨ ê° ê²°ê³¼ê°€ ì ì§„ì ìœ¼ë¡œ ë³€í™”ëœ ëª¨ìŠµì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤ëŠ” ì ì—ì„œ ìœ ìš©í•˜ë‹¤.  

ë‹¤ìŒì€ a, bì¹¼ëŸ¼ì˜ ê° ë¡œìš° ë³„ ë°ì´í„°ë¥¼ ê³±í•œ ê²°ê³¼ë¥¼ ìƒˆ ì¹¼ëŸ¼ìœ¼ë¡œ ì¶”ê°€í•˜ëŠ” ê²ƒì´ë‹¤.  
ê·¸ë¦¬ê³  í•´ë‹¹ ì¹¼ëŸ¼ì„ cì¹¼ëŸ¼ê³¼ ë”í•œ ê²°ê³¼ë¥¼ ìƒˆ ì¹¼ëŸ¼ìœ¼ë¡œ ì¶”ê°€í•˜ëŠ” ê³¼ì •ì´ë‹¤.

In [78]:
# create a new column 'interim' with a * b
df['interim'] = df.apply(lambda r: r.a * r.b, axis=1)
df

   a   b   c  interim
0  0   1   2        0
1  3   4   5       12
2  6   7   8       42
3  9  10  11       90

In [79]:
# and now a 'result' column with 'interim' + 'c'
df['result'] = df.apply(lambda r: r.interim + r.c, axis=1)
df

   a   b   c  interim  result
0  0   1   2        0       2
1  3   4   5       12      17
2  6   7   8       42      50
3  9  10  11       90     101

ê¸°ì¡´ì˜ ì¹¼ëŸ¼ ê°’ì„ ë°”ê¾¸ê³  ì‹¶ë‹¤ë©´ ë‹¨ìˆœíˆ ê³„ì‚° ê²°ê³¼ë¥¼ ê·¸ ì¹¼ëŸ¼ì— í• ë‹¹ í•˜ë©´ëœë‹¤.  
ë‹¤ìŒì€ ì¹¼ëŸ¼ aê°’ì„ ê° ë¡œìš°ì˜ í•©ìœ¼ë¡œ ë°”ê¾¸ëŠ” ì˜ˆì‹œì´ë‹¤.

In [80]:
# replace column a with the sum of columns a, b and c
df.a = df.a + df.b + df.c
df

    a   b   c  interim  result
0   3   1   2        0       2
1  12   4   5       12      17
2  21   7   8       42      50
3  30  10  11       90     101

ê´€ë¡€ìƒ ê¸°ì¡´ ì¹¼ëŸ¼ì„ ì™„ì „íˆ ìƒˆë¡œìš´ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ì¼ì€ ì¢‹ì€ ë°©ë²•ì´ ì•„ë‹ˆë©°, ìƒì–´ë²„ë¦° ë°ì´í„°ë¡œ ì¸í•´ ë””ë²„ê¹…ì„ ê³¤ë€í•˜ê²Œ ë§Œë“¦ìœ¼ë¡œì¨ ì¢…ì¢… ì¼ì‹œì /ì§€ì†ì  ë¬¸ì œë¥¼ ì•¼ê¸°í•  ìˆ˜ ìˆë‹¤.  
ë”°ë¼ì„œ pandasì—ì„œëŠ” ê·¸ëƒ¥ ìƒˆ ë¡œìš°ë‚˜ ì¹¼ëŸ¼, ë˜ëŠ” ì™„ì „íˆ ìƒˆë¡œìš´ ê°ì²´ë¡œ ì¶”ê°€í•˜ëŠ” ê²ƒì´ ì¼ë°˜ì ì´ë©° ë” ë‚˜ì€ ê´€í–‰ì´ë‹¤. 
(ë‚˜ì¤‘ì— ë©”ëª¨ë¦¬ë‚˜ ì„±ëŠ¥ì˜ ì´ìŠˆê°€ ìƒê¸´ë‹¤ë©´ ê·¸ì— ë”°ë¥¸ ìµœì í™”ë¥¼ ìˆ˜í–‰í•˜ë©´ ë¨)  

ìœ ë…í•´ì•¼ í•  ë˜ ë‹¤ë¥¸ ì‚¬í•­ì€ pandasì˜ `DataFrame`ì€ ìŠ¤í”„ë ˆë“œì‹œíŠ¸ê°€ ì•„ë‹ˆë¼ëŠ” ì .  
ìŠ¤í”„ë ˆë“œì‹œíŠ¸ì—ì„œëŠ” ìˆ˜ì‹ ìì²´ë„ ì…€ì— í• ë‹¹ë˜ë©°, ì°¸ì¡°í•˜ëŠ” ì…€ì˜ ê°’ì´ ë³€ê²½ë  ê²½ìš° ìˆ˜ì‹ì´ ìë™ìœ¼ë¡œ ë‹¤ì‹œ ê³„ì‚°ëœë‹¤. pandasì—ì„œëŠ” ê·¸ë ‡ê²Œ ê°’ì´ ë°”ë€Œì–´ì„œ ë‹¤ì‹œ ê³„ì‚°í•˜ê³ ì í•œë‹¤ë©´ ì¼ì¼ì´ ìˆ˜ë™ìœ¼ë¡œ í•´ì•¼í•œë‹¤. ë’¤ì§‘ì–´ ìƒê°í•˜ë©´ ì„±ëŠ¥ìƒ ì´ê²Œ ë‚˜ì„ ìˆ˜ ìˆëŠ”ë°, ì–´ë–¤ ë°ì´í„°ì˜ ë³€ê²½ì´ë¼ë„ ê·¸ì— ë”°ë¥¸ ëª¨ë“  ê³„ì‚° ì‘ì—…ì„ ì—°ì‡„ì ìœ¼ë¡œ ì¼ìœ¼í‚¤ì§€ ì•Šê¸° ë•Œë¬¸ì´ë‹¤.  

`.apply()`ë©”ì„œë“œëŠ” `Series`, ì¹¼ëŸ¼, ë¡œìš°ì˜ ëª¨ë“  ì•„ì´í…œì— ëŒ€í•´ í•¨ìˆ˜ë¥¼ ì ìš©í•œë‹¤.  
íŠ¹ì • ë°ì´í„° ì„œë¸Œì…‹ì—ë§Œ í•¨ìˆ˜ë¥¼ ì ìš©í•˜ê³  ì‹¶ë‹¤ë©´ ë¨¼ì € ë¶ˆë¦¬ì–¸ ì„ íƒì„ í†µí•´ ì²˜ë¦¬ ëŒ€ìƒì„ ì¶”ë ¤ì•¼ í•œë‹¤.  

ë‹¤ìŒì€ `NaN`ê°’ì„ ì¶”ê°€í•œ ë°ì´í„°í”„ë ˆì„ì—ì„œ, `NaN`ì´ ì•„ë‹Œ ëª¨ë“  ê°’ì— í•¨ìˆ˜ë¥¼ ì ìš©í•˜ëŠ” ì˜ˆì‹œì´ë‹¤.  
`.dropna()`ë¥¼ ì‚¬ìš©í•˜ë©´ì„œ [1]ë²ˆ ì¸ë±ìŠ¤ì˜ ë¡œìš°ê°€ ì‚¬ë¼ì§€ê²Œë˜ê³ , ë‚¨ì€ [0], [2]ë²ˆ ì¸ë±ìŠ¤ì—ë§Œ í•¨ìˆ˜ê°€ ì ìš©ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆë‹¤.

In [81]:
# create a 3x5 DataFrame
# only second row has a NaN
df = pd.DataFrame(np.arange(0, 15).reshape(3,5))
df.loc[1, 2] = np.nan
df

    0   1     2   3   4
0   0   1   2.0   3   4
1   5   6   NaN   8   9
2  10  11  12.0  13  14

In [82]:
# demonstrate applying a function to only rows having
# a count of 0 NaN values
df.dropna().apply(lambda x: x.sum(), axis=1)

0    10.0
2    60.0
dtype: float64

## `.applymap()` : ëª¨ë“  ê°œë³„ ê°’ì— í•¨ìˆ˜ ì ìš©
`.apply()` ë©”ì„œë“œê°€ í•­ìƒ ë¡œìš°ë‚˜ ì¹¼ëŸ¼ì— í†µì§¸ë¡œ í•¨ìˆ˜ë¥¼ ì ìš©í•˜ëŠ” ë°˜ë©´, `.applymap()` ë©”ì„œë“œëŠ” ëª¨ë“  ê°œë³„ ê°’ì— í•¨ìˆ˜ë¥¼ ì ìš©í•œë‹¤.  

ì—¬ê¸°ì„œ ê° ê°’ë“¤ì— ì†Œìˆ˜ì  ìë¦¬ë¥¼ ì ìš©í•˜ëŠ” ì˜ˆì‹œì´ë‹¤.  
ì•„ ë¬¼ë¡  ë°ì´í„° íƒ€ì…ì€ ... ìš°ë¦¬ê°€ ì›í•˜ëŠ” í˜•íƒœì—ì„œ ë²—ì–´ë‚˜ê²Œ ëœ ë°©ì‹ì´ë‹¤...

ë§Œì•½ ì •ìˆ˜ë¥¼ ì†Œìˆ˜ë¡œ í‘œí˜„í•˜ê³  ì‹¶ë‹¤ë©´ ë‚˜ë¼ë©´, intë¥¼ ì‚¬ìš©í•˜ê² ë‹¤.

In [83]:
# use applymap to format all items of the DataFrame
df.applymap(lambda x: '%.2f' % x)

       0      1      2      3      4
0   0.00   1.00   2.00   3.00   4.00
1   5.00   6.00    nan   8.00   9.00
2  10.00  11.00  12.00  13.00  14.00

In [84]:
# ë°ì´í„°íƒ€ì…ì´ objectì´ë‹¤
df.applymap(lambda x: '%.2f' % x).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
 2   2       3 non-null      object
 3   3       3 non-null      object
 4   4       3 non-null      object
dtypes: object(5)
memory usage: 248.0+ bytes

In [85]:
# ê¼­ ë‘ìë¦¬ í•´ì•¼í•˜ëŠ” ê²Œ ì•„ë‹ˆë©´ ê·¸ëŸ¬ì§€ë§ê³ .. ì´ë ‡ê²Œ
df.applymap(lambda x: float(x))

      0     1     2     3     4
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   NaN   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0

In [86]:
df.applymap(lambda x: float(x)).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      float64
 1   1       3 non-null      float64
 2   2       2 non-null      float64
 3   3       3 non-null      float64
 4   4       3 non-null      float64
dtypes: float64(5)
memory usage: 248.0 bytes