<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuring-pandas" data-toc-modified-id="Configuring-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuring pandas</a></span></li><li><span><a href="#데이터의-조합,-연관,-재형성" data-toc-modified-id="데이터의-조합,-연관,-재형성-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>데이터의 조합, 연관, 재형성</a></span></li><li><span><a href="#복수-객체의-데이터-접합" data-toc-modified-id="복수-객체의-데이터-접합-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>복수 객체의 데이터 접합</a></span><ul class="toc-item"><li><span><a href="#Concatenating-data" data-toc-modified-id="Concatenating-data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Concatenating data</a></span></li><li><span><a href="#Series-간의-접합" data-toc-modified-id="Series-간의-접합-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>Series</code> 간의 접합</a></span></li><li><span><a href="#DataFrame간의-접합" data-toc-modified-id="DataFrame간의-접합-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span><code>DataFrame</code>간의 접합</a></span><ul class="toc-item"><li><span><a href="#없는-칼럼에-등장하는-NaN" data-toc-modified-id="없는-칼럼에-등장하는-NaN-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>없는 칼럼에 등장하는 <code>NaN</code></a></span></li><li><span><a href="#(keys-=-[])-:-접합된-데이터를-구분하는-계층형-인덱스-생성" data-toc-modified-id="(keys-=-[])-:-접합된-데이터를-구분하는-계층형-인덱스-생성-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span><code>(keys = [])</code> : 접합된 데이터를 구분하는 계층형 인덱스 생성</a></span></li><li><span><a href="#(axis-=-)-:-정렬-기준의-축의-전환" data-toc-modified-id="(axis-=-)-:-정렬-기준의-축의-전환-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span><code>(axis = )</code> : 정렬 기준의 축의 전환</a></span></li></ul></li></ul></li><li><span><a href="#An-overview-of-merges" data-toc-modified-id="An-overview-of-merges-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>An overview of merges</a></span></li><li><span><a href="#Specifying-the-join-semantics-of-a-merge-operation" data-toc-modified-id="Specifying-the-join-semantics-of-a-merge-operation-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Specifying the join semantics of a merge operation</a></span></li><li><span><a href="#Pivoting" data-toc-modified-id="Pivoting-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Pivoting</a></span></li><li><span><a href="#Stacking-using-non-hierarchical-indexes" data-toc-modified-id="Stacking-using-non-hierarchical-indexes-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Stacking using non-hierarchical indexes</a></span></li><li><span><a href="#Unstacking-using-hierarchical-indexes" data-toc-modified-id="Unstacking-using-hierarchical-indexes-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Unstacking using hierarchical indexes</a></span></li><li><span><a href="#Melting" data-toc-modified-id="Melting-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Melting</a></span></li><li><span><a href="#Performance-benefits-of-stacked-data" data-toc-modified-id="Performance-benefits-of-stacked-data-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Performance benefits of stacked data</a></span></li></ul></div>

# Configuring pandas

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# version check
print(pd.__version__)
print(np.__version__)
import sys
print(sys.version)

1.4.1
1.22.4
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

# 데이터의 조합, 연관, 재형성
---
데이터는 흔히 이름(속성/변수)으로 참조되는 관련 값들의 논리적 구조인 엔티티(entity)의 집합으로 모델링되며, 여러 로우로 조직화된 다수의 표본이나 인스턴스를 포함한다.  
엔티티는 사람이나 사물 인터넷(IoT)에서의 센서 등 실제 세계의 개체를 대변한다. 각 특정 엔티티와 측정치는 하나의 `DataFrame`을 사용해 모델링된다.  

보통은 모델 안의 엔티티들에 대한 갖가지 작업이 필요하다. 예를 들어 여러 지역의 여러 고객 엔티티를 조합해 하나의 pandas 객체로 만들어야 할 수 있다. 고객과 주문 엔티티는 배송 주소를 찾기 위해 연결될 수 있다.  
또한 하나의 모델에 저장된 데이터를 다른 모델로 재형성시킬 필요도 있는데, 동일한 타입의 엔티티라도 소스가 다르다면 다르게 모델링돼야 하기 때문이다. 

11장에서는 모델 안에서의 데이터 조합, 연관, 재형성과 관련된 작업을 알아본다.  
- 복수 객체의 데이터 접합
- 복수 객체의 데이터 병합
- 병합 시 조인 유형 지정
- 인덱스와 값 사이의 pivoting
- 데이터 stacking과 unstacking
- 넓은 포맷과 긴 포맷 사이의 데이터 melting

# 복수 객체의 데이터 접합
---
pandas에서 접합(concatenation)은 둘 이상의 pandas 객체로부터 가져온 데이터를 연결해 새 객체로 만드는 과정을 말한다.  

`Series` 접합의 경우 단순히 두 `Series`의 값이 연결된 새 `Series`가 만들어진다.  

`DataFrame` 객체의 접합은 조금 복잡한데, `DataFrame`의 어느 축(행, 열)을 기준으로 하든 접합할 수 있으며, pandas는 그 축에 따라 인덱스 레이블에 **관계형 조인 로직**을 수행한다. 그다음엔 나머지 축을 따라 레이블을 정렬하고 결측 값을 채운다.  

접합의 경우 고려해야 할 요소가 많으므로 나누어본다. 
- 접합의 기본 의미
- 정렬을 위한 기준 축 전환
- 조인 유형 지정
- 데이터 덧붙이기
- 인덱스 레이블의 무시


## Concatenating data
접합의 기본 의미  

접합은 pandas의 `pd.concat()`함수를 통해 가능하며, 이 함수에 접합하고자 하는 객체의 리스트를 전달하는 것이 기본적인 문법이다. 

## `Series` 간의 접합
기본적으로 행 방향으로 이어붙여지게 된다.  
**정렬 작업이 일어나지 않았으므로 인덱스 레이블이 중복된 결과를 보여준다.**

In [2]:
# two Series objects to concatenate
s1 = pd.Series(np.arange(0, 3))
s2 = pd.Series(np.arange(5, 8))
s1

0    0
1    1
2    2
dtype: int64

In [3]:
s2

0    5
1    6
2    7
dtype: int64

In [4]:
# concatenate them
pd.concat([s1, s2])

0    0
1    1
2    2
0    5
1    6
2    7
dtype: int64

## `DataFrame`간의 접합
0\~8 수와 9\~17 수로 이루어진 두 데이터 프레임을 콘캣해본다.  
아무 조건 없이 하면 행 방향으로 콘캣이 이루어진다. (기본적으로 로우가 연결되며 인덱스 레이블이 중복됨)  

### 없는 칼럼에 등장하는 `NaN`
칼럼 레이블은 두 DataFrame 객체의 칼럼 레이블이 통합되는데, 두 개 이상이 될 수 있는 모든 소스 객체에 대해 정렬 작업이 일어나기 때문이다.  
pandas는 총합된 결과에 현재 처리하고 있는 `DataFrame`에는 없었던 칼럼이 존재할 경우에는 `NaN`값을 삽입하게 된다.  
즉 공통의 칼럼과 그렇지 않은 칼럼이 다 존재할 때는 `NaN`이 존재하게 된다.

In [6]:
# create two DataFrame objects to concatenate
# using the same index labels and column names, 
# but different values
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), 
                   columns=['a', 'b', 'c'])
#df2 has 9 .. 18
df2 = pd.DataFrame(np.arange(9, 18).reshape(3, 3), 
                   columns=['a', 'b', 'c'])
df1

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [7]:
df2

    a   b   c
0   9  10  11
1  12  13  14
2  15  16  17

In [8]:
# do the concat
pd.concat([df1, df2])

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
0   9  10  11
1  12  13  14
2  15  16  17

콘캣 시 없는 서로 존재하지 않는 칼럼에 대해 `NaN`이 나타나는 결과이다.

In [9]:
# demonstrate concatenating two DataFrame objects with
# different columns
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), 
                   columns=['a', 'b', 'c'])
df2 = pd.DataFrame(np.arange(9, 18).reshape(3, 3), 
                   columns=['a', 'c', 'd'])
df1

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [10]:
df2

    a   c   d
0   9  10  11
1  12  13  14
2  15  16  17

In [11]:
# do the concat, NaN's will be filled in for
# the d column for df1 and b column for df2
pd.concat([df1, df2])

    a    b   c     d
0   0  1.0   2   NaN
1   3  4.0   5   NaN
2   6  7.0   8   NaN
0   9  NaN  10  11.0
1  12  NaN  13  14.0
2  15  NaN  16  17.0

### `(keys = [])` : 접합된 데이터를 구분하는 계층형 인덱스 생성
접합된 데이터를 구분할 수 있게 `keys=` 파라미터를 사용하여 각 그룹에 이름을 지정할 수 있다.  
이 파라미터는 계층형 인덱스를 생성함으로써 `DataFrame`의 `.loc`속성을 통해 각 데이터 그룹을 개별적으로 참조할 수 있게 해준다.  
이는 나중에 결과 `DataFrame`에서 어느 데이터가 어느 소스에서 왔는지를 판별할 수 있게 하는 편리한 방법이다.  

다음은 원래의 각 `DataFrame` 객체에 이름을 부여하고, 접합한 다음, df2 객체로부터 유래한 로우만 확인하는 과정이다.

In [12]:
# concat the two objects, but create an index using the
# given keys 
df_concated = pd.concat([df1, df2], keys=['df1', 'df2'])

# note in the labeling of the rows in the output
df_concated

        a    b   c     d
df1 0   0  1.0   2   NaN
    1   3  4.0   5   NaN
    2   6  7.0   8   NaN
df2 0   9  NaN  10  11.0
    1  12  NaN  13  14.0
    2  15  NaN  16  17.0

부여했던 키를 사용하여 특정 데이터 서브셋만 조회할 수 있다.

In [13]:
# we can extract the data originating from
# the first or second source DataFrame
df_concated.loc['df2']

    a   b   c     d
0   9 NaN  10  11.0
1  12 NaN  13  14.0
2  15 NaN  16  17.0

### `(axis = )` : 정렬 기준의 축의 전환
접합 시의 정렬 기준이 되는 축을 지정할 수 있다.  

다음은 두 `DataFrame`객체를 칼럼 축을 기준으로 접합시킴으로써 로우 인덱스에 대해 정렬이 되게 만든 예시이다.