# Path of Exile game stats data eda

dates: 2022.05.17 ~ 

This file contains an analysis processing of the game 'Path of Exile' data.

###### Origins of datas from here: 
poe_stats : https://www.kaggle.com/datasets/gagazet/path-of-exile-league-statistic

Data contains stats of 59000 players, from 4th August of 2017 and before now.

---

특정 유저들을 골라내는 위주로 분석을 진행할 노트북입니다. 이름을 이용하거나, 트위치 아이디를 이용하는 방식입니다.

# Dataset and libraries 

## data and libraries import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
# import wquantiles

# from sklearn.utils import resample
# from scipy import stats
# from scipy.stats import trim_mean
# from statsmodels import robust
# import statsmodels.api as sm
# import statsmodels.formula.api as smf
# from statsmodels.stats import power

df = pd.read_csv('poe_stats_2revisedrank.csv')

In [2]:
df.head(10)

,rank,dead,online,name,level,class,id,experience,account,challenges,twitch,ladder,special_class,stat_Str,stat_Int,stat_Dex,stats_num
0,1,False,False,Tzn_NecroIsFineNow,100,Necromancer,3dcddd59f5088893f734f39686350990dae168cc4f4b00...,4250334444,TheTzn,40,thetzn,Harbinger,1,0,1,0,1
1,1,False,False,RaizNeverFirstQT,100,Necromancer,8f3216db5ac9106c287a834731aafc83c387138f28fc45...,4250334444,RaizQT,22,raizqt,SSF Harbinger HC,1,0,1,0,1
2,1,False,False,GucciStreamerAdvantage,100,Necromancer,c6ec2dae3855c551e0597c06ef2da06fbb5512487ded7f...,4250334444,GucciPradas,35,guccipradas,Hardcore Harbinger,1,0,1,0,1
3,1,False,False,ChiroxPrime,100,Slayer,c861372da792be0b22c45bf437ccd58437c52e9455e0bf...,4250334444,Chiroxun,26,NaN,SSF Harbinger,1,1,0,1,2
4,2,False,False,Cool_NecroIsFineNow,100,Deadeye,24ae924ceed7989ef3d3d6772612832bb467a6094352c7...,4250334444,cooltail,22,NaN,Harbinger,1,0,0,1,1
5,2,False,False,SteelStreamerAdvantage,100,Deadeye,51acb8e6fac3cfaa7ff848151dad01b0a6f350e7525543...,4250334444,Steelmage,37,steelmage202,Hardcore Harbinger,1,0,0,1,1
6,2,False,False,Grom_WhyGodThreeCmWhy,100,Gladiator,5d8b80b2bdd30f3dba1036a6791187562758935e8d4723...,4250334444,rocklegend,22,gromick,SSF Harbinger HC,1,1,0,1,2
7,2,False,False,beobio_capitan,100,Inquisitor,65c58f9b186e1fbe9f927484f3f178cdb9ee0dc2427289...,4250334444,TishaVosemsot,40,beobio,SSF Harbinger,1,1,1,0,2
8,3,False,False,Rami_The_Negromaniac,100,Necromancer,00c0030fc548cc4c0d804564f8fb356610044b7e6d484f...,4250334444,rami1337,40,rami1337,Harbinger,1,0,1,0,1
9,3,False,False,FutonBlewAway,100,Raider,46e56572ff6e403f45fac597240e13e9af225f06ca4e52...,4250334444,pleaGRC,40,NaN,SSF Harbinger,1,0,0,1,1

In [3]:
df.shape

(59776, 17)

# Let's unique user analyzing!

주로 이용할 컬럼은 account, id, name, twitch이다.

이전에 데이터셋을 탐색하며 보았듯, account는 유저의 계정 자체를 의미하며, id는 캐릭터 자체 고유아이디. name은 해당 캐릭터의 이름이며, twitch는 유저가 선택적으로 입력하는 자신의 twitch아이디이다. twitch 컬럼은 유일하게 Nan 값이 있었던 컬럼이기도 하다.

In [5]:
df[['account', 'name', 'id', 'twitch']].describe()

,account,name,id,twitch
count,59776,59776,59776,16300
unique,37123,58286,59776,9613
top,chuz101,_Flic_,3dcddd59f5088893f734f39686350990dae168cc4f4b00...,thespunkylobster
freq,30,14,1,18

In [4]:
# 전체

df.nunique()

rank             14981
dead                 2
online               2
name             58286
level               48
class               26
id               59776
experience       54124
account          37123
challenges          37
twitch            9613
ladder               4
special_class        2
stat_Str             2
stat_Int             2
stat_Dex             2
stats_num            3
dtype: int64

In [11]:
# 정리

print('Account: ', df['account'].nunique())
print(df['name'].nunique())
print(df['id'].nunique())
print(df['twitch'].nunique())

37123
58286
59776
9613

# About 'id'
---

In [ ]:
# 고유값 확인

print(df.shape)
print(df['id'].nunique())

# About 'name'
---

id는 고유하지만 name은 겹치는 것들이 분명 있었습니다. 캐릭터 name을 정하는데에 있어서 제한이 있는 것으로는 보이지 않습니다.

In [ ]:
# 고유값 확인

df['name'].nunique()

In [ ]:
df['name'].sample(5)

이름에서 겹치는 것들은 무엇이 있지?

아이디를 지을 수 있는 규칙은?

겹치면서 트위치 아이디가 같은 사람들도 있나 ? 그러면 같은 사람으로 유추할 수 있지 않을까?

비슷한 아이디가 또 있지 않을까? 비슷한 아이디는 어떻게?

한 사람이 다계정을 가지고 있지는 않을까?

##### 가장 확실한 실마리는  'account'이다.

In [ ]:
df['account'].value_counts().sort_values(ascending=False)

## same name, different id

In [ ]:
df[['account','name', 'id', 'twitch']].describe()

같은 유저가 다른 id를 만들어서 운영중이기도 할까?

In [ ]:
df[['account','name', 'id', 'twitch']].groupby(by = 'name').count()

In [ ]:
df[['name', 'id']].groupby(['name'])['id'].count().sort_values(ascending=False).head(30)

In [ ]:
# name = '_Flic_' are 14.

df[df['name'] == '_Flic_']

In [ ]:
df[df['name'] == '_Flic_'].nunique()

### Commentary

이 Flic이라는 아이디를 쓰는 유저는 한 사람이다. twitch 아이디는 적혀있지 않지만 account가 한개이다. 

우연으로 겹친 아이디도 분명 있을 수도 있다. 

그런 유저들이 있는지, 같은 아이디이지만 다른 트위치 아이디를 가진 유저들을 찾아보자.

In [ ]:
df['name'].value_counts().sort_values(ascending=False)

In [ ]:
df['twitch'].value_counts().sort_values(ascending=False)

한 twitch 아이디 안에 있는 여러 이름과 아이디들을 보자.

가장 많은 수를 기록했던 thespunkylobster 를 보도록 해보자.

In [ ]:
# twitch = thespunkylobster

df[df['twitch'] == 'thespunkylobster']

In [ ]:
df[df['twitch'] == 'thespunkylobster'].nunique()

In [ ]:
df[df['twitch'] == 'thespunkylobster'].nunique()

### Commentary

name 을 보면 약간의 규칙이 있다. Skooma, Skomma, Lobster(s), Khajiit 등의 표현을 넣고 있으며, 그런 표현은 한 번만 등장하지 않는다. 

이를 보아서는 한 고수 유저가 최대 18개의 아이디를 관리하며 랭킹에 이름을 올렸을 가능성이 있다. 신기한 것은 이 유저는 SSF Harbinger HC 즉 혼자 하는 Hardcore 모드에만 등장한다는 점이다.